.setting-company-manage{
  background:#f0f3f8;
  .state{
    width: 95%;
    margin: 0 auto;
    .state-con{
      height:60px;
      line-height:60px;
      font-size:16px;
      color:#666666;
      padding-bottom:10px;
      span{
        //display:inline-block;
        padding:7px 15px;
        border-radius: 17px;
      }
      span.active{
        background:#4dd5bf;
        color:#ffffff;
      }
    }
  }
  .user-con {
    width: 100%;
    //min-width:1000px;
    margin: 0 auto;
    background:#ffffff;
    font-size:14px;
    color:#888888;
    padding-top:25px;
    .user-content{
      width:95%;
      margin:0 auto;
    }
    .top{
      display:flex;
      //width:95%;
      margin:0 auto;


      .find{
        flex:3;
        label{
          font-weight: normal;
        }
        select,input{
          width:122px;

          height:30px;
          border-radius: 3px;
          margin-right:10px;
          margin-left:5px;
          border:1px solid #dee6ee;
        }
        button{
          width:70px;
          height:30px;
          border:1px solid #5ccfc7;
          border-radius: 3px;
          background:#ffffff;
        }
      }
      .user-add{
        flex:2;
        text-align:right;
        .line{
          margin:0 20px;
        }
        .hand{
          img{
            vertical-align: bottom;
          }
          .action{
            vertical-align: bottom;
          }
        }
      }
    }
    .details{
      margin-top:20px;
      //table{
      //  text-align:center;
      //  thead{
      //    background:#f7f7f7;
      //  }
      //  tbody{
      //    .action{
      //      p{
      //        width:150px;
      //        margin:0 auto;
      //      }
      //      span{
      //        //display:inline-block;
      //        border:1px solid #bebdbd;
      //        padding:4px 8px;
      //        cursor: pointer;
      //        border-radius: 2px;
      //      }
      //      span:first-child{
      //        margin-right:10px;
      //      }
      //    }
      //  }
      //}
      //td {
      //  white-space: nowrap;
      //  height:46px;
      //  line-height:46px;
      //  vertical-align: middle;
      //}
    }

  }
}
.setting-choice-scene{
  z-index: 99;
  position: fixed;
  left: 140px;
  top: 0;
  width: 100%;
  height: 927px;
  background: rgba(156, 152, 147, 0.7);
  .set-center{
      width:504px;
    margin:0 auto;
     text-align:center;
      position:absolute;
      left:50%;
      top:175px;
      margin-left:-252px;
      border:14px solid rgba(98, 98, 98,0.5);
      background:#ffffff;
      .set-title{
        height:45px;
        width:100%;
        border-bottom:1px dashed #d6d9de;
        text-align:center;
        span{
          display:inline-block;
          color:#454545;
          margin-top:34px;
          background:#ffffff;
        }
      }
      .set-content{
        margin:0 auto;
        width:100%;
        ul{
          width:100%;
          margin-top:45px;
          margin-left: 0;
          padding:0;
          li{
            text-align: center;
            height:47px;
            line-height:47px;
            width:330px;
            background:#f8f8f8;
            margin-bottom:14px;
            display:inline-block;
            padding-left:10px;
            .current{
              display:inline-block;
              height:22px;
              line-height: 22px;
              padding:0 12px;
              color:#f7f7f5;
              background:#3cc897;
              margin-right:10px;
              border-radius: 11px;
            }
            .company-name{
             color:#565656;
            }
          }
        }
        .create{
          width:100%;
          color: #63d0a7;
          margin-left:220px;
        }
      }
      .manage-btn{
      width:330px;
      margin:30px auto;
      text-align: center;
      height:47px;
      line-height:47px;
      background:#3dc998;
      color:#f9f8f6;
    }
    }
  .close-style {
    width: 30px;
    height: 30px;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    color: #e0e0e0;
    text-align: center;
    line-height: 30px;
    position: absolute;
    left:50%;
    top:175px;
    margin-left: 238px;
    margin-top: -225px;
  }

}