.setting-role-add{
  width:100%;
  //min-width:1000px;
  margin:0 auto;
  background: #ffffff;
  padding-top:35px;
  .edit-content{
    width:90%;
    margin:0 auto;
    font-size:16px;
    color:#666666;
    padding-bottom:80px;
    .role-title{
      height:50px;
      line-height:50px;
      font-size:18px;
      color:#666666;
    }
    .role{
      td{
        height:60px;
        line-height:60px;
      }
    }
    .title{
      background:#f7f7f7;
      text-align:right;
    }
    td{
      height:80px;
      //line-height:80px;
      vertical-align: middle;
      input{
        width:300px;
        height:40px;
        line-height:40px;
        padding-left:20px;
      }
      span{
        display:inline-block;
        padding:5px 7px;
        border:1px solid #e0e6ec;
        border-radius: 3px;
        cursor: pointer;
        margin-left:5px;
        margin-top:5px;
      }
      span.active{
        background:#4dd5bf;
        color:#ffffff;
        border:1px solid #ffffff;
      }
    }
    .action{
      text-align:center;
      button{
        font-size:18px;
        color:#ffffff;
        width:130px;
        height:50px;
        background:#3dca99;
        border:none;
        border-radius: 4px;
        margin-left:20px;
      }
    }
  }
}