<div class="proposal_export">
    <!--专利导入出-->
    <div class="export_main">
        <div class="export_info">
            <span>导出范围 :</span>
            <span>已选择提案</span>
        </div>
        <div class="export_info">
            <span>导出格式 :</span>
            <span>XLS</span>
        </div>
        <div class="export_info">
            <span>导出字段 :</span>
           <div class="export_info_details">
               <span class="export_info_type" ng-repeat="item in exportList">
                   <span style="">{{item.field_name}}</span><span ng-click="deleteExport($index)" style="color:red;cursor:pointer;margin-right: 5px;margin-left:3px">X</span>
               </span>
           </div>
        </div>
        <div class="export_info">
            <div class="export_info_ready">
                <span>待选字号</span>
                    <div class="export_info_choose">
                        <div class="type_btn" ng-repeat="item in colummList"
                             ng-click="addExport(item.field,item.field_name)">
                            {{item.field_name}}
                        </div>
                        <!--<div class="type_btn">提案名称</div>-->
                        <!--<div class="type_btn">提案类型</div>-->
                        <!--<div class="type_btn">发明人</div>-->
                        <!--<div class="type_btn">所属产品</div>-->
                        <!--<div class="type_btn">提案关键词</div>-->
                        <!--<div class="type_btn">发明点概述</div>-->
                        <!--<div class="type_btn">技术交底附图</div>-->
                        <!--<div class="type_btn">专利检索报告</div>-->
                        <!--<div class="type_btn">承办人</div>-->
                        <!--<div class="type_btn">提案部门</div>-->
                        <!--<div class="type_btn">技术领域</div>-->
                        <!--<div class="type_btn">第一发明人身份证</div>-->
                        <!--<div class="type_btn">其他附件</div>-->
                        <!--<div class="type_btn">摘要</div>-->
                        <!--<div class="type_btn">备注</div>-->
                </div>
            </div>
        </div>
    </div>
    <!-- 成功导出-->
    <div style="display:none" class="export_success">
        <div class="glyphicon glyphicon-ok">
            <p>导出成功</p>
        </div>
    </div>
    <div class="save">
        <div class="save_button btn_active" ng-click="saveEcxl()">保存</div>
        <div class="save_button">取消</div>

    </div>
</div>