/* line 2, ../../scss/proposal/processed.scss */
.proposal_processed {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
/* line 6, ../../scss/proposal/processed.scss */
.proposal_processed .container {
  padding: 0;
  width: 100%;
}
/* line 9, ../../scss/proposal/processed.scss */
.proposal_processed .container .top-bar {
  background: #fff;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #e5e8ed;
  box-shadow: 0 0 2px 2px #e5e8ed;
}
/* line 15, ../../scss/proposal/processed.scss */
.proposal_processed .container .top-bar .btn-nav-bar {
  width: 164px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-right: 1px solid #dcdcdc;
  display: inline-block;
  position: relative;
}
/* line 23, ../../scss/proposal/processed.scss */
.proposal_processed .container .top-bar .btn-nav-bar:active {
  color: #3dca99;
}
/* line 26, ../../scss/proposal/processed.scss */
.proposal_processed .container .top-bar .btn-nav-bar .close {
  position: absolute;
  top: 36%;
  left: 140px;
  color: #3dca99;
  font-size: 16px;
  font-weight: normal;
}
/* line 34, ../../scss/proposal/processed.scss */
.proposal_processed .container .top-bar .btn-nav-bar .trangle {
  position: absolute;
  left: 45%;
  top: 92%;
  color: #fff;
}
/* line 42, ../../scss/proposal/processed.scss */
.proposal_processed .container .top-bar .top-btn div {
  border-left: 1px solid #bebdbd;
  width: 35px;
  height: 25px;
  cursor: pointer;
  line-height: 25px;
  text-align: center;
}
/* line 53, ../../scss/proposal/processed.scss */
.proposal_processed .container .sec-nav {
  padding: 0 40px;
  height: 70px;
  line-height: 70px;
}
/* line 57, ../../scss/proposal/processed.scss */
.proposal_processed .container .sec-nav .btn {
  font-size: 17px;
  width: 100px;
  height: 30px;
  line-height: 17px;
  text-align: center;
  border-radius: 10px;
}
/* line 65, ../../scss/proposal/processed.scss */
.proposal_processed .container .sec-nav .btn-active {
  background: #3dca99;
  color: #fff;
}
/* line 70, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container {
  width: 100%;
}
/* line 72, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .map {
  display: flex;
}
/* line 74, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .map div {
  flex: 1;
}
/* line 77, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .map .sug-pic {
  height: 300px;
  background: #fff;
}
/* line 85, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .choice-input {
  width: 100%;
  margin-top: 30px;
}
/* line 88, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .choice-input select, .proposal_processed .container .main-content-container .choice-input input {
  border: 1px solid #e5e5e5;
  height: 35px;
}
/* line 92, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .choice-input label {
  font-weight: normal;
}
/* line 95, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .choice-input .btn-active {
  width: 100px;
  height: 35px;
  outline: none;
  border: none;
  border-radius: 2px;
  background: #53ccc4;
  color: #fff;
}
/* line 105, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .grid-list {
  margin-top: 25px;
  padding: 0 30px;
  background: #fff;
}
/* line 109, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .grid-list .action-bar {
  height: 84px;
  line-height: 84px;
}
/* line 113, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .grid-list .action-bar .btn-add {
  width: 134px;
  line-height: 38px;
  height: 38px;
  border-radius: 20px;
  font-size: 15px;
  background: #67d5f8;
  color: #fff;
}
/* line 122, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .grid-list .action-bar .action-right {
  margin-left: 65%;
  border-right: 1px solid #aaa;
  margin-right: 5%;
}
/* line 127, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .grid-list .action-bar .glyphicon {
  letter-spacing: 3px;
  cursor: pointer;
}
/* line 132, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .grid-list .grid-content {
  min-height: 400px;
}
/* line 135, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .grid-list .grid-content .thead-style {
  background: #f7f7f7;
  height: 46px;
}
/* line 139, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .grid-list .grid-content .btn-right {
  margin-right: 5px;
}
/* line 146, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .page-nav {
  height: 54px;
}
/* line 149, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .page-nav .pull-right .page-list-style {
  width: 180px;
  display: inline-block;
  text-align: center;
}
/* line 153, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .page-nav .pull-right .page-list-style select, .proposal_processed .container .main-content-container .page-nav .pull-right .page-list-style label {
  border: 1px solid #e5e5e5;
  font-weight: normal;
}
/* line 157, ../../scss/proposal/processed.scss */
.proposal_processed .container .main-content-container .page-nav .pull-right .page-list-style .getPage {
  width: 50px;
}
/* line 168, ../../scss/proposal/processed.scss */
.proposal_processed .list_export {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 310px;
  height: 150px;
  line-height: 150px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  margin-left: -155px;
  margin-top: -75px;
  background: rgba(143, 140, 135, 0.7);
  border-radius: 10px;
}
/* line 182, ../../scss/proposal/processed.scss */
.proposal_processed .list_export .img {
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  color: #ffffff;
}
