.header-content {
  width: 100%;
  height: 37px;
  line-height: 37px;
  background: #ea5505;
  .header-center {
    width: 1038px;
    margin: 0 auto;
    color: #e9e8e8;
    .header-left{
      float:left;
    }
    .header-right{
      float:right;
    }

  }
}
nav{
  width:100%;
  height:100px;
  padding:30px 0 50px 0;
  background:#fbfbfb;
  .nav-center{
    width: 1038px;
    margin:0 auto;
    display:flex;
    display:-ms-flexbox;
  .nav-logo{
    flex:1;
    -ms-flex:1;
    span{
      font-size:1.5em;
      margin-right:22px;
    }
    select{
      border:none;
      font-size:17px;
    }


  }
    .nav-content{
      flex:3;
      -ms-flex:3;
      span{
        padding:0 25px;
        font-size:19px;
      }
    }
    .write{
      float:right;
      span{
        background:#f8f8f8;
        padding:6px 12px;
        color:#666666;
      }
      .set-border{
        border-right:1px solid #dddddd;
      }
    }
  }
}
.main{
  width:100%;
  background:#fbfbfb;
  padding-bottom:120px;
.main-content{
  width: 1038px;
  margin:0 auto;
  .main-content-top{
    width:100%;
    display:flex;
    display:-ms-flexbox;
    .main-content-top-left{
      width:250px;
      padding:25px 20px;
      border:1px solid #dfdfdf;
      margin-right:10px;
      background:#ffffff;
      .lift-list{
        .list-title{
          margin-bottom:20px;
          span{
            font-size:18px;
          }
          .more{
            float:right;
            color:#cdcdcd;
          }
        }
        .list-content{
          margin-bottom:18px;
          .set-margin{
            margin-right:20px;
          }
        }
      }
      .set-border{
        border-bottom:1px solid #e6e6e6;
        margin-bottom:30px;
        padding-top:10px;
      }
    }
    .main-content-top-right{
     flex:4;
      -ms-flex:4;
      width:776px;
      .right-top{
        width:776px;
        height:45px;
        line-height:45px;
        font-size:0;
        input{
          width:642px;
          height:45px;
          font-size:16px;
          border:1px solid #ea5505;
          border-right:0;
          color:#d7d7d7;
          background:#ffffff;
          padding-left:25px;
          line-height:45px;
        }
        .search-btn{
          display:inline-block;
          color:#ffffff;
          width:100px;
          height:45px;
          font-size:16px;
          line-height:45px;
          text-align:center;
          background:#ea5505;
        }
      }
      .hot-space{
        height:40px;
        line-height:40px;
        background:#fbfbfb;
        span{
          color:#5e5d5d;
        }
        .mar-right{
          margin-right:18px;
        }
      }
        .show-picture{
          width:100%;
          height:275px;
          background:#e8e8e8;
        }
        .hot-company{
          padding:15px 15px 15px 0;
          title{
            font-size:20px;
            color:#777777;
            background:#fbfbfb;
          }
          .picture-style{
            display:inline-block;
            width:148px;
            height:148px;
            margin-bottom:2px;
            background:#ffffff;
            position:relative;
            border:none;
              img{
                width:148px;
                height:148px;
              }
            &:hover .show-content{
              display:block;
            }
             .show-content{
               display:none;
              z-index: 99;
              width:100%;
              height:100%;
              position:absolute;
              top:0;
              left:0;
              text-align:center;
              padding:20px 20px 30px 20px;
              background:rgba(128, 125, 120,0.2);
              .company-name{
                text-align:center;
                font-size:16px;
                line-height:1.5;
                color:#ffffff;
                margin-bottom:5px;
              }
              .works-number{
                padding:10px;
                color:#ffffff;
                border-radius: 3px;
                background:#ea5505;
              }
            }
          }
        }


    }
  }
  .main-content-list{
    margin-top:10px;
    width:100%;
    background:#ffffff;
    .main-list-title{
      width:100%;
      height:50px;
      line-height:50px;
      background:#ffffff;
      border-bottom:1px solid #ea5505;
      .list-title-left{
        span{
          padding:15px 30px;
           color:#565555;
          border-radius: 3px;
          &.active{
            color:#ffffff;
            background:#ea5505;
          }
        }
        .list-title-right{
          float:right;
          color:#a4a3a3;
        }
      }
    }
    .all-list{
      width:100%;
      background:#fbfbfb;
      .list{
        width:100%;
        background:#ffffff;
        display:flex;
        display:-ms-flexbox;
        .set-mar{
          margin-right:4px;
        }
        .content-list{
          flex:1;
          -ms-flex:1;
          width:517px;
          padding:22px 40px 13px 20px;
          margin-bottom:5px;
          &:hover{
            background:#f7f5f5;
          }
          display:flex;
          display:-webkit-box;
          display:-moz-box;
          display:-webkit-flex;
          display:-ms-flexbox;
          .set-left{
            flex:3;
            -ms-flex:3;
            width:340px;
            display:inline-block;
            .today{
              display:inline-block;
              color:#c0bebd;
              font-size:14px;
              margin-left:14px;
            }
            .good{
              display:inline-block;
              margin-right:4px;
              padding:6px;
              border:1px solid #b9b8b8;
              background:#fafafa;
              color:#a09f9f;
            }
          }
          .set-right{
            flex:1;
            -ms-flex:1;
            width:100px;
            height:100px;
            img{
              width:100%;
              height:100%;
            }
          }
        }
      }

      .look-more{
        float:right;
        margin-top:23px;
        padding:8px 23px;
        background:#ea5505;
        color:#faddd4;
      }
    }

  }
}
}
.bottom{
  width:100%;
.bottom-content{
  width:100%;
  background:#ffffff;
  position:flex;
  bottom:0;
  right:0;
  .set-bottom-center{
    width: 1038px;
    margin:0 auto;
    padding:45px 0 18px 12px;
    display:flex;
    display:-ms-flexbox;
    .set-bottom-content-list{
      flex:1;
      -ms-flex:1;
      width:160px;
      .bottom-list-title{
        margin-bottom:5px;
        .title-style{
             color:#979595;
          font-size:16px;
          font-weight: bold;
        }
      }
        .bottom-list-content{
          height:210px;
          padding:7px 15px;
          border-left:1px solid #dddddd;
          margin-left:12px;
          p{
            margin-bottom:15px;
            color:#8d8d8d;
          }
        }
      }
    .phone{
      flex:1;
      -ms-flex:1;
      text-align:center;
      .phone-style{
        color:#cac8c8;
      }
      .phone-number{
         font-size:21px;


        font-weight:bolder;
        color:#cac8c8;
      }
    }


  }
}
  .bottom-last{
    width:100%;
    background:#908e8e;
    padding:12px 0;
    color:#f7f5f5;
    text-align:center;
  }
}
.set-yellow{
  color:#ea5505;
}
.set-gray{
  color:#7e7d7d;
}
.set-black{
  color:#454343;
}
.set-deep{
  color:#565555;
}
.color-set{
  color:#959393;
}