
.scene_main{
  width:1000px;
  margin:0 auto;
  height:100%;
  position:relative;
  .main_face {
    width: 100%;
    .top_search {
      height: 58px;
      width: 100%;
      background: white;
      border-bottom: 1px solid #e4e5e9;
      line-height: 58px;
      .work_space {
        height: 58px;
        line-height: 58px;
        text-align: center;
        width: 160px;
        background: #edf1f8;
        float: left;
      }
      .search_running {
        width: 100%;
        color: #2dcc70;
        text-align: center;
        img {
          width: 16px;
          height: 16px;
        }
      }
    }
    .work_content {
      width: 100%;
      background: #f3f4f8;
      margin-top: 25px;
      .cost_warm {
        float:left;
        width: 350px;
        height: 440px;
        background: white;
        padding: 10px;
        .warm_num{
          width:150px;
          height:440px;
        }
      }
      .patent_num {
       float:left;
        margin-left: 23px;
        width: 300px;
        height: 440px;
        background: white;
        padding: 10px;
      }
      .brand_num {
      float:left;
        margin-left: 23px;
        width: 300px;
        height: 440px;
        background: white;
        padding: 10px;
      }
    }
    .waiting_event {
     float:left;
      margin-top: 24px;
      width: 490px;
      height: 448px;
      background: white;
      border:1px solid #e9eaee;
    }
    .set_scroll{
      width: 470px;
      height: 330px;
      overflow:auto;
      overflow-x:hidden;
    }
    .massage_warn {
      float:left;
      margin-top: 24px;
      margin-left: 23px;
      width: 485px;
      height: 448px;
      background: white;
    }
    .details-title{
      height:67px;
      background:#f9fafb;
      line-height:76px;
      padding-left:20px;
      border-bottom:1px solid #e9eaee;
      color:#4b4f68;
    }
    .cost_warm, .patent_num, .brand_num, .waiting_event, .massage_warn {
      .content {
        margin-top:20px;
        width: 100%;
        height: 380px;
        line-height: 380px;
        text-align: center;
      }
      .content_details {
        width: 100%;
        height: 100%;
        .map{
          display:flex;
          div{
            flex:1
          }
          .warm_left {
            height: 350px;
            background: #fff;
          }
        }
        ul{
          padding:0;
          height:330px;
          overflow: hidden;
        }
        li{
          margin: 17px;
          height: 70px;
          color:#7f8a8e;
          margin-right: 20px;
          line-height: 70px;
          background:#f6f8fb;
          padding-left:10px;
          border-bottom:1px solid #f3f4f5;
          &:hover{
            border-left:3px solid #2dcc70;
            background:#eefbf2;
          }
            img{
              width:30px;
              height:30px;
            }
            .set_span{
              display:inline-block;
              width:440px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
        }
      }
    }
    }
  .set-margin{
    margin-right:5px;
  }
  .set_blue{
    color:#17bffe;;
  }
  .set_pur{
    color: #917df9;
  }
  .set-word{
    color:#4b4f68;
  }
  .main_box{
    display:block;
    width:100%;
    background:rgba(95, 96, 100,0.5);
    z-index: 99;
    .searching{
      width:472px;
      height:282px;
      background:#fbfbfb;
      position:absolute;
      left:50%;
      top:50%;
      margin-left:-236px;
      margin-top:-141px;
      padding:10px 15px;
      .set_close{
        float:right;
        font-size:20px;
        color:#aaaaaa;
        font-weight: normal;
      }
      .show_search{
        color:#57d68d;
        padding:50px 30px;
        text-align: center;
        img{
          width:70px;
          height:70px;
          margin-bottom:25px;
        }
        p{
          font-size:15px;
        }
        span{
          font-size:16px;
        }
      }
    }
  }
}



