<!--添加底部-->
<footer style="background:#373c3e" class="footer">
    <div class="foot-con" >
        <div class="link">
            <span>友情链接：</span>
            <span><a ng-href="{{config.url_href.greatipr_home}}" target="_blank">知识产权 </a></span>
            <span><a href="http://www.quandashi.com/" target="_blank">权大师 </a></span>
            <!--<span><a href="">众鼎专利商标</a></span>-->
            <!--<span><a href="">优智博</a></span>-->
            <span><a href="http://www.niufa.cn/index.php/" target="_blank">牛法网</a></span>
            <!--<span><a href=""> 君盛知识产权 </a></span>-->
            <!--<span><a href="">梦知网</a></span>-->
            <!--<span><a href=""> 国新南方</a></span>-->
        </div>
        <hr style="margin-top:20px;"/>
        <div class="service" >
            <div class="code">
                <img src="/js/directives/footer/weixin.png" alt=""/>
                <p>官方微信公众号 </p>
            </div>
            <div class="code">
                <img src="/js/directives/footer/app.png" alt=""/>
                <p>华第知产通APP </p>
            </div>
            <div>
                <p><a target="_blank"  href="{{config.url_href.about_us}}" class="title">关于我们</a></p>
                <p><a target="_blank"  href={{config.url_href.enterprise_manage}}>公司简介</a></p>
                <p><a target="_blank"  href={{config.url_href.cooperation}}>商务合作</a></p>
                <p><a target="_blank"  href={{config.url_href.news}}>最新动态</a></p>
                <p><a target="_blank"  href={{config.url_href.contact_us}}>联系我们</a></p>
            </div>
            <!--<div>
                <p><a href="" class="title"> 商务合作</a></p>
                <p><a href="">企业加盟</a></p>
                <p><a href="">广告合作</a></p>
                <p><a href="">人才招聘</a></p>
                <p><a href={{config.url_href.contact_us}}>联系我们</a></p>
            </div>-->
            <div>
                <p><a target="_blank" href="{{config.url_href.personal}}" class="title" target="_blank"> 个人中心</a></p>
                <p ng-if="userType == config.user_type.personal"><a  target="_blank"  href="{{config.url_href.personal_p}}" >个人资料</a></p>
                <p ng-if="userType == config.user_type.enterprise"><a  target="_blank"  href="{{config.url_href.personal_e}}" >企业信息</a></p>
                <p><a target="_blank"  href="{{config.url_href.identity}}" target="_blank"> 身份认证</a></p>
                <p><a target="_blank"  href="{{config.url_href.order_manage}}" target="_blank">订单管理</a></p>
                <p><a target="_blank"  href="{{config.url_href.academic_papers_index}}" target="_blank"> 文献管理</a></p>
            </div>
            <!--<div>-->
            <!--<p><a href="" class="title"> 帮助中心</a></p>-->
            <!--<p><a href="">交易流程</a></p>-->
            <!--<p><a href="">支付方式</a></p>-->
            <!--<p><a href="">服务流程</a></p>-->
            <!--<p><a href="">法律声明</a></p>-->
            <!--</div>-->
            <div>
                <p><a style="cursor: default;" href="" class="title">平台服务</a></p>
                <p><a ng-href="{{config.url_href.phr}}" target="_blank">人才招聘</a></p>
                <p><a ng-href="{{config.url_href.pdeal}}" target="_blank">交易平台</a></p>
                <!--<p><a ng-href="{{config.url_href.pservice}}" target="_blank">服务平台</a></p>-->
                <p><a href="{{config.url_href.pacademic}}" target="_blank"> 学术平台</a></p>
                <!--<p><a href="{{config.url_href.papp_center}}" target="_blank">应用中心</a></p>-->
                <p><a href="{{config.url_href.pdata}}" target="_blank"> 数据平台</a></p>
            </div>
            <div class="hot-line">
                <p class="time">周一至周五9：30-18：00</p>
                <p class="number">400-884-0588</p>
                <p class="line">客服热线</p>
            </div>
        </div>

        <div class="copyright">深圳峰创智诚科技有限公司 Copyright 2015-2025 版权所有
            <a style="color: #a09d9d" href="http://www.miibeian.gov.cn" target="_blank">粤ICP备16007696号-1</a>
        </div>
        <div style="width:300px;margin:0 auto; padding:10px 0;color:white;text-align:center;">
            <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44030502000204" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
                <img src="/js/directives/footer/record.png" style="float:left;">
                <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px;color:#a09d9d;font-size:12px;">粤公网安备 44030502000204号</p>
            </a>
        </div>
    </div>
</footer>