<div class="row">
    <div class="col-md-8">
        <div class="row">

            <div class="col-md-6">
                <div class="alert alert-success margintop20" role="alert">第一级</div>
                <div class="row margintop20 marginbot20">
                    <div class="col-md-8"><input type="text" ng-model="firstlayername" class="form-control"></div>
                    <div class="col-md-4">
                        <button ng-click="addfirstlayer({name:firstlayername})" class="btn btn-primary btn-sm">添加</button>
                    </div>
                </div>
                <div class="list-group firstLayer">
                    <a ng-repeat="item in firstlayerdata" index={{$index}} ng-class="{active:$index==index}"
                       class="list-group-item hand">{{item.Name}}
                        <button ng-click="deleteindustry({id:item.Id})" class="btn btn-sm btn-danger pull-right" style="height: 20px;padding: 0px">删除</button>
                    </a>
                </div>
            </div>

            <div class="col-md-6">
                <div class="alert alert-success margintop20" role="alert">第二级</div>
                <div class="row margintop20 marginbot20">
                    <div class="col-md-8"><input type="text" ng-model="secondname" class="form-control"></div>
                    <div class="col-md-4">
                        <button ng-click="addsecondlayer({name:secondname,Pno:firsno})" class="btn btn-primary btn-sm">添加</button>
                    </div>
                </div>

                <div class="list-group secondLayer">
                    <a ng-repeat="item in secondlayerdata" index={{$index}} ng-class="{active:$index==secondindex}"
                       class="list-group-item hand">{{item.Name}}
                        <button class="btn btn-sm btn-danger pull-right" ng-click="deleteindustry({id:item.Id})" style="height: 20px;padding: 0px">删除</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-4"></div>
</div>