<div class="setting-right-bar">
    <div class="right-con">
        <form name="add_departmeng" novalidate ng-submit="department_add()">
            <div class="company-infor-con">
                <div class="theme"> 新增部门</div>
                <div>
                    <span class="title">部门名称</span>
                    <input ng-model="add_department.name" required type="text" name="depart_name"/></div>
                <div ng-show="add_departmeng.depart_name.$dirty && add_departmeng.depart_name.$invalid && add_departmeng.depart_name.$error.required">
                    <p class="my-help-block">部门名称不能为空</p>
                </div>
                <div class="company-type">
                    <span class="title">启用状态</span>
                    <select ng-model="add_department.status">
                        <option value="true">启用</option>
                        <option value="false">停用</option>
                    </select>
                </div>
                <div class="remarks">
                    <span class="title">备注</span>
                    <textarea name="remarks" required ng-model="add_department.remark"></textarea>
                </div>
                <div ng-show="add_departmeng.remarks.$dirty && add_departmeng.remarks.$invalid && add_departmeng.remarks.$error.required">
                    <p class="my-help-block">备注不能为空</p>
                </div>
                <div class="action">
                    <button class="my-button" type="submit" ng-click="keepAll(add_department)" ng-disabled="add_departmeng.$invalid">保存</button>
                    <button type="reset" class="my-button" ng-click="cancel()">取消</button>
                </div>
            </div>
        </form>
    </div>
</div>