<div class="setting-company-manage">
    <!--<div class="state">-->
        <!--<div class="state-con">-->
            <!--<span>已加入</span>-->
            <!--<span class="active">待审核</span>-->
        <!--</div>-->
    <!--</div>-->
    <div class="setting-user">
        <div class="user-con">
            <div class="user-content">
                <div class="details">
                    <div class="table-responsive">
                        <div style="background:#ffffff;">
                            <dirtable datasource="asd" option="qwe"></dirtable>
                        </div>
                        <!--<table class="table table-bordered">-->
                            <!--<thead>-->
                            <!--<tr>-->
                                <!--<td width="128"> 序号</td>-->
                                <!--<td width="419">企业名称</td>-->
                                <!--<td width="195">状态</td>-->
                                <!--<td width="196">角色</td>-->
                                <!--<td width="183">企业管理员</td>-->
                                <!--<td width="200">操作</td>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="x in item">-->
                                <!--<td ng-bind="$index+1">1 </td>-->
                                <!--<td ng-bind="x.name"></td>-->
                                <!--<td>-->
                                    <!--<span ng-if="x.status==0">创建</span>-->
                                    <!--<span ng-if="x.status==1">等待审核</span>-->
                                    <!--<span ng-if="x.status==2">已加入</span>-->
                                <!--</td>-->
                                <!--<td ng-bind="x.roleName"></td>-->
                                <!--<td ng-bind="x.companyAdmin"></td>-->
                                <!--<td class="action">-->
                                    <!--<p>-->
                                        <!--<span ng-if="x.operateStatus==0" ng-click="quit_company(x.id)">退出企业</span>-->
                                        <!--<span ng-if="x.operateStatus==1" ng-click="cancel_apply(x.id)">退出企业</span>-->
                                        <!--<span ng-if="x.operateStatus==2" ng-click="add_user(x.id)">转让管理员</span>-->
                                    <!--</p>-->
                                <!--</td>-->
                            <!--</tr>-->

                            <!--</tbody>-->

                        <!--</table>-->
                        <div style="text-align:center" ng-show="nothing">
                            <img src="/images/setting/nothing.png" alt=""/>
                            <p style="font-size:14px;color:#2dcc70">暂无数据</p>
                        </div>
                    </div>

                </div>
                <div class="next-processor-add  active" ng-show="add_user_show"><!--右边的添加用户弹出框添加active就可以显示--->
                    <!--这是有右边 的添加用户导航-->
                    <!--<proadduser ></proadduser>-->
                    <div class="proposal-add-user">
                        <div class="next-processor-add  active"><!--右边的添加用户弹出框添加active就可以显示--->
                            <!--这是有右边 的添加用户导航-->
                            <div class="my-list-header">
                                <div class="adder-processor-header">
                                    <p>
                                        <span class="choice-person-num"></span>
                                        <a class="btn  btn-sm  btn-active" ng-click="transfer_manager()">确认</a>
                                        <a  class="btn btn-sm btn-default " ng-click="bar_cancel()">取消</a>
                                    </p>
                                    <ul class="list-inline user-list" >
                                        <li class="list-li-box text-center" ng-repeat="tmp in nextProcessorInfo"><!--被选中的下一步处理人表-->
                                            <img src="images/ideas/add/adder_one.png" alt=""/>
                                            <i class="my-close active">x</i>
                                            <p>{{tmp.name}}</p>
                                        </li>
                                        <!--<li class="list-li-box text-center">-->
                                        <!--<img src="images/ideas/add/adder_one.png" alt=""/>-->
                                        <!--<i class="my-close">x</i>-->
                                        <!--<p>陈默默</p>-->
                                        <!--</li>-->
                                        <!--<li class="list-li-box text-center">-->
                                        <!--<img src="images/ideas/add/adder_one.png" alt=""/>-->
                                        <!--<i class="my-close">x</i>-->
                                        <!--<p>陈默默</p>-->
                                        <!--</li>-->
                                    </ul>
                                </div>
                                <!--<div class="next-processor-searcher">&lt;!&ndash;搜索框&ndash;&gt;-->
                                    <!--<input type="text" class="get-search-keyWords" placeholder="请输入关键字"/>-->
                                    <!--<img src="images/ideas/search_icon.png" class="get-search-icon" alt=""/>-->
                                <!--</div>-->
                            </div>

                            <ul class="processor-list list-unstyled"> <!--人物列表-->
                                <li class="name-certify">
                                    <!--<h4>A</h4>-->
                                    <ul class="list-unstyled processor-icon-list">
                                        <li ng-repeat="item in user_data">
                                            <img src="images/ideas/add/adder_one.png" class="man-header-icon" alt=""/>
                                            <div class="processor-name">
                                                <span ng-bind="item.name">阿拉丁神灯</span>
                                                <i class="dot-circle hand"  ng-class="{active:item.isSlected}" ng-click="is_selected(item)"></i>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="setting-choice-scene" ng-if="choice_scene">
    <div class="set-center">
        <div class="close-style hand" ng-click="closeThis()">X</div>
        <div class="set-title">
            <span>选择场景</span>
        </div>
        <div class="set-content">
            <ul>
                <li>
                    <span class="current">当前企业</span>
                    <span class="company-name">深圳峰创智诚科技有限公司</span>
                </li>
                <li>
                    <span class="company-name">深圳峰创智诚科技有限公司</span>
                </li>
            </ul>
            <span class="create hand">创建/加入新企业></span>
        </div>
        <div class="manage-btn">
            管理个人知识产权
        </div>
    </div>
</div>