<div class="setting-role-edit">
    <div class="edit-content">
        <form name="role_edit" ng-submit="edit_role_save()">
            <table class="table role table-bordered">
                <tbody>
                <tr>
                    <td width="130" class="title">角色名称：</td>
                    <td>
                        <input required ng-model="r_name" name='title' type="text"/>
                        <i ng-show="role_edit.title.$dirty && role_edit.title.$invalid && role_edit.title.$error.required"
                           class="my-help-block" style="font-style: normal">联系人不能为空</i>
                    </td>
                </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <tr>
                    <td width="130" class="title">创意：</td>
                    <td>
                        <span ng-repeat="item in ideas_item" ng-class="{active:item.select}" ng-bind="item.name" ng-click="select_active(item)">发布创意</span>
                    </td>
                </tr>

                <tr>
                    <td width="130" class="title">提案：</td>
                    <td>
                        <span ng-repeat="item in proposal_item" ng-class="{active:item.select}" ng-bind="item.name" ng-click="select_active(item)">新增提案</span>
                    </td>
                </tr>

                <tr>
                    <td width="130" class="title">专利：</td>
                    <td>
                        <span ng-repeat="item in patent_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name">新增专利</span>
                    </td>
                </tr>

                <tr>
                    <td width="130" class="title">商标：</td>
                    <td>
                        <span ng-repeat="item in trademark_item" ng-class="{active:item.select}" ng-click="select_active(item)">新增商标</span>
                    </td>
                </tr>


                <tr>
                    <td width="130" class="title">版权：</td>
                    <td>
                        <span ng-repeat="item in copyright_item" ng-class="{active:item.select}" ng-click="select_active(item)">新增版权</span>
                    </td>
                </tr>

                <tr>
                    <td width="130" class="title">域名：</td>
                    <td>
                        <span  ng-repeat="item in domain_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name">新增域名</span>
                    </td>
                </tr>
                <tr>
                    <td width="130" class="title">企业设置：</td>
                    <td  valign="middle">
                        <span ng-repeat="item in setting_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name">新增企业用户</span>
                    </td>
                </tr>

            </table>

            <table class="table table-bordered">
                <tr>
                    <td width="130" class="title">创建人：</td>
                    <td width="320" ng-bind="r_create_man"></td>
                    <td width="130" class="title">创建时间：</td>
                    <td width="320" ng-bind="r_create_time| date : 'yyyy-MM-dd hh:mm:ss'"></td>
                </tr>
                <tr>
                    <td width="130" class="title">最后修改人：</td>
                    <td width="320" ng-bind="r_update_man"></td>
                    <td width="130" class="title">最后修改时间：</td>
                    <td width="320" ng-bind="r_update_time| date : 'yyyy-MM-dd hh:mm:ss'"></td>
                </tr>
            </table>
            <div class="action">
                <button type="submit" ng-disabled="role_edit.$invalid">保存</button>

                <button ui-sref="home.setting.role_permission">取消</button>
            </div>
        </form>
    </div>

</div>