<div class="role-permission">
    <div class="permission-con">
        <div class="permission-content">
            <div class="top">
                <div class="find">
                    <label> 角色名称</label><input ng-model="role_name" type="text"/>
                    <button ng-click="find_role()">查询</button>
                </div>
                <div ng-show="permission.add_role" class="add hand" ui-sref="home.setting.role_add">
                    <span class="add-con">
                        <img src="/images/setting/add.png" alt=""/>
                    <button>新增</button>
                    </span>
                </div>
            </div>
            <div class="details">
                <div>
                    <div style="background:#ffffff;">
                        <dirtable datasource="asd" option="qwe"></dirtable>
                    </div>
                    <!--<table class="table table-bordered">-->
                        <!--<thead>-->
                        <!--<tr>-->
                            <!--<td width="133"> 序号</td>-->
                            <!--<td width="249">角色名称</td>-->
                            <!--<td width="380">权限</td>-->
                            <!--<td width="179">创建人</td>-->
                            <!--<td width="174">创建时间</td>-->
                            <!--<td>操作</td>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="x in item">-->
                            <!--<td ng-bind="$index+1"> 1</td>-->
                            <!--<td ng-bind="x.name">研发一部</td>-->
                            <!--<td> <span class="shenglue" title="{{x.permission}}" ng-bind="x.permission" style="display:inline-block;width:200px;"></span></td>-->
                            <!--<td ng-bind="x.createduser">舒兴祥</td>-->
                            <!--<td ng-bind="x.created_at">2017.9.21</td>-->
                            <!--<td class="action">-->
                                <!--<p>-->
                                    <!--<span ui-sref="home.setting.role_edit({'id':x.id})">编辑</span>-->
                                    <!--&lt;!&ndash;<span ui-sref="home.setting.role_edit({'id':x.id})">编辑</span>&ndash;&gt;-->
                                    <!--<span ng-show="permission.edit_role" ng-click="delete_role(x.id)">移除</span>-->
                                <!--</p>-->
                            <!--</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                    <!--</table>-->
                    <div style="text-align:center" ng-show="nothing">
                        <img src="/images/setting/nothing.png" alt=""/>
                        <p style="font-size:14px;color:#2dcc70">暂无数据</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>