<div class="setting-role-add">
    <div class="edit-content">
        <form name="role_add" ng-submit="add_role_save()">
            <table class="table role table-bordered">
                <tbody>
                <tr>
                    <td width="110" class="title">角色名称：</td>
                    <td>
                        <input ng-model="role_name" name="title" type="text"/>
                        <i ng-show="role_add.title.$dirty && role_add.title.$invalid && role_add.title.$error.required"
                           class="my-help-block" style="font-style: normal">联系人不能为空</i>
                    </td>

                </tr>
                </tbody>
            </table>
            <div class="role-title">权限设置</div>
            <table class="table table-bordered">
                <tr>
                    <td width="110" class="title" >创意：</td>
                    <td>
                        <span ng-repeat="item in ideas_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name">发布创意</span>
                    </td>
                </tr>

                <tr>
                    <td width="110" class="title">提案：</td>
                    <td>
                        <span ng-repeat="item in proposal_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name">新增提案</span>
                    </td>
                </tr>

                <tr>
                    <td width="110" class="title">专利：</td>
                    <td>
                        <span ng-repeat="item in patent_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name">新增专利</span>

                    </td>
                </tr>

                <tr>
                    <td width="110" class="title">商标：</td>
                    <td>
                        <span ng-repeat="item in trademark_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name">新增商标</span>

                    </td>
                </tr>


                <tr>
                    <td width="110" class="title">版权：</td>
                    <td>
                        <span ng-repeat="item in copyright_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name" >新增版权</span>
                    </td>
                </tr>

                <tr>
                    <td width="110" class="title">域名：</td>
                    <td>
                        <span ng-repeat="item in domain_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name">新增域名</span>
                    </td>
                </tr>
                <tr>
                    <td width="110" class="title">企业设置：</td>
                    <td  valign="middle">
                        <span ng-repeat="item in setting_item" ng-class="{active:item.select}" ng-click="select_active(item)" ng-bind="item.name">新增企业用户</span>
                    </td>
                </tr>

            </table>

            <!--<table class="table table-bordered">-->
                <!--<tr>-->
                    <!--<td width="110" class="title">域名：</td>-->
                    <!--<td></td>-->
                    <!--<td width="110" class="title">角色名称：</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
                <!--<tr>-->
                    <!--<td width="110" class="title">角色名称：</td>-->
                    <!--<td></td>-->
                    <!--<td width="110" class="title">角色名称：</td>-->
                    <!--<td></td>-->
                <!--</tr>-->
            <!--</table>-->
            <div class="action">
                <button type="submit" ng-disabled="role_edit.$invalid">保存</button>
                <button ui-sref="home.setting.role_permission">取消</button>
            </div>
        </form>
    </div>

</div>