<div class="setting">
    <div class="setting-nav">
        <div class="nav-con">
            <p class="active" ui-sref="home.setting.personal" ng-class="{active:tom==1}" ng-click="nav_change(1)"><span class="mark"></span><span class="title">个人设置</span></p>
            <p ui-sref="home.setting.company_manage" ng-class="{active:tom==2}" ng-click="nav_change(2)"><span class="mark"></span><span class="title">企业管理</span></p>
            <p ui-sref="home.setting.company_infor" ng-class="{active:tom==3}" ng-click="nav_change(3)"><span class="mark"></span> <span class="title">企业资料</span></p>
            <!--<p ui-sref="home.setting.user_exam" ng-class="{active:tom==4}" ng-click="nav_change(4)"><span class="mark"></span> <span class="title">用户管理</span></p>-->
            <p ui-sref="home.setting.department" ng-class="{active:tom==5}" ng-click="nav_change(5)"><span class="mark"></span><span class="title">部门管理</span></p>
            <p ui-sref="home.setting.role_permission" ng-class="{active:tom==6}" ng-click="nav_change(6)"><span class="mark"></span><span class="title">角色权限</span></p>
            <!--<p  ui-sref="home.setting.procedure" ng-class="{active:tom==7}" ng-click="nav_change(7)"><span class="mark"></span><span class="title">流程设置</span></p>-->
            <!--<p  ui-sref="home.setting.basic" ng-class="{active:tom==8}" ng-click="nav_change(8)"><span class="mark"></span><span class="title">基本设置</span></p>-->
            <p  ui-sref="home.setting.user_add" ng-class="{active:tom==9}" ng-click="nav_change(9)"><span class="mark"></span><span class="title">用户管理</span></p>
        </div>
    </div>
    <div ui-view="setting" class="setting-center" style="width:1200px;margin:0 auto;">
    </div>
    <!--<div class="setting-right">-->
        <!--<div class="right-con">-->
            <!--<div class="company-infor-con">-->
                <!--<div>-->
                    <!--<span class="title">部门名称</span>-->
                    <!--<input type="text"/></div>-->
                <!--<div class="company-type">-->
                    <!--<span class="title">启用状态</span>-->
                    <!--<select>-->
                        <!--<option value="">企业</option>-->
                        <!--<option value="">公司</option>-->
                        <!--<option value="">公司</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="remarks"><span class="title">备注</span><textarea></textarea></div>-->
                <!--<div class="detail">-->
                    <!--<div><label>创  建  人：</label> <span>张三</span></div>-->
                    <!--<div><label>创建时间：</label> <span> 2016-03-06  16:36:48</span></div>-->
                    <!--<div><label>最后修改人：</label> <span>张毛毛</span></div>-->
                    <!--<div><label>最后修改时间：</label> <span> 2016-03-06  16:36:48</span></div>-->
                <!--</div>-->
                <!--<div class="action">-->
                    <!--<button class="reserve">保存</button>-->
                    <!--<button class="cancel">取消</button>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="company-infor-con">-->
                <!--<div class="theme"> 修改用户</div>-->
                <!--<div>-->
                    <!--<span class="title">用户名称</span>-->
                    <!--<input type="text"/></div>-->
                <!--<div>-->
                    <!--<span class="title">手机号码</span>-->
                    <!--<input type="text"/></div>-->
                <!--<div class="company-type">-->
                    <!--<span class="title">用户角色</span>-->
                    <!--<select>-->
                        <!--<option value="">企业</option>-->
                        <!--<option value="">公司</option>-->
                        <!--<option value="">公司</option>-->
                    <!--</select>-->
                <!--</div>-->

                <!--<div class="company-type">-->
                    <!--<span class="title">所属部门</span>-->
                    <!--<select>-->
                        <!--<option value="">企业</option>-->
                        <!--<option value="">公司</option>-->
                        <!--<option value="">公司</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="detail">-->
                    <!--<div><label>创  建  人：</label> <span>张三</span></div>-->
                    <!--<div><label>创建时间：</label> <span> 2016-03-06  16:36:48</span></div>-->
                    <!--<div><label>最后修改人：</label> <span>张毛毛</span></div>-->
                    <!--<div><label>最后修改时间：</label> <span> 2016-03-06  16:36:48</span></div>-->
                <!--</div>-->
                <!--<div class="action">-->
                    <!--<button class="reserve">保存</button>-->
                    <!--<button class="cancel">取消</button>-->
                <!--</div>-->

            <!--</div>-->


            <!--<div class="company-infor-con">-->
                <!--<div class="theme"> 新增用户</div>-->
                <!--<div>-->
                    <!--<span class="title">用户名称</span>-->
                    <!--<input type="text"/></div>-->
                <!--<div>-->
                    <!--<span class="title">手机号码</span>-->
                    <!--<input type="text"/></div>-->
                <!--<div class="company-type">-->
                    <!--<span class="title">用户角色</span>-->
                    <!--<select>-->
                        <!--<option value="">企业</option>-->
                        <!--<option value="">公司</option>-->
                        <!--<option value="">公司</option>-->
                    <!--</select>-->
                <!--</div>-->

                <!--<div class="company-type">-->
                    <!--<span class="title">所属部门</span>-->
                    <!--<select>-->
                        <!--<option value="">企业</option>-->
                        <!--<option value="">公司</option>-->
                        <!--<option value="">公司</option>-->
                    <!--</select>-->
                <!--</div>-->
                <!--<div class="detail">-->
                    <!--<div><label>创  建  人：</label> <span>张三</span></div>-->
                    <!--<div><label>创建时间：</label> <span> 2016-03-06  16:36:48</span></div>-->
                    <!--<div><label>最后修改人：</label> <span>张毛毛</span></div>-->
                    <!--<div><label>最后修改时间：</label> <span> 2016-03-06  16:36:48</span></div>-->
                <!--</div>-->
                <!--<div class="action">-->
                    <!--<button class="reserve">保存</button>-->
                    <!--<button class="cancel">取消</button>-->
                <!--</div>-->

            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

</div>
