<div class="setting-nav">
    <div class="nav-con">
        <p class="active" ui-sref="home.setting.personal" ng-class="{active:tom==1}" ng-click="nav_change(1)"><span class="mark"></span><span class="title">个人设置</span></p>
        <p ui-sref="home.setting.company_manage" ng-class="{active:tom==2}" ng-click="nav_change(2)"><span class="mark"></span><span class="title">企业管理</span></p>
        <p ui-sref="home.setting.company_infor" ng-class="{active:tom==3}" ng-click="nav_change(3)"><span class="mark"></span> <span class="title">企业资料</span></p>
        <!--<p ui-sref="home.setting.user_exam" ng-class="{active:tom==4}" ng-click="nav_change(4)"><span class="mark"></span> <span class="title">用户管理</span></p>-->
        <p ui-sref="home.setting.department" ng-class="{active:tom==5}" ng-click="nav_change(5)"><span class="mark"></span><span class="title">部门管理</span></p>
        <p ui-sref="home.setting.role_permission" ng-class="{active:tom==6}" ng-click="nav_change(6)"><span class="mark"></span><span class="title">角色权限</span></p>
        <!--<p  ui-sref="home.setting.procedure" ng-class="{active:tom==7}" ng-click="nav_change(7)"><span class="mark"></span><span class="title">流程设置</span></p>-->
        <!--<p  ui-sref="home.setting.basic" ng-class="{active:tom==8}" ng-click="nav_change(8)"><span class="mark"></span><span class="title">基本设置</span></p>-->
        <p  ui-sref="home.setting.user_add" ng-class="{active:tom==9}" ng-click="nav_change(9)"><span class="mark"></span><span class="title">用户管理</span></p>
    </div>
</div>