.edit_choice{
  .edit-content{
    //min-height:400px;
    width:100%;
    background:#ffffff;
    .top{
      min-height:300px;
      width: 100%;
      min-width:600px;
      background:url('/images/accout/login_back.png') no-repeat top left;
      //background-size: contain;
    }
    .bottom{
      width:500px;
      margin:0 auto;
      text-align:center;
      margin-bottom:57px;
      font-size:13px;
      color:#b0b0b0;
    }
    .content{
      margin-top:-155px;
      .edit_box{
        width:600px;
        height:420px;
        margin:0 auto;
        border:2px solid #eeeeee;
        background:#fbfbfb;
        padding:15px;
        position:relative;
        .set_tri{
          width:0;
          height:0;
          border-left:20px solid #f1f1f1;
          border-top:20px solid #f1f1f1;
          border-right:20px solid white;
          border-bottom:20px solid white;
          position:absolute;
          bottom:-2px;
          right:-2px;
        }
        .back{
        }
        .edit_add{
          text-align: center;
          margin-top:30px;
          font-size:24px;
        }
        .ask_in,.create{
          margin:0 auto;
          margin-top:32px;
          width:500px;
          height:62px;
          line-height: 62px;
          text-align: center;
          border:1px solid #3dc998;
          border-radius: 3px;
          color:#4acd9f;
          font-size:18px;
          &:hover{
            color:white;
            background:#3dc998;
          }


        }
        .active{

        }
      }
    }
  }
}
