body{
  margin:0;
  padding:0;
  width:100%;
}
ul,li{
  margin:0;
  padding:0;
  list-style-type: none;
}
.this-outer{
  width:100%;
  background:gray;
  opacity: 0.5;
  position:relative;
  .this-center{
    width:500px;
    height:500px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-250px;
    margin-top:-250px;
    background:#fff;
    border:1px solid deeppink;
  }

}
.popup{
  position:fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background:rgba(99,99,99,0.5);
  .popup-center{
    position:absolute;
    left:50%;
    top:50%;
    width:500px;
    height:500px;
    margin-left:-250px;
    margin-top:-250px;
    background:#fff;
    overflow: auto;
    overflow-y: hidden;
    border-radius: 3%;
    padding:10px;
    text-align:center;
    .form-title{
       padding:20px;
      border-bottom:2px solid deepskyblue;
    }
    .form-content{
      padding:10px;
      border-bottom:2px solid deepskyblue;
      .form-list{
        margin-bottom:15px;
       div{
         margin-right:3%;
        display:inline-block;
         width:20%;
         text-align: right;
         padding:5px;
        }
        .input-style{
          width:75%;
          border:1px solid deeppink;
          display:inline-block;
          padding:5px;
        }
      }

    }
    .form-bottom{
      margin-top:20px;
      text-align:center;
      button{
        margin-right:10px;
        border:none;
        background:darkblue;
        color:white;
        &:hover{
          background:deepskyblue;
        }
      }
    }

  }



}