.home{
  //display:flex;
  //background:red;
  .home-nav {
    background:#0050a3;
    .nav-con {
      .nav-content{
        display:flex;
        font-size:13px;
        color:#fff;
        padding:15px 0 15px 20px;
       //padding-bottom:15px;
       // .home-ideas{
       //   .ideas-show{
       //     display:block;
       //   }
       //   .ideas-hide{
       //     display:none;
       //   }
       // }
       // .home-ideas:hover{
       //   .ideas-show{
       //     display:none;
       //   }
       //   .ideas-hide{
       //     display:block;
       //   }
       //
       // }

        .home-ideas{
          background:url(/images/home/navigation/idea.png) no-repeat top;
        }
        .ideas-back{
          background:url(/images/home/navigation/idea_on.png) no-repeat top;
        }
        .home-ideas:hover{
             background:url(/images/home/navigation/idea_on.png) no-repeat top;
           }
        .home-patent{
          background:url(/images/home/navigation/patent.png) no-repeat top;
        }
        .patent-back{
          background:url(/images/home/navigation/patent_on.png) no-repeat top;
        }
        .home-patent:hover{
          background:url(/images/home/navigation/patent_on.png) no-repeat top;
        }
        .home-proposal{
          background:url(/images/home/navigation/proposal.png) no-repeat top;
        }
        .proposal-back{
          background:url(/images/home/navigation/proposal_on.png) no-repeat top;
        }
        .home-proposal:hover{
          background:url(/images/home/navigation/proposal_on.png) no-repeat top;
        }

        .home-setting{
          background:url(/images/home/navigation/setting.png) no-repeat top;
        }
        .setting-back{
          background:url(/images/home/navigation/setting_on.png) no-repeat top;
        }
        .home-setting:hover{
          background:url(/images/home/navigation/setting_on.png) no-repeat top;
        }
        .title{
          text-align:center;
          margin-left:20px;
          cursor: pointer;
          width:58px;
          height:55px;
        }
        .title:first-child{
          margin-left:50px;
        }
      }
    }
  }
  .home-con{
   // width:1720px;
    //.top{
    //  height:55px;
    //  color:#3dca99;
    //  line-height:55px;
    //  border-bottom:1px  solid #e1e4e9;
    //  padding-left:30px;
    //  .sel{
    //    label{
    //      margin-left:30px;
    //      cursor: pointer;
    //    }
    //  }
    //}
    .btn-back{
      margin-left:5px;
      display:inline-block;
      .btn-go-back{
        width:27px;
        height:27px;
        text-align:center;
        line-height:27px;
        color:#adaeb0;
        &:hover{
          background:#e8e9eb;
        }
        &.active{
          background:#e8e9eb;
        }
      }
    }
    .btn-nav-bar{   //顶部窗口
      width:164px;
      height:50px;
      line-height: 50px;
      text-align: center;
      border-right:1px solid #dcdcdc;
      display:inline-block;
      position:relative;
      &:active{//活的样式
        color:#3dca99;
      }
      .close{//小三角，关闭按钮
        position:absolute;
        top:36%;
        left:140px;
        color:#3dca99;
        font-size: 16px;
        font-weight: normal;
      }
      .trangle{
        position:absolute;
        left:45%;
        top:92%;
        color:#fff;
      }
    }
    .top-btn{
      //background: red;
      width:120px;
      height:50px;
      line-height: 50px;
      text-align: center;
      div{
        display:inline-block;
        color:#a09d9d;
        font-weight:normal;
        width:35px;
       // border-left:1px solid #a6a6a6;
      }
    }
    .home-content{
      background:#f0f3f8;
      padding:30px;
      min-height:906px;
      .con-detail{
        background:#f0f3f8;

      }
    }
  }


}