<!--专利模块下的费用管理-->
<div class="cost_manage_list">
    <div class="container">
        <div class="sec-nav"><!--中间的按钮-->
            <!--<div ui-sref="home.patent_list" class="btn btn-active">专利管理</div>-->
            <!--<div ui-sref="home.list_costmanage" class="btn">费用管理</div>-->
            <!--<div ui-sref="home.my_patents" class="btn">我的专利</div>-->
            <mytab data="patent_tab_list">

            </mytab>
        </div>
        <!--费用管理-->
        <div class="main-content-container"><!--中间的主题内容部分-->
            <!--<div class="map">-->
            <!--<div class="left sug-pic">-->
            <!--<div class="map-title">-->
            <!--费用统计-->
            <!--</div>-->
            <!--<span class="count_num">-->
            <!--<span class="set-span">总支出</span>-->
            <!--<span class="set_yellow" ng-bind="cost_state.total">￥232124</span>-->
            <!--</span>-->
            <!--<span class="count_num">-->
            <!--<span class="set-span">申请费</span>-->
            <!--<span class="" ng-bind="cost_state.applicationfee">￥232124</span>-->

            <!--</span>-->
            <!--<span class="count_num">-->
            <!--<span class="set-span">年&nbsp &nbsp费</span>-->
            <!--<span class="" ng-bind="cost_state.annualfee">232124</span>-->
            <!--</span>-->
            <!--<span class="count_num">-->
            <!--<span class="set-span">奖&nbsp &nbsp励</span>-->
            <!--<span class="" ng-bind="cost_state.reward">232124</span>-->
            <!--</span>-->
            <!--<span class="count_num">-->
            <!--<span class="set-span">资&nbsp &nbsp助</span>-->
            <!--<span class="" ng-bind="cost_state.funded">232124</span>-->
            <!--</span>-->
            <!--</div>-->
            <!--&lt;!&ndash;<div class="right sug-pic" id="costmanage">&lt;!&ndash;天统计图片&ndash;&gt;&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--</div>-->
            <div class="sort">
                <div class="sort-term">
                    <div class="sort-list">
                        <div class="content">
                            <!--<div class="sort-top">&lt;!&ndash;专利名称&ndash;&gt;-->
                                <!--<select ng-options="item as item.name for item in serchItems.autoItems track by item.num"-->
                                        <!--ng-model="serchParams.searchTypeItems"></select>-->
                                <!--<input class="space" type="text" ng-model="serchParams.keyword"/>-->
                            <!--</div>-->
                            <div class="sort-bottom">
                                <!--专利类型-->
                                <!--<select ng-options="item as item.name for item in serchItems.patentType track by item.num"-->
                                        <!--ng-model="serchParams.typeItems"></select>-->
                                <!--专利状态--->
                                <!--<select class="type"-->
                                        <!--ng-options="item as item.name for item in serchItems.patentStatus track by item.num"-->
                                        <!--ng-model="serchParams.statusItems"></select>-->
                                <!--国家--->
                                <!--<select name="" class="country" id="sug-country">-->
                                    <!--<option ng-repeat="item in serchItems.countryItems" value="item.id">{{item.name}}-->
                                    <!--</option>-->
                                <!--</select>-->


                                <!--申请日-->
                                <div style="display:inline-block">
                                    <select ng-options="item as item.name for item in serchItems.dateItems track by item.num"
                                            ng-model="serchParams.searchDateTypeItems"></select>
                                    <span class="time">
                                     <label>创建日期</label>
                                       <p class="date-time-dre">
                                           <input type="text" readonly id="start_date" class="form-control" uib-datepicker-popup
                                                  ng-model="serchParams.startDateItems"
                                                  is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"
                                                  close-text="Close" name="start_date"/>
                                           <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="open1()">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </button>
                                           </span>
                                       </p>
                                    </span>
                                    <span class="zhi">至</span>
                                    <span>
                                         <p class="date-time-dre">
                                             <input type="text" readonly id="end_date" class="form-control" uib-datepicker-popup
                                                    ng-model="serchParams.endDateItems"
                                                    is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"
                                                    close-text="Close" name="end_date"/>
                                              <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open2()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                              </span>
                                        <p/>
                                    </span>
                                </div>

                                <ideasearchinput data="search_input" inputmethods="serch_click()"  subdata="subdata" ></ideasearchinput>

                            </div>
                        </div>
                        <!--<div class="action">-->
                            <!--<button ng-click="serch_click()">查询</button>-->
                        <!--</div>-->

                    </div>
                    <div class="sort-con">
                        <div class="con-top">
                            <div class="add">
                                <button ui-sref="home.patentAdd"><label> +</label>新增</button>
                            </div>
                            <div class="action-con">
                             <span ng-click="exportClick()">
                               <img src="/images/patent/new_patent/export.png" alt=""/>
                                <label>导出已选专利</label>
                            </span>
                            </div>
                        </div>
                        <div class="con-center">
                            <div style="background:#ffffff;">
                                <dirtable datasource="asd" option="qwe"></dirtable>
                            </div>
                            <!--<div class="table-responsive">-->
                            <!--<table class="table table-bordered">-->
                            <!--<thead>-->
                            <!--<tr>-->
                            <!--<th class=" "><input type="checkbox"/>&nbsp;&nbsp;案号</th>-->
                            <!--<th class="text-center">专利名称</th>-->
                            <!--<th class=" text-center">申请号</th>-->
                            <!--<th class=" text-center">申请日</th>-->
                            <!--<th class=" text-center">专利状态</th>-->
                            <!--<th class=" text-center">待缴年费日期</th>-->
                            <!--<th class=" text-center">待缴年费金额</th>-->
                            <!--<th class="text-center">官费</th>-->
                            <!--<th class=" text-center">代理费</th>-->
                            <!--<th class=" text-center">已缴年费</th>-->
                            <!--<th class=" text-center">已缴费用总计</th>-->
                            <!--<th class=" text-center">操作</th>-->
                            <!--</tr>-->
                            <!--</thead>-->
                            <!--<tbody>-->
                            <!--<tr ng-repeat="costData in costDatas">-->
                            <!--<td><input type="checkbox"/>{{costData.casenumber}}</td>-->
                            <!--<td>{{costData.name}}</td>-->
                            <!--<td>{{costData.application_number}}</td>-->
                            <!--<td>{{costData.application_date}}</td>-->
                            <!--<td>{{costData.statusStr}}</td>-->
                            <!--<td>{{costData.nopayyear}}</td>-->
                            <!--<td>{{costData.nopayyearamount}}</td>-->
                            <!--<td>{{costData.official_fee}}</td>-->
                            <!--<td>{{costData.agency_fees}}</td>-->
                            <!--<td>{{costData.payyearamount}}</td>-->
                            <!--<td>{{costData.paid_amount}}</td>-->
                            <!--<td class="text-center">-->
                            <!--<button class="btn btn-sm btn-default btn-right"-->
                            <!--ui-sref="home.patentAdd({patentid:costData.id,tab:'cost'})">编辑-->
                            <!--</button>-->
                            <!--&lt;!&ndash;<button class="btn btn-sm btn-default" ng-click="del_click(costData.id)">删除</button>&ndash;&gt;-->
                            <!--</td>-->
                            <!--</tr>-->
                            <!--</tbody>-->
                            <!--</table>-->
                            <!--<div>-->
                            <!--<div></div>-->
                            <!--<div></div>-->
                            <!--</div>-->
                            <!--</div>-->
                            <div class="bottom-pagination">
                                <!--template-url="/directive_tpls/pagination.html"-->
                                <uib-pagination
                                        ng-change="pageChanged()"
                                        items-per-page="page.perPageItems"
                                        total-items="page.bigTotalItems"
                                        ng-model="page.bigCurrentPage"
                                        max-size="page.maxSize"
                                        class="pagination-sm pagination ng-isolate-scope ng-valid"
                                        boundary-link-numbers="true"
                                        rotate="true">
                                </uib-pagination>
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!--刪除文件时的提示-->
<div style="display: none" class="list_export">
    <div class="export_document">
        <span>请选择待删除提案</span>
        <span style="display:none">请选择待导出提案</span>
    </div>
</div>
<div style="display:none" class="cost_manage_aside" ng-show="show_detail"><!--ng-show="show_detail"-->
    <div class="details_title">
        <div class="info_name" ui-sref="home.patentRevising">
            <span class="active">基本信息</span>
        </div>
        <div class="info_name active" ui-sref="home.patentRevising.cost">
            <span>费用</span>
        </div>
        <div class="info_name" ui-sref="home.patentRevising.help">
            <span>资助</span>
        </div>
    </div>
    <div class="details_aside_main">
        <div class="details_info">
            <table>
                <tr>
                    <td class="info_detail_name">
                        <span class="set_red">*</span>
                        <span>案号:</span>
                    </td>
                    <td colspan="3" class="info_detail_cont">
                        PT20164564
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span class="set_red">*</span>
                        <span>专利名称:</span>
                    </td>
                    <td colspan="3" class="info_detail_cont">
                        <span>一种基于语音的文字识别方式</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>专利类型:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>
                            发明
                        </span>
                    </td>
                    <td class="info_detail_name">
                        <span>申请国家:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>中国</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>权利人:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>深圳市扯淡科技有限公司</span>
                    </td>
                    <td class="info_detail_name">
                        <span>提案部门:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>开发部</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>发明人:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>张三李四王二</span>
                    </td>
                    <td class="info_detail_name">
                        <p class="text-justify">第一发明人身份证:</p>
                    </td>
                    <td class="info_detail_cont">
                        <span>345345345</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>所属产品:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>遥控器</span>
                    </td>
                    <td class="info_detail_name">
                        <span>技术领域:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>计算机</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>对应提案:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>PTe883q8y</span>
                    </td>
                    <td class="info_detail_name">
                        <span>提案评分</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>8.6</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>专利关键词:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>语音识别声控</span>
                    </td>
                    <td class="info_detail_name">
                        <span>IPC分类号:</span>
                    </td>
                    <td class="info_detail_cont">
                        <span>PT89</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_point_name">
                        <span class="set_style">
                            发明点概述:
                          </span>
                    </td>
                    <td colspan="3" class="info_detail_cont">
                        <span class="set_style">
                            一种语音识别的更新方法，其特征在于，包括语音输入信号，利用本地语音识别设别识别语音
                            ……等等
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>技术交底书:</span>
                    </td>
                    <td colspan="3" class="info_detail_cont">
                        <span><a class="set_blue" href="">一种基于语音的文字识别方式.doc</a></span>
                    </td>
                </tr>
                <tr>
                    <td class="info_point_name">
                        <span class="set_style">
                            技术交底附图:
                          </span>
                    </td>
                    <td colspan="3" class="info_detail_cont">
                        <span class="set_style">
                           <img src="../images/proposal/proposal_picture.png" alt=""/>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>检索报告:</span>
                    </td>
                    <td colspan="3" class="info_detail_cont">
                        <span>一种基于语音的文字识别方式.doc</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>承办人:</span>
                    </td>
                    <td colspan="3" class="info_detail_cont">
                        <span>王铁</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>其他附件:</span>
                    </td>
                    <td colspan="3" class="info_detail_cont">
                        <span>无</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_point_name">
                        <span class="set_style"> 摘要：</span>
                    </td>
                    <td colspan="3" class="info_detail_cont rightCont">
                        <span class="set_style">
                            一种语音识别的更新方法，其特征在于，包括语音输入信号，利用本地语音识别设别识别语音

                        </span>
                        <<<<<<< HEAD
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>备注：</span>
                    </td>
                    <td colspan="3" class="info_detail_cont  ">
                        <span class="alert-word">五</span>
                    </td>
                </tr>
                <!---cdcdcdcdc--->
                <tr>
                    <td class="info_detail_name">
                        <span>专利状态：</span>
                    </td>
                    <td class="info_detail_cont leftCont">
                        =======
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>备注：</span>
                    </td>
                    <td colspan="3" class="info_detail_cont  ">
                        <span class="alert-word">五</span>
                    </td>
                </tr>
                <!---cdcdcdcdc--->
                <tr>
                    <td class="info_detail_name">
                        <span>专利状态：</span>
                    </td>
                    <td class="info_detail_cont leftCont">
                        >>>>>>> 5c597f1b613d0871a5771e486cd4e13a0c6123f1
                        <span>
                          公开
                        </span>
                    </td>
                    <td class="info_detail_name">
                        <span>截止日期：</span>
                    </td>
                    <td class="info_detail_cont rightCont">
                        <!--<span>中国</span>-->
                        <span>2012-32-44</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>申请日：</span>
                    </td>
                    <td class="info_detail_cont leftCont">
                        <span>
                           <span>2089-09-00</span>
                        </span>
                    </td>
                    <td class="info_detail_name">
                        <span>申请号：</span>
                    </td>
                    <td class="info_detail_cont rightCont">
                        <!--<span>中国</span>-->
                        <span>dwdsd323sds</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>公开日：</span>
                    </td>
                    <td class="info_detail_cont leftCont">
                        <span>
                          0000-00-00
                        </span>
                    </td>
                    <td class="info_detail_name">
                        <span>公开号：</span>
                    </td>
                    <td class="info_detail_cont rightCont">
                        <!--<span>中国</span>-->
                        <span>fsadf8798</span>
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>授权公告日：</span>
                    </td>
                    <td class="info_detail_cont leftCont">
                        <span>
                           0000-00-00
                        </span>
                    </td>
                    <td class="info_detail_name">
                        <span>公告号：</span>
                    </td>
                    <td class="info_detail_cont rightCont">
                        <!--<span>中国</span>-->
                        0000000
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>授权日：</span>
                    </td>
                    <td class="info_detail_cont leftCont">
                        <span>
                          0000-00-00
                        </span>
                    </td>
                    <td class="info_detail_name">
                        <span>证书号：</span>
                    </td>
                    <td class="info_detail_cont rightCont">
                        <!--<span>中国</span>-->
                        666666
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>待缴年费日：</span>
                    </td>
                    <td class="info_detail_cont leftCont">
                        <span>
                          2019-00-99
                        </span>
                    </td>
                    <td class="info_detail_name">
                        <span>专利终止日：</span>
                    </td>
                    <td class="info_detail_cont rightCont">
                        <!--<span>中国</span>-->
                        0000-00-00
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>无效/失效日：</span>
                    </td>
                    <td class="info_detail_cont leftCont">
                        <span>
                          2019-00-99
                        </span>
                    </td>
                    <td class="info_detail_name">
                        <span>无效原因：</span>
                    </td>
                    <td class="info_detail_cont rightCont">
                        xxxx
                    </td>
                </tr>
                <tr>
                    <td class="info_detail_name">
                        <span>交易状态：</span>
                    </td>
                    <td class="info_detail_cont" colspan="3">
                        <span>
                           未交易
                        </span>
                    </td>
                </tr>
            </table>
            <h4>代理机构信息</h4>
            <table>
                <tr>
                    <td class="info_detail_name">
                        <span>代理机构：</span>
                    </td>
                    <td class="info_detail_cont leftCont">
                        <span>
                           **XXXX***
                        </span>
                    </td>
                    <td class="info_detail_name">
                        <span>代理人：</span>
                    </td>
                    <td class="info_detail_cont rightCont">
                        <span>******某</span>
                    </td>
                </tr>
            </table>
        </div>

    </div>

</div>

