.proposal_add{
  width:1200px;
  margin: 0 auto;
  position:relative;
  .fileup {
    position: relative;

    .filebutton {
      font-size:$bfs;
      background-color: $bbc;
      color:$bfc;
      margin-left: 350px;
      position: absolute;
      width: 70px;
      line-height:$bh;
      // height:$bh;
      vertical-align:middle;
      margin-top:-1px;
      padding-top: $btp;
      //padding-bottom:$bbp;
      // margin-top: 5px;
      border: solid 1px #cccccc;
      text-align: center;
      &:hover{
        color:$bhfc;
      }

    }
    .filelist {
      border: 1px solid #c7c7c7;
      width: 335px;
      height: 100%;
      overflow: hidden;
      min-height: $ih;
      margin-left:-15px;
      .filespandirective {
        color: #34495e;
        font-size: $ifs;
        background: #e4ebee;
        //margin-left: 5px;
        //margin-top: 3px;
        //margin-bottom: 2px;
        display: block;
        float: left;
        padding: 1px 4px 1px;
        border-radius: 2px;
        button {
          border-style: none;
          background: #e4ebee;
          margin: 4px 10px;
          font-weight: bold;
        }
        button:hover {
          color: #ff0000;
        }
      }

    }
  }
  .case-add-user {
    .next-processor-add {
      //right-processor-add
      opacity: 1;
      background: #f5f5f5;
      border: 1px solid #d6d6d6;
      width: 370px;
      height: 800px;
      overflow-y: scroll;
      position: absolute;
      right: 0;
      top: -65px;
      &.active {
        display: block;
      }
      //height:600px;

      //overflow-y: scroll;
      //-ms-overflow-y: scroll;
      // padding:20px;
      .my-list-header {
        display: inline-block;
        width: 100%;
      }
      .adder-processor-header {
        min-height: 160px;
        padding: 20px;
        .choice-person-num {
          display: inline-block;
          width: 180px;
          font-size: 15px;
        }
        .user-list {
          padding-left: 0;
          margin-left: -5px;
          list-style: none;
          .list-li-box {
            height: 55px;
            line-height: 55px;
            padding: 5px 0 0;
            position: relative;
            .img-style{
              display:inline-block;
              width: 44px;
              height: 44px;
            }
            p {
              display: inline-block;
              width: 224px;
              height: 56px;
              padding: 8px;
              text-align: left;
            }
          }
        }
        span {
          display: inline-block;
          width: 75px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .my-close {
          //my-x
          position: absolute;
          top: -4px;
          right: 0;
          font-style: normal;
          font-size: 15px;
          width: 20px;
          height: 20px;
          line-height: 16px;
          border-radius: 20px;
          opacity: .7;
          background: #707070;
          color: #fff;
          cursor: pointer;
          display: none;
          &.active {
            display: block;
          }
        }

      }
    }
    .next-processor-searcher {
      //search processor
      position: relative;
      padding: 20px;
      background: #e8e6e7;
      .get-search-keyWords {
        width: 100%;
        height: 35px;
        text-indent: 10px;
        line-height: 35px;
        border-radius: 5px;
        outline: none;
        border: none;
      }
      .get-search-icon {
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }

    .processor-list {
      // border:1px solid red;
      //  border:2px solid #a09d9d;
      // height:100%;//men-list-height
      height: 600px;
      .name-certify {
        //姓名分类
        border-bottom: 1px solid #a6a6a6;
        padding: 0 20px;
      }
      .processor-icon-list {
        //processor-head-icon
        li {
          height:50px;
          line-height:50px;
          margin-bottom: 10px;
          margin-top: 10px;
        }
        .man-header-icon {
          display:inline-block;
          width: 50px;
          height: 50px;
          text-align:center;
          line-height:50px;
          margin:0 auto;
        }
        .processor-name {
          display: inline-block;
          width: 245px;
          height: 56px;
          padding: 8px;
          span {
            display: inline-block;
            overflow: hidden;
          }
        }
        .dot-circle {
          display: inline-block;
          width: 27px;
          height: 27px;
          border-radius: 50%;
          // background: #000000;
          background: url(../../images/ideas/list.png) no-repeat -5px -5px;
          &.active {
            background-position: -5px -38px;
          }
        }
      }
    }
  }
  .add {
    background:#ffffff;
    border:1px solid #e0e0e0;
    padding-bottom:40px;
    .add_content {
      padding:35px 20px;
      .add_top{
        span {
          font-size: $sfz;
        }
      }
      .add_detail {
        font-size: $ifs;
        color: $mfc;
        .add_info {
          float:left;
         // height: 40px;
          //line-height: 40px;
          margin-top: 2px;
          font-size:0;
          .add_name {
            display: inline-block;
            width: 190px;
            line-height: $ih;
            text-align: right;
            padding-right: 6px;
            font-size: $ifs;
        }
          .add_name_left {
            display: inline-block;
            width: 146px;
            line-height: $ih;
            text-align: right;
            padding-right: 6px;
            font-size: $ifs;
          }
          .input_content {
            display: inline-block;
            width:287px;
            padding-left: $ilp;
            border: 1px solid $ibc;
            border-radius: 3px;
            font-size: $ifs;
            height:$ih;
           // margin-left:10px;
            color:$ifc;
            &:hover{
              border: 1px solid $ihbc;
            }
          }
        .set_width{
          width:335px;
        }
          position:relative;
          .choose_btn{
            position:absolute;
            right:5px;
            top:3px;
          }
          .no_change {
            border: 1px solid #d1d2d3;
            color: #9f9d9d;
            background: #f9f9f9;
          }
          }
        }
        .area_text{
          margin-top:2px;
          .add_area_name {
            float:left;
            width: 146px;
            text-align: right;
            padding-right: 6px;
            height:72px;
            line-height:72px;
          }
          .area_content{
            width:615px;
            min-height: $tmh;
            padding:3px 6px;
            border: 1px solid $ibc;
            border-radius: 3px;
            color:$ifc;
            margin-bottom:-4px;
            &:hover{
              border: 1px solid $ihbc;
            }
          }
        }
        .next_people{
          width:790px;
          margin-left:115px;
          margin-top:40px;
          .next{
            display:block;
            color:$mfc;
            font-size:$mfz;
            margin-bottom:20px;
          }
          .next_all{
            float:left;
            .set_position{
              display:inline-block;
              position:relative;
              width:60px;
              height:60px;
              margin-left:30px;
              .photo{
                position: relative;
                  &:hover{
                    .shadow_box{
                      opacity: 0.7;
                    }
                    .official-name{
                      display:none;
                    }
                  }
                width:100%;
                height:100%;
                display:inline-block;
                border:1px solid #5cd790;
                border-radius: 30px;
                overflow: hidden;
                .shadow_box{
                  opacity:0;
                  display:block;
                  width:50px;
                  height:50px;
                  line-height: 50px;
                  border-radius: 50%;
                  position:absolute;
                  top: 4px;
                  left: 3px;
                  background: #5d5d5d;
                  color:#fff;
                  font-size:22px;
                  z-index:10;
                }

                img{
                  width:100%;
                  height:100%;
                }
              }
              .people_name{
                display:inline-block;
                width:100%;
                text-align:center;
                margin-top:5px;
              }
              .mark_role{
                display:inline-block;
                width:100%;
                height:20px;
                line-height: 20px;
                font-size:10px;
                background:rgba(93, 92, 87,0.7);
                border-radius: 10px;
                color:white;
                position:absolute;
                left:0;
                top:42px;
              }
            }
          }
          .next_new{
            display:inline-block;
            width:60px;
            height:60px;
            overflow: hidden;
            border-radius: 30px;
            margin-left:30px;
            img{
              width:100%;
              height:100%;
            }
          }
        }

      }
    }
  .add_new_show{
    width:30%;
    position:absolute;
    right:0;
    top:0;
    padding:100px 0;
    border:1px solid #d0d0d0;
    background:#f5f5f5;
    .add_new_title{
      padding-left:20px;
      color:#666666;
      font-size:18px;
      margin-bottom:40px;
    }
    .add_new_content{
      padding:35px 25px;
      border:1px solid #e3e3e3;
      .input_style{
        display:inline-block;
        margin-bottom:30px;
        width:170px;
        height:20px;
        line-height:20px;
        .checkbox_style{
          width:20px;
          height:20px;
        }
        .checkbox_name{
          height:20px;
          line-height:20px;
        }


      }
    }

  }
  .save{
    width:100%;
    margin-top:40px;
    text-align:center;
    .save_button{
      display: inline-block;
      font-size:$bfs;
     padding:$btp $btnlrp;
      color:$bfc;
      border:none;
      background:$bbc;
     // border-radius: 3px;
      margin-right: 20px;
      &:hover{
        border:none;
        color:$bhfc;
      }
    }
    .set_width{
      width:100px;
    }
    .btn_active{
      background: $bbc;
      color:$bhfc;
    }

  }
  .set_red{
    color:red;
  }
  .set_err{
    width:100%;
    position: absolute;
    text-indent: 135px;
    text-align:center;
    display:inline-block;


  }
  }





