.proposal_details_process {
  min-width: 1000px;
  margin: 0 auto;
  position:relative;
  .details_process_aside {
    width: 30%;
    position: absolute;
    right: -48px;
    top: -60px;
    background: #f5f5f5;
    border: 1px solid #d0d0d0;
    .radio_style {
      width: 20px;
      height: 20px;
      margin-right: 5px;
    }
    .aside_title {
      padding-left: 25px;
      height: 118px;
      line-height: 118px;
      color: #232323;
      border-bottom: 1px solid #d0d0d0;
      span {
        font-size: 18px;
      }
    }
    .aside_content {
      padding: 50px 10px;
      .deal_history {
        display: inline-block;
        padding-left: 15px;
        margin-bottom: 20px;
      }
      .person_info {
        width: 100%;
        background: #fcfcfc;
        border-radius: 3px;
        border: 1px solid #ededed;
        .person {
          border-bottom: 1px solid #dedede;
          padding: 20px 0 50px 10px;
          .person_photo {
            float: left;
            width: 60px;
            height: 60px;
            border-radius: 30px;
            margin-right: 10px;
            overflow: hidden;
            .set_size {
              width: 60px;
              height: 60px;
            }
          }
          .person_details {
            margin-bottom: 25px;
            padding: 17px;
            .person_name {
              display: inline-block;
              color: #666666;
              margin-right: 3px;
            }
            .checked_date {
              display: inline-block;
              font-size: 8px;
              color: #bcbcbc;
            }
            .person_view {
              margin-left: 5px;
              display: inline-block;
              .department {

              }

            }

          }
          .set_p {
            margin-left: 70px;
          }
          .input_style {
            border: 1px solid #dedede;
            width: 380px;
            height: 160px;

          }

        }
      }
      .agree_choose {
        margin: 60px 0 30px 15px;
        .test_agree {
          display: inline-block;
          margin-bottom: 40px;
        }

      }
      .next_people {
        width: 100%;
        margin-top: 40px;
        .next {
          display: block;
          color: black;
          font-size: 16px;
          margin-bottom: 20px;
        }
        .next_all {
          float: left;
          .set_position {
            display: inline-block;
            position: relative;
            width: 60px;
            height: 60px;
            margin-left: 30px;
            .photo {
              position: relative;
              &:hover {
                .shadow_box {
                  opacity: 0.7;
                }
                .official-name {
                  display: none;
                }
              }
              width: 100%;
              height: 100%;
              display: inline-block;
              border: 1px solid #5cd790;
              border-radius: 30px;
              overflow: hidden;
              .shadow_box {
                opacity: 0;
                display: block;
                width: 50px;
                height: 50px;
                line-height: 50px;
                border-radius: 50%;
                position: absolute;
                top: 4px;
                left: 3px;
                background: #5d5d5d;
                color: #fff;
                font-size: 22px;
                z-index: 10;
              }
              img {
                width: 100%;
                height: 100%;
              }
            }
            .people_name {
              display: inline-block;
              width: 100%;
              text-align: center;
              margin-top: 5px;
            }
            .mark_role {
              display: inline-block;
              width: 100%;
              height: 20px;
              line-height: 20px;
              font-size: 10px;
              background: rgba(93, 92, 87, 0.7);
              border-radius: 10px;
              color: white;
              position: absolute;
              left: 0;
              top: 42px;
            }
          }
        }
        .next_new {
          display: inline-block;
          width: 60px;
          height: 60px;
          overflow: hidden;
          border-radius: 30px;
          margin-left: 30px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .save {
        width: 100%;
        margin-top: 70px;
        text-align: center;
        .save_button {
          display: inline-block;
          width: 170px;
          text-align: center;
          height: 50px;
          line-height: 50px;
          color: #545454;
          border: 1px solid #cfcfcf;
          background: white;
          border-radius: 3px;
          margin-right: 20px;
        }
        .btn_active {
          border: none;
          background: #3dca99;
          color: white;
        }
      }
    }
  }
  .set_details_process {
    width: 100%;
    .details_process_head {
      width: 100%;


      margin-bottom: 25px;
      .process_head_type {
        height: 30px;
        line-height: 30px;
      }
      .process_head_info {
        height: 58px;
        line-height: 58px;
        color: #b7b8ba;
        font-size: 14px;
        .info_detail {
          margin-right: 6px;
          display: inline-block;
        }
      }
    }
    .details_process_main {
      width: 75%;
      padding-left: 20px;
      padding-top: 20px;
      background: #ffffff;
      .process_title {
        width: 100%;
        height: 60px;
        line-height: 60px;
        border-bottom: 1px solid #f3f3f5;
        .info_name {
          display: inline-block;
          color: #656565;
          font-size: 18px;
          span {
            display: inline-block;
            height: 60px;
            line-height: 60px;
            margin-right: 30px;
          }
          .active {
            color: #88e1cd;
            border-bottom: 2px solid #4fd5ba;
          }
        }
      }
      .process_info {
        width: 100%;
        margin-top: 25px;
        .set_red {
          color: #fb3834;
        }
        .set_blue {
          color: #2e7aed;
        }
        table {
          box-sizing: border-box;
          width: 100%;
          border-collapse: collapse;
          color: #666666;
          tr, td {
            border: 1px solid #e0e3e8;
          }
          .info_detail_name {
            width: 100px;
            height: 45px;
            background: #f0f3f8;
            padding-right: 8px;
            text-align: right;
          }
          .info_detail_cont {
            width: 250px;
            height: 45px;
            padding-left: 8px;
          }
          .info_point_name {
            width: 100px;
            height: 150px;
            background: #f0f3f8;
            padding-right: 8px;
            text-align: right;
          }
          .set_style {
            width: 100%;
            height: 100%;
            padding: 10px 8px;
            display: inline-block;
          }
        }
      }
    }
    .color_red {
      color: red;
    }
    .set_green {
      color: #3dc998;
    }

  }
  .details-add-user {
    .next-processor-add {
      //right-processor-add
      opacity: 1;
      background: #f5f5f5;
      border: 1px solid #d6d6d6;
      width: 370px;
      height: 800px;
      overflow-y: scroll;
      position: absolute;
      right: 0;
      top: -65px;
      &.active {
        display: block;
      }
      //height:600px;

      //overflow-y: scroll;
      //-ms-overflow-y: scroll;
      // padding:20px;
      .my-list-header {
        display: inline-block;
        width: 100%;
      }
      .adder-processor-header {
        min-height: 160px;
        padding: 20px;
        .choice-person-num {
          display: inline-block;
          width: 180px;
          font-size: 15px;
        }
        .user-list {
          padding-left: 0;
          margin-left: -5px;
          list-style: none;
          .list-li-box {
            height: 55px;
            padding: 5px 0 0;
            position: relative;
            img {
              width: 44px;
              height: 44px;
              border-radius: 50%;
            }
            p {
              display: inline-block;
              width: 224px;
              height: 56px;
              padding: 8px;
              text-align: left;
            }
          }
        }
        span {
          display: inline-block;
          width: 75px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .my-close {
          //my-x
          position: absolute;
          top: -4px;
          right: 0;
          font-style: normal;
          font-size: 15px;
          width: 20px;
          height: 20px;
          line-height: 16px;
          border-radius: 20px;
          opacity: .7;
          background: #707070;
          color: #fff;
          cursor: pointer;
          display: none;
          &.active {
            display: block;
          }
        }

      }
    }
    .next-processor-searcher {
      //search processor
      position: relative;
      padding: 20px;
      background: #e8e6e7;
      .get-search-keyWords {
        width: 100%;
        height: 35px;
        text-indent: 10px;
        line-height: 35px;
        border-radius: 5px;
        outline: none;
        border: none;
      }
      .get-search-icon {
        position: absolute;
        top: 30px;
        right: 30px;
      }
    }

    .processor-list {
      // border:1px solid red;
      //  border:2px solid #a09d9d;
      // height:100%;//men-list-height
      height: 600px;
      .name-certify {
        //姓名分类
        border-bottom: 1px solid #a6a6a6;
        padding: 0 20px;
      }
      .processor-icon-list {
        //processor-head-icon
        li {
          margin-bottom: 10px;
          margin-top: 10px;
        }
        .man-header-icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        .processor-name {
          display: inline-block;
          width: 245px;
          height: 56px;
          padding: 8px;
          span {
            display: inline-block;
            overflow: hidden;
          }
        }
        .dot-circle {
          display: inline-block;
          width: 27px;
          height: 27px;
          border-radius: 50%;
          // background: #000000;
          background: url(../../images/ideas/list.png) no-repeat -5px -5px;
          &.active {
            background-position: -5px -38px;
          }
        }
      }
    }
  }
  .agree-btn {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border: 1px solid #aaa;
    border-radius: 50%;
    &.active {
      background: #46e78a;
    }
  }
}



