.proposal_manage{
    .sec-nav {
      height: 70px;
      line-height: 70px;
      //width:1000px;
      width:1200px;
      margin:0 auto;
      .btn{
        display: inline-block;
        font-size: 17px;
        width: 100px;
        height: 30px;
        line-height: 17px;
        text-align: center;
        border-radius: 15px;
        &:visited{
          background: #3dca99;
          color: #fff;
        }

      }
      .active{
        display: inline-block;
        font-size: 17px;
        width: 100px;
        height: 30px;
        line-height: 17px;
        text-align: center;
        border-radius: 15px;
        background: #3dca99;
        color: #fff;
      }


  }


}





