
.proposal_select_user {
  .select_user {
    width: 100%;
    background:#ffffff;
    margin: 30px auto;
    border:1px solid #e0e0e0;
    padding-bottom:40px;
    position:relative;
    .select_user_content {
      padding: 45px;

      .select_user_top{
        span {
          font-size: 18px;
        }
      }
      .select_user_detail {
        margin: 30px 10px 0 0;
        font-size: 14px;
        color: #959595;
        .select_user_info {
          float:left;
          height: 35px;
          line-height: 40px;
          margin-top: 40px;
          .elect_user_name {
            display: inline-block;
            width: 110px;
            text-align: right;
            padding-right: 5px;
          }
          .input_content {
            display: inline-block;
            width:185px;
            padding-left: 12px;
            border: 1px solid #d1d2d3;
            border-radius: 3px;
          }
          position:relative;
          .choose_btn{
            position:absolute;
            right:5px;
            top:3px;
          }


          .no_change {
            border: 1px solid #d1d2d3;
            color: #9f9d9d;
            background: #f9f9f9;
          }
          .active {
            border: 1px solid #2dcc70;
          }
        }
        .area_text{
          margin-top:40px;
          .add_area_name {
            float:left;
            width: 110px;
            text-align: right;
            padding-right: 5px;
            height:100px;
            line-height: 100px;
          }
          .area_content{
            height:100px;

            padding-left: 12px;
            margin-left:5px;
            border: 1px solid #d1d2d3;
            border-radius: 3px;
            max-width: 790px;
          }
        }
        .next_people{
          width:790px;
          margin-left:115px;
          margin-top:40px;
          .next{
            display:block;
            color:black;
            font-size:16px;
            margin-bottom:20px;
          }
          .next_all{
            float:left;
            .set_position{
              display:inline-block;
              position:relative;
              width:60px;
              height:60px;
              margin-left:30px;
              .photo{
                width:100%;
                height:100%;
                display:inline-block;
                border:1px solid #5cd790;
                border-radius: 30px;
                overflow: hidden;
                img{
                  width:100%;
                  height:100%;
                }
              }
              .people_name{
                display:inline-block;
                width:100%;
                text-align:center;
                margin-top:5px;
              }
              .mark_role{
                display:inline-block;
                width:100%;
                height:20px;
                line-height: 20px;
                font-size:10px;
                background:rgba(93, 92, 87,0.7);
                border-radius: 10px;
                color:white;
                position:absolute;
                left:0;
                top:42px;
              }
            }
          }
          .next_new{
            display:inline-block;
            width:60px;
            height:60px;
            overflow: hidden;
            border-radius: 30px;
            margin-left:30px;
            img{
              width:100%;
              height:100%;
            }
          }
        }

      }
    }


  }
  .save{
    width:100%;
    margin-top:40px;
    text-align:center;
    .save_button{
      display: inline-block;
      width:170px;
      text-align:center;
      height:50px;
      line-height: 50px;
      color:#545454;
      border:1px solid #cfcfcf;
      background:white;
      border-radius: 3px;
      margin-right: 20px;
    }
    .btn_active{
      border:none;
      background:#3dca99;
      color:white;
    }
  }
  //右边的新增编辑人



}

