<!--费用-专利年费-增加费用-->
<div class="add_priviate_cost">
    <form name="add_priviaite_box">
    <div class="box">
        <div class="modal-header">
            <div class="add_title">新增专利年费</div>
        </div>
        <div class="modal-body">
        <table class="table table-bordered table-responsive">
            <tr>
                <td class="titleName ">年费年份：</td>
                <td width="300" class="getContent">
                    <!--<input type="text" ng-model="AnnualfeeData.annualfee_year" placeholder="专利申请费用"/>-->
                    <p class="date-time-dre">
                        <input type="text" readonly id="annualfee_year" class="form-control"
                               uib-datepicker-popup
                               ng-model="AnnualfeeData.annualfee_year"
                               is-open="popup1.opened" datepicker-options="dateOptions"
                               close-text="Close" name="annualfee_year"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open1()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                    </p>
                </td>
                <td class="titleName ">已付金额：</td>
                <td width="300" class="getContent"><input type="text" ng-model="AnnualfeeData.paid_amount"
                                              placeholder="￥"/></td>
            </tr>
            <tr>
                <td class="titleName ">年费金额：</td>
                <td class="getContent"><input type="text"
                                              fng-model="AnnualfeeData.annualfee_amount"
                                              placeholder="￥"/></td>
                <td class="titleName ">付款日期：</td>
                <td class="getContent">
                    <!--<input type="text"  ng-model="AnnualfeeData.payment_date" />-->
                    <p class="date-time-dre">
                        <input type="text" readonly id="cpayment_date" class="form-control"
                               uib-datepicker-popup
                               ng-model="AnnualfeeData.payment_date"
                               is-open="popup2.opened" datepicker-options="dateOptions"
                               close-text="Close" name="cpayment_date"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open2()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="titleName ">滞纳金：</td>
                <td class="getContent"><input type="text" ng-model="AnnualfeeData.late_fee"
                                              placeholder="￥"/></td>
                <td class="titleName ">收款方：</td>
                <td class="getContent">
                    <input type="text" ng-model="AnnualfeeData.beneficiary"/>
                </td>
            </tr>
            <tr>
                <td class="titleName ">费用总额：</td>
                <td class="getContent"><input type="text" ng-model="AnnualfeeData.total_cost"
                                              placeholder="￥"/></td>
                <td class="titleName ">联系人：</td>
                <td class="getContent">
                    <input type="text" ng-model="AnnualfeeData.contacts"/>
                </td>
            </tr>
            <tr>
                <td class="titleName ">付款状态：</td>
                <td class="getContent">
                    <select name="" ng-model="AnnualfeeData.payment_status">
                        <option value="1">已经付款</option>
                        <option value="2">已经付款2</option>
                        <option value="3">已经付款</option>
                    </select>
                </td>
                <td class="titleName ">联系电话：</td>
                <td class="getContent">
                    <input type="text" ng-model="AnnualfeeData.phone"/>
                </td>
            </tr>
            <tr>
                <td class="titleName ">备注：</td>
                <td class="getContent">
                                             <textarea name="" ng-model="AnnualfeeData.remark" cols="30" rows="6">

                                             </textarea>
                </td>
            </tr>
        </table>
        </div>

        <div class="next_action modal-footer">
            <button class="my-button my-btn-active" ng-click="keepAll(AnnualfeeData)" ng-disabled="add_priviaite_box.$invalid">保存</button>
            <button class="my-button" ng-click="cancel()">取消</button>
        </div>
    </div>
    </form>
</div>