<div class="patentAdd">
    <div class="set_details">
        <div class="details_head" ng-if="headInfo==true">
            <div class="details_head_type">
                <span style="padding:5px 10px;border-radius: 3px;background:#50d6bd; color:#d9f2e8;margin:0 30px 18px 0;">
                   {{add_patent.status_str}}
                </span>
                <span>{{add_patent.name}}</span>
            </div>
            <div class="details_head_info">
                <div class="info_detail">
                    <span>创建人:</span>
                    <span>{{add_patent.createduser}}</span>
                </div>
                <div class="info_detail">
                    <span>创建时间:</span>
                    <span>{{add_patent.created_at|date:'yyyy-mm-dd'}}</span>
                </div>
                <div class="info_detail">
                    <span>最后更新人:</span>
                    <span>{{add_patent.updateduser}}</span>
                </div>
                <div class="info_detail">
                    <span>最后更新时间:</span>
                    <span>{{add_patent.updated_at|date:'yyyy-mm-dd'}}</span>
                </div>
                <!--<div class="info_edit pull-right">-->
                <!--<div>-->
                <!--<span class="glyphicon glyphicon-trash icon_word"></span>-->
                <!--<span class="word">删除专利</span>-->
                <!--</div>-->
                <!--<div>-->
                <!--<span class="glyphicon glyphicon-edit icon_word"></span>-->
                <!--<span class="word">编辑</span>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
        <div class="details_main">
            <div class="details_title">
                <div class="info_name hand">
                    <span ng-class="{'active':tab.infoP}" ng-click="tab_action('infoP')">基本信息</span>
                </div>
                <div class="info_name active hand">
                    <span ng-class="{'active':tab.cost}" ng-click="tab_action('cost')">费用</span>
                </div>
                <div class="info_name hand">
                    <span ng-class="{'active':tab.help}" ng-click="tab_action('help')">资助</span>
                </div>
            </div>
                <!--添加基本信息-->
                <div ng-if="tab.infoP==true" class="details">

                    <form name="patentForm" ng-submit="savePatent(patentForm)" novalidate>
                        <table>
                            <tr>
                                <td class="info_detail_name">
                                    <span>案号</span>
                                    <span class="set_red">*</span>
                                </td>
                                <td class="info_detail_cont">
                                    <input type="text" name="number" ng-model="add_patent.casenumber" required class="longInput"/>
                                    <span class="alert-word" ng-click="getCaseNum()">系统自动生成</span>
                                    <i ng-show="patentForm.number.$dirty && patentForm.number.$invalid && patentForm.number.$error.required"
                                       class="my-help-block" style="font-style: normal">案号不能为空</i>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>专利名称</span>
                                    <span class="set_red">*</span>
                                </td>
                                <td class="info_detail_cont">
                                    <!--<span>一种基于语音的文字识别方式</span>-->
                                    <input type="text" name="title" required  class="longInput" ng-model="add_patent.name"
                                           ng-blur="getProposalid()" placeholder="专利名称"/>
                                    <i ng-show="patentForm.title.$dirty && patentForm.title.$invalid && patentForm.title.$error.required"
                                       class="my-help-block" style="font-style: normal">案号不能为空</i>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>专利类型</span>
                                    <span class="set_red">*</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <select name="" ng-model="add_patent.type">
                                        <option value="发明">发明</option>
                                        <option value="实用新型">实用新型</option>
                                        <option value="外观设计">外观设计</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>申请国家</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <!--<input ng-model="add_patent.apply_country" type="text" placeholder="中国"/>-->
                                    <select name="" ng-model="add_patent.apply_country">
                                        <option ng-repeat="item in CountryList" value="{{item.id}}">{{item.name}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>权利人</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<span>深圳市扯淡科技有限公司</span>-->
                                    <input ng-model="add_patent.patent_man" type="text" placeholder="深圳市扯淡科技有限公司"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>提案部门</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <!--<span>开发部</span>-->
                                    <!--<input ng-model="add_patent.departmentid" type="text" placeholder="开发部"/>-->
                                    <select name="" ng-model="add_patent.departmentid">
                                        <option ng-repeat="item in departmentList" value="{{item.id}}">{{item.name}}
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>发明人</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<span>张三李四王二</span>-->
                                    <input type="text" ng-model="add_patent.inventor" placeholder="张三李四王二"/>
                                    <span class="alert-word">多个发明人，用英文逗号隔开</span>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <p class="text-jright">第一发明人身份证：</p>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <!--<span>345345345</span>-->
                                    <input ng-model="add_patent.first_inventor_idcard" type="text"
                                           placeholder="345345345"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>所属产品</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<span>遥控器</span>-->
                                    <input ng-model="add_patent.products" type="text" placeholder="遥控器"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>技术领域</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <!--<span>计算机</span>-->
                                    <input ng-model="add_patent.technical_field" type="text" placeholder="计算机"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>对应提案</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<span>PTe883q8y</span>-->
                                    <input ng-model="add_patent.proposalid" type="text" placeholder="对应提案由系统分配"
                                           readonly/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>提案评分</span>
                                </td>
                                <td class="info_detail_cont">
                                    <!--<span>8.6</span>-->
                                    <input ng-model="add_patent.proposal_fraction" type="text" placeholder="11"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>专利关键词</span>
                                </td>
                                <td class="info_detail_cont">
                                    <!--<span>语音识别声控</span>-->
                                    <input ng-model="add_patent.keyword" type="text" placeholder="语音识别声控"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>IPC分类号</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <!--<span>PT89</span>-->
                                    <input ng-model="add_patent.ipc" type="text" placeholder="PT89"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_point_name">
                                    <!--<td class="info_detail_name">-->
                                    <span class="set_style"> 发明点概述</span>
                                </td>
                                <td class="info_detail_cont" style="padding:25px 0 25px 8px">
                                    <textarea ng-model='add_patent.summary_invention' name="" cols="30"
                                              rows="5"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>技术交底书</span>
                                </td>
                                <td class="info_detail_cont">
                                    <!--<span><a class="set_blue" href="">一种基于语音的文字识别方式.doc</a></span>-->
                                    <!--<input ng-model="add_patent.technology_book" type="text"/>-->
                                    <!--<button>上传附件</button>-->
                                    <myfileupdownp id="profileid" pickid="profileid" filecount="1"
                                                   filetype="gif,jpg,jpeg,bmp,png"
                                                   filesvalue="{{add_patent.technology_book}}"
                                                   uploadcomplete="technology_book_fun(fileids)">上传图片
                                    </myfileupdownp>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_point_name">
                                    <span class="set_m_style">技术交底附图</span>
                                    <br/>
                                    <small>（单张图不超过2M）</small>
                                </td>
                                <td class="info_detail_cont">

                           <!--<img src="../images/proposal/proposal_picture.png" alt=""/>-->
                            <!--<button>上传附件</button>-->
                             <myfileupdownp id="letterid" pickid="letterid" filecount="8"
                                            filetype="gif,jpg,jpeg,bmp,png"
                                            filesvalue="{{add_patent.technology_drawings}}"
                                            uploadcomplete="technology_drawings_fun(fileids)">上传图片
                             </myfileupdownp>

                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>专利检索报告</span>
                                </td>
                                <td class="info_detail_cont">
                                    <myfileupdownp id="reportid" pickid="reportid" filecount="8"
                                                   filetype="pdf,doc,docx,ppt,pptx,wps"
                                                   filesvalue="{{add_patent.patent_search_report}}"
                                                   uploadcomplete="report_fun(fileids)">上传附件
                                    </myfileupdownp>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>承办人</span>
                                </td>
                                <td class="info_detail_cont">
                                    <input ng-model="add_patent.contractor" type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>其他附件</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <myfileupdownp id="otherid" pickid="otherid" filecount="8"
                                                   filetype="pdf,doc,docx,ppt,pptx,wps"
                                                   filesvalue="{{add_patent.other_attachments}}"
                                                   uploadcomplete="other_fun(fileids)">上传附件
                                    </myfileupdownp>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_point_name">
                                    <span class="set_style"> 摘要</span>
                                </td>
                                <td class="info_detail_cont rightCont" style="padding:25px 0 25px 8px">
                                    <textarea name="" ng-model="add_patent.summary" cols="30" rows="5"></textarea>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_point_name">
                                    <span class="set_style">备注</span>
                                </td>
                                <td class="info_detail_cont" style="padding:25px 0 25px 8px">
                                    <textarea ng-model="add_patent.remark" name="" cols="30" rows="5"></textarea>
                                </td>
                            </tr>
                            <!---cdcdcdcdc--->
                        </table>
                        <table>
                            <tr>
                                <td class="info_detail_name">

                                    <span>专利状态</span>
                                    <span class="set_red">*</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <select name="" ng-model="add_patent.status" class="set_table2_input">
                                        <option value="1">准备中</option>
                                        <option value="2">受理</option>
                                        <option value="3">初审</option>
                                        <option value="4">公开</option>
                                        <option value="5">实审</option>
                                        <option value="6">复审</option>
                                        <option value="7">授权</option>
                                        <option value="8">终止</option>
                                        <option value="9">视为撤回</option>
                                        <option value="10">无效</option>
                                        <option value="11">驳回</option>
                                    </select>
                                </td>
                                <td class="info_detail_name">
                                    <span>截止日期</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <!--<span>中国</span>-->
                                    <!--<input ng-model="" type="text"/>-->
                                    <p class="date-time-dre">
                                        <input type="text" readonly id="deadlines_date"
                                               class="form-control set_table2_input" uib-datepicker-popup
                                               ng-model="add_patent.deadlines_date"
                                               is-open="popup1.opened" datepicker-options="dateOptions"
                                               close-text="Close" name="deadlines_date"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>申请日</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<span>-->
                                    <!--<input ng-model="add_patent.application_date" type="text"/>-->
                                    <!--</span>-->
                                    <p class="date-time-dre">
                                        <input type="text" id="application_date"
                                               class="form-control set_table2_input" uib-datepicker-popup="yyyy-MM-dd"
                                               ng-model="add_patent.application_date"
                                               is-open="popup2.opened" datepicker-options="dateOptions"
                                               close-text="Close" name="application_date"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                    </span>
                                    </p>
                                </td>
                                <td class="info_detail_name">
                                    <span>申请号</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <!--<span>中国</span>-->
                                    <input ng-model="add_patent.application_number" class="set_table2_input"
                                           type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>公开日</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<input ng-model="add_patent.public_date" type="text"/>-->
                                    <p class="date-time-dre">
                                        <input type="text" readonly id="public_date"
                                               class="form-control set_table2_input" uib-datepicker-popup
                                               ng-model="add_patent.public_date"
                                               is-open="popup3.opened" datepicker-options="dateOptions"

                                               close-text="Close" name="public_date"/>
                                <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open3()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </button>
                                </span>
                                    </p>

                                </td>
                                <td class="info_detail_name">
                                    <span>公开号</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <!--<span>中国</span>-->
                                    <input ng-model="add_patent.public_number" class="set_table2_input" type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>授权公告日</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<input ng-model="add_patent.authorization_notice_date" type="text"/>-->
                                    <p class="date-time-dre">
                                        <input type="text" readonly id="authorization_notice_date"
                                               class="form-control set_table2_input" uib-datepicker-popup
                                               ng-model="add_patent.authorization_notice_date"
                                               is-open="popup4.opened" datepicker-options="dateOptions"

                                               close-text="Close" name="authorization_notice_date"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open4()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                    </span>
                                    </p>
                                </td>
                                <td class="info_detail_name">
                                    <span>公告号</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <input ng-model="add_patent.announcement_number" class="set_table2_input"
                                           type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>授权日</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<input ng-model="add_patent.authorization_date" type="text"/>-->
                                    <p class="date-time-dre">
                                        <input type="text" readonly id="authorization_date"
                                               class="form-control set_table2_input" uib-datepicker-popup
                                               ng-model="add_patent.authorization_date"
                                               is-open="popup5.opened" datepicker-options="dateOptions"

                                               close-text="Close" name="authorization_date"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open5()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                    </span>
                                    </p>
                                </td>
                                <td class="info_detail_name">
                                    <span>证书号</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <input ng-model="add_patent.certificate_number" class="set_table2_input"
                                           type="text"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>待缴年费日</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<input ng-model="add_patent.paid_annually_date" type="text"/>-->
                                    <p class="date-time-dre">
                                        <input type="text" readonly id="paid_annually_date"
                                               class="form-control set_table2_input" uib-datepicker-popup
                                               ng-model="add_patent.paid_annually_date"
                                               is-open="popup6.opened" datepicker-options="dateOptions"

                                               close-text="Close" name="paid_annually_date"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open6()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                    </span>
                                    </p>
                                </td>
                                <td class="info_detail_name">
                                    <span>专利终止日</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <!--<input ng-model="add_patent.termination_date" type="text"/>-->
                                    <p class="date-time-dre">
                                        <input type="text" readonly id="termination_date"
                                               class="form-control set_table2_input" uib-datepicker-popup
                                               ng-model="add_patent.termination_date"
                                               is-open="popup7.opened" datepicker-options="dateOptions"

                                               close-text="Close" name="termination_date"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open7()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                    </span>
                                    </p>

                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">
                                    <span>无效/失效日</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <!--<input ng-model="add_patent.invalid_date" type="text"/>-->
                                    <p class="date-time-dre">
                                        <input type="text" readonly id="invalid_date"
                                               class="form-control set_table2_input" uib-datepicker-popup
                                               ng-model="add_patent.invalid_date"
                                               is-open="popup8.opened" datepicker-options="dateOptions"
                                               close-text="Close" name="invalid_date"/>
                                    <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open8()">
                                                <i class="glyphicon glyphicon-calendar"></i>
                                            </button>
                                    </span>
                                    </p>
                                </td>
                                <td class="info_detail_name">
                                    <span>无效原因</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <select name="" ng-model="add_patent.invalid_reason" class="set_table2_input">
                                        <option value="主动放弃">主动放弃</option>
                                        <!--<option value="被逼无奈">被逼无奈</option>-->
                                        <option value="未缴年费">未缴年费</option>
                                        <option value="驳回">驳回</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td class="info_detail_name">

                                    <span>交易状态</span>
                                    <span class="set_red">*</span>
                                </td>
                                <td class="info_detail_cont" colspan="3">
                                    <select name="" ng-model="add_patent.trade_status" class="set_table2_input">
                                        <option value="1">未交易</option>
                                        <option value="2">已许可</option>
                                        <option value="3">已转让</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                        <div class="set-mar-top">代理机构信息</div>
                        <table>
                            <tr style="border-top:none">
                                <td class="info_detail_name">
                                    <span>代理机构</span>
                                </td>
                                <td class="info_detail_cont leftCont">
                                    <input ng-model="add_patent.agency" type="text" class="set_table2_input"/>
                                </td>
                                <td class="info_detail_name">
                                    <span>代理人</span>
                                </td>
                                <td class="info_detail_cont rightCont">
                                    <input ng-model="add_patent.agent" type="text" class="set_table2_input"/>
                                </td>
                            </tr>
                        </table>

                        <p class="next_action text-center">
                            <button class="my-button " type="submit"
                                    ng-disabled="patentForm.$invalid">保存
                            </button>
                            <button class="my-button my-btn-active">取消</button>
                        </p>
                    </form>
                </div>
                <!--这是专利增加中的费用page-->
                <div ng-show="tab.cost==true" class="cost">
                    <!--申请费用-->
                    <div class="part">
                        <h4 class="cost_title">申请费用</h4>
                        <table class="table table-responsive table-bordered  text-center">
                            <tr class="my_top_bar">
                                <td>序号</td>
                                <td>费用名称</td>
                                <td>官费（￥）</td>
                                <td>代理费（￥）</td>
                                <td>付费总额</td>
                                <td>付费日期</td>
                                <td>收款方</td>
                                <td>付费状态</td>
                                <td class="actionSheet">操作</td>
                            </tr>
                            <tr ng-repeat=" item in ApplicationfeeList">
                                <td ng-bind="$index+1"></td>
                                <td ng-bind="item.name"></td>
                                <td ng-bind="item.official_fee"></td>
                                <td ng-bind="item.agency_fees"></td>
                                <td ng-bind="item.total_cost"></td>
                                <td ng-bind="item.payment_date|date:'yyyy-MM-dd'"></td>
                                <td ng-bind="item.beneficiary"></td>
                                <td ng-bind="item.payment_status"></td>
                                <td class="action_btn">
                                    <button class="my_btn" ng-click="openCost('PatentCost','edit',$index)">编辑</button>
                                    <button class="my_btn" ng-click="deleteCost('Applicationfee',item.id,$index)">删除
                                    </button>
                                </td>
                            </tr>
                        </table>
                        <div class="add">
                            <p ng-show="ApplicationfeeList.length==0">暂无</p>
                            <button class="my_btn" ng-click="openCost('PatentCost','add',0)">增加费用</button>
                        </div>
                    </div>
                    <!--专利年费--->
                    <div class="part">
                        <h4 class="cost_title">专利年费</h4>
                        <table class="table table-responsive  text-center">
                            <tr class="my_top_bar">
                                <td>序号</td>
                                <td>年费年份</td>
                                <td>年费金额（￥）</td>
                                <td>滞纳金（￥）</td>
                                <!--<td>代理费（￥）</td>-->
                                <td>费用总额（￥）</td>
                                <td>年费缴纳日期</td>
                                <td>实际付费用</td>
                                <td>收款方</td>
                                <td>付款状态</td>
                                <td>操作</td>
                            </tr>
                            <tr ng-repeat=" item in AnnualfeeList">
                                <td>{{$index+1}}</td>
                                <td>{{item.annualfee_year|date:'yyyy-MM-dd'}}</td>
                                <td>{{item.annualfee_amount}}</td>
                                <td>{{item.late_fee}}</td>
                                <!--<td>代理费（￥）</td>-->
                                <td>{{item.total_cost}}</td>
                                <td>{{item.payment_date|date:'yyyy-MM-dd'}}</td>
                                <td>{{item.paid_amount}}</td>
                                <td>{{item.beneficiary}}</td>
                                <td>{{item.payment_status}}</td>
                                <td class="action_btn">
                                    <button class="my_btn" ng-click="openCost('AddAward','edit',$index)">编辑</button>
                                    <button class="my_btn" ng-click="deleteCost('Annualfee',item.id,$index)">删除</button>
                                </td>
                            </tr>

                        </table>
                        <div class="add">
                            <p ng-show="AnnualfeeList.length==0">暂无</p>
                            <button class="my_btn" ng-click="openCost('AddAward','add',0)">增加费用</button>
                        </div>

                    </div>
                    <!--奖励费用-->
                    <div class="part">
                        <h4 class="cost_title">奖励费用</h4>
                        <table class="table table-responsive text-center">
                            <tr class="my_top_bar">
                                <td>序号</td>
                                <td>奖金名称</td>
                                <td>获奖人</td>
                                <td>获奖总额（￥）</td>
                                <td>发奖日期</td>
                                <td>付款状态</td>
                                <td>操作</td>
                            </tr>
                            <tr ng-repeat="item in RewardList">
                                <td>{{$index}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.winners}}</td>
                                <td>{{item.total_cost}}</td>
                                <td>{{item.sent_date|date:'yyyy-MM-dd'}}</td>
                                <td>{{item.sent_status}}</td>
                                <td class="action_btn">
                                    <button class="my_btn" ng-click="openCost('AddCost','edit',$index)">编辑</button>
                                    <button class="my_btn" ng-click="deleteCost('Reward',item.id,$index)">删除</button>
                                </td>
                            </tr>

                        </table>
                        <div class="add">
                            <p ng-show="RewardList.length==0">暂无</p>
                            <button class="my_btn" ng-click="openCost('AddCost','add',0)">增加奖励</button>
                        </div>
                    </div>
                </div>
                <!--添加资助-->
                <div ng-show="tab.help==true" class="help">
                    <!--专利年费-->
                    <div class="part">
                        <h4 class="cost_title">申请费用</h4>
                        <table class="table table-responsive   text-center">
                            <tr class="my_top_bar">
                                <td>序号</td>
                                <td>资助名称</td>
                                <td>资助金额（￥）</td>
                                <td>发放日期</td>
                                <td>申请人</td>
                                <td>申请日期</td>
                                <td>操作</td>
                            </tr>
                            <tr ng-repeat="item in FundedList">
                                <td>{{$index+1}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.funded_amount}}</td>
                                <td>{{item.sent_date|date:'yyyy-MM-dd'}}</td>
                                <td>{{item.applicant_man}}</td>
                                <td>{{item.applicant_date|date:'yyyy-MM-dd'}}</td>
                                <td class="action_btn">
                                    <button class="my_btn" ng-click="openCost('AddHelp','edit',$index)">编辑</button>
                                    <button class="my_btn" ng-click="deleteCost('Funded',item.id,$index)">删除</button>
                                </td>
                            </tr>
                        </table>
                        <div class="add">
                            <p ng-show="FundedList.length==0">暂无</p>
                            <button class="my_btn" ng-click="openCost('AddHelp','add',0)">增加资助</button>
                        </div>
                    </div>
                    <!--新增资助的弹出框-->
                    <div class="add_help_box" ng-if="isShow.AddHelp==true">
                        <form name="add_help_box"  ng-submit="saveFunded()">
                             <div class="box">
                            <h4 class="add_title">新增资助</h4>
                            <table class="table table-bordered table-responsive">
                                <tr>
                                    <td class="titleName ">资助名称：</td>
                                    <td class="getContent"><input type="text" name="title" required ng-model="FundedData.name"/>
                                        <br/> <i ng-show="add_help_box.title.$dirty && add_help_box.title.$invalid && add_help_box.title.$error.required"
                                                 class="my-help-block" style="font-style: normal">资助名称不能为空</i>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="titleName ">资助金额：</td>
                                    <td class="getContent"><input type="text" ng-model="FundedData.funded_amount"
                                                                  placeholder="￥"/></td>
                                </tr>
                                <tr>
                                    <td class="titleName ">发放日期：</td>
                                    <td class="getContent">
                                        <p class="date-time-dre">
                                            <input type="text" readonly id="csent_date" class="form-control"
                                                   uib-datepicker-popup
                                                   ng-model="FundedData.sent_date"
                                                   is-open="popup13.opened" datepicker-options="dateOptions"
                                                   close-text="Close" name="csent_date"/>
                                            <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open13()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="titleName ">申请人：</td>
                                    <td class="getContent"><input type="text" ng-model="FundedData.applicant_man"/></td>
                                </tr>
                                <tr>
                                    <td class="titleName ">申请日期：</td>
                                    <td class="getContent">
                                        <p class="date-time-dre">
                                            <input type="text" readonly id="applicant_date" class="form-control"
                                                   uib-datepicker-popup
                                                   ng-model="FundedData.applicant_date"
                                                   is-open="popup14.opened" datepicker-options="dateOptions"
                                                   close-text="Close" name="applicant_date"/>
                                            <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open14()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="titleName ">奖励公文：</td>
                                    <td class="getContent">
                                        <myfileupdownp id="otherid" pickid="otherid" filecount="8"
                                                       filetype="pdf,doc,docx,ppt,pptx,wps"
                                                       filesvalue="{{FundedData.sent_document}}"
                                                       uploadcomplete="sent_document_fun(fileids)">上传附件
                                        </myfileupdownp>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="titleName ">备注：</td>
                                    <td class="getContent">
                                         <textarea name="" id="" ng-model="FundedData.remark" cols="30" rows="6">
                                         </textarea>
                                    </td>
                                </tr>
                            </table>

                            <p class="next_action">
                                <button class="my-button my-btn-active"  type="submit" ng-disabled="add_help_box.$invalid">保存</button>
                                <button class="my-button" ng-click="openCost('close','add',0)">取消</button>
                            </p>
                        </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
</div>