<div class="add_help_box">
    <form name="add_help_box">
        <div class="box">
            <div class="modal-header">
             <div class="add_title">新增资助</div>
            </div>
            <div class="modal-body">
              <table class="table table-bordered table-responsive">
                <tr>
                    <td class="titleName ">资助名称：</td>
                    <td class="getContent"><input type="text" name="title" required ng-model="FundedData.name"/>
                        <br/> <i ng-show="add_help_box.title.$dirty && add_help_box.title.$invalid && add_help_box.title.$error.required"
                                 class="my-help-block" style="font-style: normal">资助名称不能为空</i>
                    </td>
                    <td class="titleName ">申请人：</td>
                    <td class="getContent"><input type="text" ng-model="FundedData.applicant_man"/></td>
                </tr>
                <tr>
                    <td class="titleName ">资助金额：</td>
                    <td class="getContent"><input type="text" ng-model="FundedData.funded_amount"
                                                  placeholder="￥"/></td>
                    <td class="titleName ">申请日期：</td>
                    <td class="getContent">
                        <p class="date-time-dre">
                            <input type="text" readonly id="applicant_date" class="form-control"
                                   uib-datepicker-popup
                                   ng-model="FundedData.applicant_date"
                                   is-open="popup2.opened" datepicker-options="dateOptions"
                                   close-text="Close" name="applicant_date"/>
                                            <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open2()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="titleName ">发放日期：</td>
                    <td class="getContent">
                        <p class="date-time-dre">
                            <input type="text" readonly id="csent_date" class="form-control"
                                   uib-datepicker-popup
                                   ng-model="FundedData.sent_date"
                                   is-open="popup1.opened" datepicker-options="dateOptions"
                                   close-text="Close" name="csent_date"/>
                                            <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open1()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                        </p>
                    </td>
                    <td class="titleName ">奖励公文：</td>
                    <td class="getContent">
                        <myfileupdownp id="otherid" pickid="otherid" filecount="8"
                                       filetype="pdf,doc,docx,ppt,pptx,wps"
                                       filesvalue="{{FundedData.sent_document}}"
                                       uploadcomplete="sent_document_fun(fileids)">上传附件
                        </myfileupdownp>
                    </td>
                </tr>
                <tr>
                    <td class="titleName ">备注：</td>
                    <td class="getContent">
                                         <textarea name="" id="" ng-model="FundedData.remark" cols="30" rows="6">
                                         </textarea>
                    </td>
                </tr>
            </table>
            </div>
            <div class="next_action modal-footer">
                <button class="my-button my-btn-active"  type="submit" ng-click="keepAll(FundedData)" ng-disabled="add_help_box.$invalid">保存</button>
                <button class="my-button" ng-click="cancel()">取消</button>
            </div>
            </div>
    </form>
</div>