<!--费用-专利年费-增加费用弹窗-->
<div class="add_award_box">
    <form name='add_award_box'  ng-submit="saveReward()">
        <div class="box">
            <div class="modal-header">
                <div class="add_title">新增奖励</div>
            </div>
            <div class="modal-body">
                 <table class="table table-bordered table-responsive">
                <tr>
                    <td class="titleName ">奖励名称：</td>
                    <td width="300" class="getContent"><input type="text" name="title" required ng-model="RewardData.name"/>
                        <br/> <i ng-show="add_award_box.title.$dirty && add_award_box.title.$invalid && add_award_box.title.$error.required"
                                 class="my-help-block" style="font-style: normal">专利申请费用不能为空</i>
                    </td>
                    <td class="titleName ">付款状态：</td>
                    <td width="300" class="getContent">
                        <select name="" ng-model="RewardData.sent_status">
                            <option value="1">已经付款</option>
                            <option value="2">已经付款2</option>
                            <option value="3">已经付款</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="titleName ">奖励人：</td>
                    <td class="getContent"><input type="text" ng-model="RewardData.winners"
                                                  placeholder="￥"/></td>
                    <td class="titleName ">已发金额：</td>
                    <td class="getContent"><input type="text" ng-model="RewardData.sent_amount"
                                                  placeholder="￥"/></td>
                </tr>
                <tr>
                    <td class="titleName ">奖励额度：</td>
                    <td class="getContent"><input type="text" ng-model="RewardData.reward_quota"/>
                    </td>
                    <td class="titleName ">发奖日期：</td>
                    <td class="getContent">
                        <!--<input type="text" ng-model="RewardData.sent_date"/>-->
                        <p class="date-time-dre">
                            <input type="text" readonly id="sent_date" class="form-control"
                                   uib-datepicker-popup
                                   ng-model="RewardData.sent_date"
                                   is-open="popup.opened" datepicker-options="dateOptions"
                                   close-text="Close" name="sent_date"/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open()">
                                                        <i class="glyphicon glyphicon-calendar"></i>
                                                    </button>
                                                </span>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td class="titleName ">奖励公文：</td>
                    <td class="getContent" colspan="3">
                        <!--<input type="text" ng-model="RewardData.reward_document"/>-->
                        <!--<button>上传附件</button>-->
                        <myfileupdownp id="otherid" pickid="otherid" filecount="8"
                                       filetype="pdf,doc,docx,ppt,pptx,wps"
                                       filesvalue="{{RewardData.reward_document}}"
                                       uploadcomplete="reward_document_fun(fileids)">上传附件
                        </myfileupdownp>
                    </td>
                </tr>
                <tr>
                    <td class="titleName ">备注：</td>
                    <td class="getContent">
                                             <textarea name="" ng-model="RewardData.remark" cols="30" rows="6">

                                             </textarea>
                    </td>
                </tr>
            </table>
            </div>
            <div class="next_action modal-footer">
                <button class="my-button my-btn-active" type="submit" ng-click="keepAll(RewardData)" ng-disabled="add_award_box.$invalid">保存</button>
                <button class="my-button" ng-click="cancel()">取消</button>
            </div>
        </div>
    </form>
</div>