.patent_detials{
  width:1000px;//container width=1000px
  min-height: 600px;
  margin:0 auto;
  // border:1px solid red;
  .set_details{
    width:100%;
    input{
      width:200px;
      &.longInput{
        width:400px;
      }
      //     &.shortInput{
      //       width:
      //     }
      //     // border-left: 1px solid #afd9ee;
      padding-left:5px;
      border-top: 1px solid #aaa;
    }

    .noBorder{
      border:transparent;
    }
    .details_head {
      width: 100%;
      padding-top: 20px;
      margin-bottom: 10px;
      margin-left: 20px;
      .info_edit{
        div{
          text-align: center;
          display:inline-block;
          margin-left:10px;
          .icon_word{
            font-size:20px;
          }
          .word {
            margin-left:5px;
            font-size:14px;

            color:#000000;
          }
        }
      }
      .details_head_type {
        height: 30px;
        line-height: 30px;
      }
      .details_head_info {
        height: 58px;
        line-height: 58px;
        color: #b7b8ba;
        font-size: 14px;
        .info_detail {
          margin-right: 20px;
          display: inline-block;
        }
      }

    }
    .details_main {
     width:100%;
     padding-left:20px;
      padding-right:20px;
      padding-bottom:20px;
      box-sizing: border-box;
      background: #ffffff;
      .details_info {
        width: 100%;
        margin-top: 25px;
        .set_red{
          color:#fb3834;
        }
        .set_blue{
          color:#2e7aed;
        }
        table {
          box-sizing: border-box;
          width:100%;
          border-collapse: collapse;
          color:#666666;
          tr,td {
            border: 1px solid #e0e3e8;
          }
          .info_detail_name {
            width: 140px;
            // width:60px;

            height: 45px;
            background:#f0f3f8;
            padding-right:8px;
            text-align:right;
          }
          .info_detail_cont{
            //  width:150px;
            height: 45px;
            padding-left:8px;
            &.leftCont{
              width:500px;

            }
            &.rightCont{
              width:242px;
            }
            .alert-word{
              margin-left:10px;
            }
          }
          .info_point_name{
            width: 140px;
            height: 150px;
            background:#f0f3f8;
            padding-right:8px;
            text-align:right;
          }
          .set_style{
            width:100%;
            height:100%;
            padding:10px 0;
            display:inline-block;
          }
        }

      }
    }
    .color_red{
      color:red;
    }
    .set_red{
      color:red;
    }
  }
  .details_title {
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #f3f3f5; .info_name {
    display: inline-block;
    color: #656565;
    font-size: 18px;
    span {
      display: inline-block;
      height: 60px;
      line-height: 60px;
      margin-right: 30px;
    }
    .active {
      color: #88e1cd;
      border-bottom: 2px solid #4fd5ba;

    }
  }
  }
  .details_aside{
    width:30%;
    height:100%;
    position:absolute;
    right:0;
    top:0;
    background:#f5f5f5;
    border-left:1px solid #d0d0d0;
    border-top:1px solid #d0d0d0;
    .aside_title{
      padding-left:25px;
      height:118px;
      line-height:118px;
      color:#232323;
      border-bottom:1px solid #d0d0d0;
      span{
        font-size:18px;
      }
    }
    .aside_content{
      padding: 50px 10px;
      .deal_history{
        display:inline-block;
        padding-left:15px;
        margin-bottom:20px;
      }
      .person_info{
        //   width:375px;
        background:#fcfcfc;
        border-radius: 3px;
        border:1px solid #ededed;
        .person{
          border-bottom:1px solid #dedede;
          padding:20px 0 50px 10px;
          .person_photo {
            float:left;
            //   width: 60px;
            height: 60px;
            border-radius: 30px;
            margin-right: 10px;
            overflow: hidden;
            .set_size{
              //   width:60px;
              height:60px;
            }
          }
          .person_details{
            margin-bottom:25px;
            padding:17px;
            .person_name{
              display:inline-block;
              color:#666666;
              margin-right:3px;
            }
            .checked_date{
              display:inline-block;
              font-size:8px;
              color:#bcbcbc;
            }
            .person_view{
              margin-left:5px;
              display:inline-block;
              .department{

              }

            }

          }
          .set_p{
            margin-left:70px;
          }
          .input_style{
            border:1px solid #dedede;
            // width:380px;
            height:160px;

          }

        }
      }
      .testing{
        width:100%;
        margin-top:30px;
        text-align:center;
      }
    }
  }


  }




  //the style of  revising_cost
  //.revising_cost{
  //  .part{
  //    margin-bottom:65px;
  //    .cost_title{
  //      margin-bottom:20px;
  //      margin-top:25px;
  //      font-size:15px;
  //    }
  //    .my_top_bar{
  //      background:#e5e5e5;
  //    }
  //  }
  //
  //  .right_side{//the right sideBox
  //    position:absolute;
  //    right:0;
  //    top:50px;
  //    bottom:0;
  //    min-height:1400px;
  //    width:690px;
  //    border-left: 1px solid #E7DEDE;
  //    //   border:1px solid red;
  //    background: #f5f5f5;
  //    .cost_editRight{
  //      height:70px;
  //      line-height:70px;
  //      padding-left:20px;
  //      font-size:20px;
  //      font-weight: bold;
  //    }
  //    .titleName{//
  //      width:140px;
  //      height:40px;
  //      line-height: 40px;
  //      padding:10px;
  //      background:#e5e5e5;
  //      text-align: right;
  //      font-size:15px;
  //    }
  //    .getContent{
  //      width:547px;
  //      height:40px;
  //      line-height: 40px;
  //      padding-left:10px;
  //      box-sizing: border-box;
  //      input{
  //        //height:37px;
  //        font-size: 15px;
  //        width:335px;
  //      }
  //      textarea{
  //        width:100%;
  //        font-size:15px;
  //        padding:5px 10px;
  //        line-height: 20px;
  //      }
  //
  //    }
  //    .my_table{
  //      //   border:1px solid #a09d9d;
  //      border-right:none
  //    }
  //    .next_action{
  //      margin-top:84px;
  //      .my-btn{
  //        width:145px;
  //        height:46px;
  //        margin-right:20px;
  //        border:1px solid #cfcfcf;
  //        border-radius: 3px;
  //        color:#000000;
  //        font-size:15px;
  //        background: #fff;
  //        &.active{
  //          background: #3dca99;
  //          color:#fff;
  //        }
  //      }
  //    }
  //  }
  //}




