.new-patent {
  .new-patent-con {
    width: 963px;
    margin: 0 auto;
    .title {
      .title-con {
        span {
          display: inline-block;
          width: 98px;
          height: 28px;
          border-radius: 13px;
          line-height: 28px;
          text-align: center;
          font-size: 15px;
          cursor: pointer;
          color: #666666;
        }
        span:last-child {
          margin-left: 24px;
        }
        .active {
          background: #3dca99;
          color: #ffffff;
        }
      }
    }
    .echart {
      margin-top: 17px;
    }
    .sort {
      margin-top: 40px;
      .sort-term {
        .sort-list {
          font-size: 14px;
          color: #888888;
          display: flex;
          select {
            width: 138px;
            height: 38px;
            padding-left: 16px;
            border: 1px solid #dfe5e7;
          }
          input {
            height: 38px;
            border: 1px solid #dfe5e7;
          }
          .space {
            width: 632px;
            margin-left: 3px;
            padding-left: 15px;

          }

        }
        .sort-bottom {
          margin-top: 22px;
          input {
            width: 108px;
            padding-left: 18px;
          }
          label {
            font-weight: normal;
          }
          .time {
            label {
              margin-left: 8px;
              margin-right: 4px;
            }
          }
          .zhi {
            margin-left: 5px;
            margin-right: 8px;
          }
          .type {
            margin-left: 3px;
            width: 140px;
          }
          .country {
            margin-left: 3px;
            width: 155px;
          }
        }
      }
      .action {
        button {
          width: 80px;
          height: 70px;
          font-size: 16px;
          color: #ffffff;
          background: #53ccc4;
          border: none;
          margin-left: 17px;
          border-radius: 3px;
        }

      }
      .sort-con {
        background: #ffffff;
        margin-top: 30px;

        .con-top {
          display: flex;
          padding: 19px 20px 12px 20px;
          box-shadow: 0 5px 0 #fafafb;
          .add {
            flex: 13;
            button {
              width: 135px;
              height: 38px;
              color: #ffffff;
              font-size: 16px;
              border-radius: 17px;
              background: #67d5f8;
              border: none;
              label {
                font-size: 23px;
                font-weight: 600;
                margin-right: 10px;
              }
            }
          }
          .action-con {
            flex: 12;
            font-size: 14px;
            color: #a4aeb9;
            span {
              cursor: pointer;
              img {
                vertical-align: -4px;
              }
            }
            .line {
              margin: 0 3px;
            }
            label {
              font-weight: normal;
              cursor: pointer;
            }

          }
        }
        .con-center {
          padding: 26px 13px 60px 13px;
          .table-responsive {
            font-size: 12px;
            text-align: center;
            table{
              border:1px solid #e7e7e7;
              margin-bottom:0;
            }
            td{
              height:45px;
              vertical-align: middle;
              padding:0;
            }
            thead {
              color: #777777;
              font-weight: 600;
              background: #f7f7f7;
              td {
                //border-bottom-width: 1px;
                border:1px solid #e7e7e7;
              }
              .number {
                text-align: left;
                padding-left: 9px;
                input {
                  vertical-align: -4px;
                  margin-right: 5px;
                  width:15px;
                  height:15px;
                }
              }
            }
            tbody {
              color: #888888;
              td {
                //border-bottom-width: 1px;
                border:1px solid #e7e7e7;
              }
              .number {
                text-align: left;
                padding-left: 9px;
                input {
                  vertical-align: -3px;
                  margin-right: 3px;
                  background: #ffffff;
                  width:15px;
                  height:15px;
                }
                input[type=checkbox]{
                  //-webkit-appearance:none;
                  background: #ffffff;
                  //border:1px solid #bab9b9;
                }
              }
              .action {
                p {
                  margin:0;
                  span {
                    width:43px;
                    height:20px;
                    line-height:20px;
                    text-align:center;
                    border:1px solid #bebdbd;
                    display:inline-block;
                    padding-top:-3px;
                    cursor: pointer;
                    border-radius: 2px;

                  }
                }
              }
            }
          }
          .pagination{
            display:flex;
            background: #f7f7f7;
            font-size:12px;
            color:#656565;
            margin:0;
            border:1px solid #e7e7e7;
            border-top:none;
            padding-top:24px;
            padding-bottom:13px;
            border-radius: 0;
           select, button{
              border-radius: 2px;
            }
            label{
              font-weight:normal;
            }
            i{
              font-style: normal;
              margin-left:25px;
              margin-right:25px;
            }
            .space{
              flex:2
            }
            .pagination-list{
              flex: 3;
              .pagination-show{
                select{
                  width:48px;
                  height:35px;
                  padding-left:5px;
                  color:#cacaca;
                  border:1px solid #e5e5e5;
                  margin-left:4px;
                }
              }
              .pagination-next{
                button{
                  width:35px;
                  height:35px;
                  color:#cacaca;
                  border:1px solid #e5e5e5;
                  background:#ffffff;
                }
              }
              .pagination-go{
                margin-left:30px;
                input{
                  width:45px;
                  height:35px;
                  color:#cacaca;
                  border:1px solid #e5e5e5;
                  margin-left:4px;
                  padding-left: 8px
                }
                button{
                  width:35px;
                  height:35px;
                  color:#cacaca;
                  border:1px solid #e5e5e5;
                  background:#ffffff;
                  margin-left:10px;
                }
              }
            }
          }
        }
      }
    }
  }
}