.appr_list_detail{
  box-sizing: border-box;
 // position: relative;
  .my-list-unstyled{
    list-style: none;
  }
  .list-nav{
    background: #fff;
    height: 420px;
    padding:20px;
    li{
      height:60px;
      .btn{
        border-radius: 20px;
      }
    }
  }
  .list-content {
    background: #fff;
    min-height: 600px;
    margin: 0 auto;
    padding: 0 ;
    // padding: 20px 20px;
    // margin-left: 30px;

    .media-body {
      vertical-align:top;
      padding-top:12px;
      padding-left:15px;
    }
  }
  .word-des{
   // cursor: pointer;
    margin-top: 24px;
   // margin-bottom: 20px;
    border: 1px solid #edf4f8;

    .top-alert{
      height:70px;
      line-height: 60px;
      padding:0 45px;
      &.waiting{
        background: url(../../images/ideas/pass/testing.png) no-repeat;
      }
      // border:1px solid red;
      &.agree{
        background: url(../../images/ideas/pass/passed.png) no-repeat;
      }
      &.disagree{
        background: url(../../images/ideas/pass/fail.png) no-repeat;
      }
      .header-des{
        height:70px;
        font-size: 15px;
        padding-top:12px;

        border-bottom:1px dotted #aaaaaa;
        .stay-right{
          margin:0 10px 0 290px;
        }
      }

      .primate-right{//专利
        background: #b9acfc;
        color:#fff;
        padding:2px 5px;
        border-radius: 5px;
      }
      //.logo{//商标
      //  height:24px;
      //  line-height: 19px;
      //  padding:2px 5px;
      //  border-radius: 5px;
      //  display:inline-block;
      //  margin-left:10px;
      //  background: #9babff;
      //  color:#fff;
      ////}
      //.board-right{//版权
      //  background: #f29c9f;
      //  color:#fff;
      //  padding:2px 5px;
      //  border-radius: 5px;
      //}
      .sug{
        background: #7ecef4;
        color:#fff;
        padding:2px 5px;
        border-radius: 5px;
      }
    }
    .word{
      padding:10px 45px;
      color:#999999;
    }
  }
  .deal-sug{
    background: #f9fafd;
    .my-title{
      margin-left:40px;
      padding:10px 0;
    }
    .history-sug{
      font-size:15px;
      padding-top:25px;
      padding-bottom:10px;
      padding-left:45px;
    }
    li{
      padding-bottom:10px;
    }

  }
//  .up-down{//click up-down
//    height:50px;
//    padding:10px;
//    //line-height:50px;
//    background: #f3f5f8;
//    cursor: pointer;
//  }
  .next-processor-sug{//waiting-testing details
    background: #f6f6f6;
    padding:10px 45px;
    position: relative;//used for alert message
    .alert-no-info{
      position:absolute;
      top:0;
      left:50%;
      margin-left:-125px;
      width:0;
      height:0;
      opacity:0;
      font-size:0;
      overflow: hidden;
      transition: all 0.5s linear;
      text-align: center;
      color:#fff;
      border-radius: 10px;
      background: #676767;
      &.show-alert{
        width:250px;
        height:100px;
        line-height: 100px;
        opacity: .6;
        font-size:20px;
      }
    }
    // border:1px solid red;
    .agree-btn{
      display: inline-block;
      width:15px;
      height:15px;
      margin-right:5px;
      border:1px solid #aaa;
      border-radius:50%;
      &.active{
        background:#46e78a;
      }
    }
    .getWords{
      background: #fff;
      padding:10px 20px;
      height:80px;
    }

    .next-processor{
      //   border:1px solid red;
      padding:33px 0;
      transition: all  0.1s linear;
      &.hide-next-processor{//hide next processor
        overflow:hidden;
        opacity: 0;
      }
      li{
        width:92px;
      }
      .can-delete{
        position: relative;
        &:hover{
          .shadow_box{
            opacity: 0.7;
          }
          .official-name{
            display:none;
          }
        }
        .shadow_box{
          opacity:0;
          display:block;
          width:50px;
          height:50px;
          line-height: 50px;
          border-radius: 50%;
          position:absolute;
          top:20px;
          left:17px;
          background: #5d5d5d;
          color:#fff;
          font-size:22px;
          z-index:10;

        }
        .adder{
          width:50px;
          height:50px;
          margin-top:20px;
          border-radius: 50%;
        }
        .official-name{
          background: #5d5d5d;
          color:#fff;
          border-radius: 10px;
          font-size:10px;
          opacity: .7;
          position:absolute;
          left:6px;
          bottom:-1px;
          padding:1px 3px;
          margin-bottom:0;

        }
      }
      .processor-content{
        position: relative;
        .adder{
          width:50px;
          height:50px;
          margin-top:20px;
          border-radius: 50%;
        }
        .official-name{
          background: #5d5d5d;
          color:#fff;
          border-radius: 10px;
          font-size:10px;
          opacity: .7;
          position:absolute;
          bottom:0;
          padding:1px 3px;
          margin-bottom:0;
          width:83px;
        }
      }
    }

    .bottom-btn{
      margin-top:50px;

      .my-btn-lg{
      //  border:none;
        width: 165px;
        height: 50px;
        border-radius: 5px;
        margin-right: 20px;
        outline: none;
        border: 1px solid #3dca99;
        color:#3DC998;
        background:#fff;
        &.btn-active{
          background:#3dca99 ;
          color:#fff;
        }
      }
      }
    }
  //右边的新增编辑人
  .next-processor-add{//right-processor-add
    //display:none;
    opacity: 0;
    transition: all 0.1s linear;
    margin:0;
    border:0;
    padding:0;
    height:0;
    width:0;
    overflow:hidden;
    //&.active{
    // // display:block;
    //}
    &.show-box{
      opacity: 1;
      background: #f5f5f5;
      border: 1px solid #d6d6d6;
      width: 370px;
      height:800px;
      overflow-y: scroll;
    }
    position: absolute;
    top: 50px;
    right: 0;

    //height:600px;

    //overflow-y: scroll;
    //-ms-overflow-y: scroll;
    // padding:20px;
    .my-list-header{
      display:inline-block;
      width:100%;
    }
    .adder-processor-header{
      min-height:160px;
      padding:20px;
      .choice-person-num{
        display:inline-block;
        //width:220px;
        width:190px;
        font-size:15px;
      }
      .list-li-box{
     //   width:56px;
        height:55px;
        //border:1px solid red;
        padding:5px 0 0;
        position:relative;//user forn user-list
        img{//img style
          width:44px;
          height:44px;
          border-radius: 50%;
        }

        //.my-close{//my-x
        //  position:absolute;
        //  top:-4px;
        //  right:0;
        //  font-style: normal;
        //  font-size:15px;
        //  width:20px;
        //  height:20px;
        //  line-height: 16px;
        //  border-radius:20px;
        //  opacity:.7;
        //  background:#707070;
        //  color:#fff;
        //  cursor:pointer;
        //  display:none;
        //}
        //&:hover{
        //  .my-close{
        //    display:block;
        //  }
        //}
        p{
          display:inline-block;
          // border:1px solid red;
          width:224px;
          height:56px;
          padding:8px;
          text-align: left;
        }
      }
    }
    .next-processor-searcher{//search processor
      position: relative;
      padding:20px;
      background: #e8e6e7;
      .get-search-keyWords{
        width:100%;
        height:35px;
        text-indent: 10px;
        line-height: 35px;
        border-radius:5px;
        outline:none;
        border:none;
      }
      .get-search-icon{
        position:absolute;
        top:30px;
        right:30px;
      }
    }
    .processor-list{
      // border:1px solid red;
      //  border:2px solid #a09d9d;
      // height:100%;//men-list-height
      height:600px;
      overflow-y: scroll;
      -ms-overflow-y: scroll;
      .name-certify{//姓名分类
      //  border-bottom:1px solid #e8e3e3 ;
        padding:0 20px;
        //:hover{
        //  background: #CCCCCC;
        //}
      }
      .processor-icon-list{//processor-head-icon
        //padding-left:20px;
        li{
          margin-bottom: 10px;
          margin-top: 10px;
        }
        .man-header-icon{
          width:50px;
          height:50px;
          border-radius: 50%;
        }
        .processor-name{
          display:inline-block;
          // border:1px solid red;
          width:224px;
          height:56px;
          padding:8px;

          span{
            width:165px;
            margin-right:10px;
            display:inline-block;
            overflow: hidden;
          }
        }
        .dot-circle{
          display:inline-block;
          width:27px;
          height:27px;
          border-radius: 50%;
          // background: #000000;
          background: url(../../images/ideas/list.png) no-repeat -5px -5px;
          &.active{
            background-position:  -5px -38px;
          }
        }
      }
    }






  }




  }













