.ideasAdd{
  //width:1200px;
  //min-height: 1500px;
  //background:#f0f3f8;
  input,textarea{
    background: #fff !important;
    font-size:14px;
  }
  .edit-box{
    //width:910px;
    height: 940px;
    margin:0 auto;
    padding:20px 30px;
    background: #fff;

    .my-btn-add-tags{
      color:#3DC998;
      border:1px solid #3DC998;
      &.btn-active{
        color:#fff;
        background: #3DC998;
      }
    }
    .my-panel-title{
      background: #f9faff;
      color:#b7b5b6;
      line-height: 54px;
      height:54px;
      padding:0 20px
    }
    .new-basic-info{
      background: #f9faff;
      color:#b7b5b6;
      margin:20px 0 0 0;
      padding: 20px;
      min-height:270px;
      font-size:15px;
    }
    .file-type{
      margin-bottom:30px;
      margin-top:20px;
    }


    .plus-fix{
      cursor:pointer;
    }
    .next-processor{
      li{
        width:100px;
      }
      .can-delete{
        position: relative;
        &:hover{
          .shadow_box{
           opacity: 0.7;
          }
          .official-name{
            display:none;
          }
        }
        .shadow_box{
          opacity:0;
          display:block;
          width:50px;
          height:50px;
          line-height: 50px;
          border-radius: 50%;
          position:absolute;
          top:20px;
          left:24px;
          background: #5d5d5d;
          color:#fff;
          font-size:22px;
          z-index:10;
        }
        .adder{
          width:50px;
          height:50px;
          margin-top:20px;
          border-radius: 50%;
        }
        .official-name{
          background: #5d5d5d;
          color: #fff;
          border-radius: 10px;
          font-size: 10px;
          opacity: .7;
          width: 80px;
          position: absolute;
          left: 10px;
          bottom: -6px;
          padding: 1px 3px;
          margin-bottom: 0;

        }
      }
      .processor-content{
        width:100px;

       }
    }

    .my-help-block{
      font-size: 15px;
      font-weight: bold;
      color:red;
      margin:10px 5px;
      padding:0;
    }

    .bottom-btn{
      margin-top:50px;
      .my-btn-lg{
        width:100px;
        height: 35px;
        border-radius: 20px;
        margin-right:10px;
        outline: none;
        background: #fff;
        color:#49c780;
        border: 1px solid #49c780;
        &.active{
          background: #4acd9f !important;
          color:#fff;
        }
      }
    }
  }

  //右边的新增编辑人
  .detail-add-next-processor-add{//right-processor-add
    // display:none;
    // &.active{
    //   display:block;
    // }
    opacity: 0;
    transition: all 0.1s linear;
    margin:0;
    border:0;
    padding:0;
    height:0;
    width:0;
    overflow:hidden;
    //&.active{
    // // display:block;
    //}
    &.show-box{
      opacity: 1;
      background: #f5f5f5;
      border: 1px solid #d6d6d6;
      width: 370px;
      height:800px;
      overflow-y: scroll;
    }
    position: absolute;
    top: 50px;
    right: 0;

    ///
    //    background: #f5f5f5;
    //    position: absolute;
    //    top: 50px;
    //    right: 0;
    //    border: 1px solid #d6d6d6;
    //    width: 370px;

    //height:600px;

    //overflow-y: scroll;
    //-ms-overflow-y: scroll;
    // padding:20px;
    .my-list-header{
      display:inline-block;
      width:100%;
    }
    .adder-processor-header{
      min-height:160px;
      padding:20px;
      .choice-person-num{
        display:inline-block;
        width:200px;
        font-size:15px;
      }
      .list-li-box{
        //width:56px;
        // height:74px;
        height: 55px;
        //border:1px solid red;
        padding:5px 0 0;
        position:relative;//user forn user-list
        img{//img style
          width:44px;
          height:44px;
          border-radius: 50%;
          //.my-close{//my-x
          //   position:absolute;
          //   top:-4px;
          //   right:0;
          //   font-style: normal;
          //   font-size:15px;
          //   width:20px;
          //   height:20px;
          //   line-height: 16px;
          //   border-radius:20px;
          //   opacity:.7;
          //   background:#707070;
          //   color:#fff;
          //   cursor:pointer;
          //   display:none;
          //   &:active{
          //     display:block;
          //   }
          // }

        }
        p{
          display:inline-block;
          // border:1px solid red;
          width:224px;
          height:56px;
          padding:8px;
          text-align: left;
        }


      }
    }
    .next-processor-searcher{//search processor
      position: relative;
      padding:20px;
      background: #e8e6e7;
      .get-search-keyWords{
        width:100%;
        height:35px;
        text-indent: 10px;
        line-height: 35px;
        border-radius:5px;
        outline:none;
        border:none;
      }
      .get-search-icon{
        position:absolute;
        top:30px;
        right:30px;
      }
    }

    .processor-list{
      // border:1px solid red;
      //  border:2px solid #a09d9d;
      // height:100%;//men-list-height
      height:600px;
      overflow-y: scroll;
      -ms-overflow-y: scroll;
      .name-certify{//姓名分类
        //border-bottom:1px solid #e8e3e3 ;
        padding:0  20px;
        padding-right:0;
      }
      .processor-icon-list{//processor-head-icon
        //padding-left:20px;
        li{
          margin-bottom: 10px;
          margin-top: 10px;
        }
        .man-header-icon{
          width:50px;
          height:50px;
          border-radius: 50%;
        }
        .processor-name{
          display:inline-block;
          // border:1px solid red;
          width:219px;
          height:56px;
          padding:8px;

          span{
            width:160px;
            margin-right:10px;
            display:inline-block;
            overflow: hidden;
          }
        }
        .dot-circle{
          display:inline-block;
          width:27px;
          height:27px;
          border-radius: 50%;
          // background: #000000;
          background: url(../../images/ideas/list.png) no-repeat -5px -5px;
          &.active{
            background-position:  -5px -38px;
          }
        }
      }
    }






  }

}

.ideas-add{
  width:100%;
  .add-btn{
    margin-bottom:20px;
    button{
      font-size:$bfs;
      color:$bfc;
      background:$bbc;
      padding:$btp $btnlrp;
      border:none;
      &:hover{
        color:$bhfc;
    }
    }
  }
  .add-content{
    width:100%;
    .add-head-title{
      width:100%;
      background:$thb;
      color:$bfc;
      font-size:$mfz;
      padding-top:10px;
      padding-bottom:6px;
      padding-left:12px;
      span{
        color:$bfc;
        font-size:$mfz;
      }
      span:nth-of-type(3){
        color:$bfc;
        font-size:$mfz;
        margin-left:60px;
      }
    }
    .add-details{
      padding-top:20px;
      .add-details-content{
        width:750px;
        margin:0 auto;
        border:none;
        background:#fff;
      .add-details-list{
        margin-bottom:10px;
        background:#fff;
        span{
        float:left;
          width:100px;
          height:$ih;
          line-height:$ih;
          font-size:$ifs;
          color:$ifc;
          padding-right:$ilp;
          text-align: right;
        }
        .some-spe{
          float:left;
          width:100px;
          display:inline-block;
          line-height:160px;
          vertical-align: middle;
          font-size:$ifs;
          color:$ifc;
          padding-right:$ilp;
          text-align: right;
        }
        input{
          width:640px;
          height:$ih;
          font-size:$ifs;
          color:$ifc;
          padding-left:$ilp;
          border: 1px solid $ibc;
          &:hover{
            border: 1px solid $ihbc;
          }
        }
        textarea{
          width:640px;
          height:160px;
          font-size:$ifs;
          color:$ifc !important;
          padding-left:$ilp;
          border: 1px solid $ibc;
          &:hover{
            border: 1px solid $ihbc;
          }
        }
        select{
          width:90px;
          height:$ih;
          font-size:$ifs;
          color:$ifc;
          padding-left:$ilp;
          border: 1px solid $ibc;
          &:hover{
            border: 1px solid $ihbc;
          }
        }
          button{
            font-size:$bfs;
            color:$bfc;
            background:$bbc;
            padding:$btp $btnlrp;
            border:none;
            &:hover{
              color:$bhfc;
            }
        }
        .span-style{
          float:left;
          width:100px;
          height:30px;
          line-height:30px;
          font-size:$ifs;
          color:$ifc;
          padding-right:$ilp;
          text-align: right;
        }

        }

      }
    }

  }

}
