.ideas-detail{
  box-sizing: border-box;
  .my-list-unstyled{
    list-style: none;
  }

  .list-nav{
    background: #fff;
    height: 420px;
    padding:20px;
    li{
      height:60px;
      .btn{
        border-radius: 20px;
        }
      }
    }
  .list-content {
    background: #fff;
    min-height: 600px;
    margin: 0 auto;
    padding: 30px 20px;
   // padding: 20px 20px;
   // margin-left: 30px;
    .media-body {
      vertical-align: bottom !important;
    }

    .word-des{
      cursor: pointer;
      margin-top:24px;
     // margin-bottom:20px;
      border:1px solid #efeeee;

      .top-alert{
        height:70px;
        line-height: 70px;
       // padding:0 70px;
       // background: url(../../images/ideas/pass/testing.png) no-repeat;
        // border:1px solid red;
        .my-img{
          vertical-align: top;
        }
        .mark-icon{
          width:70px;
        }
        .header-des{
          border-bottom:1px dotted #aaaaaa;
        //  border-bottom:1px dotted #aaaaaa;
          display: inline-block;
          width: 770px;
          vertical-align: top;
          .stay-right{
            margin:0 10px 0 390px;
          }
        }

        .primate-right{//专利
          background: #b9acfc;
          color:#fff;
          padding:2px 5px;
          border-radius: 5px;
        }
        .logo{//商标
          background: #9babff;
          color:#fff;
          padding:2px 5px;
          border-radius: 5px;
          margin-right:5px;
        }
        .board-right{//版权
          background: #f29c9f;
          color:#fff;
          padding:2px 5px;
          border-radius: 5px;
        }
        .sug{
          background: #7ecef4;
          color:#fff;
          padding:2px 5px;
          border-radius: 5px;
        }
      }
      .word{
        padding:10px 70px;
      }
    }
    .deal-sug{
      background: #f9fafd;
      transition:all 0.5s linear;
      &.ng-hide{
        height:0;
        opacity: 0;
      }
      .my-title{
        margin-left:40px;
        padding:10px 0;
      }
      li{
        padding-bottom:10px;
      }
    }
    .up-down{//click up-down
      height:50px;
      padding:10px;
      //line-height:50px;
      background: #f3f5f8;
      cursor: pointer;
    }
    .btn-outline-green{
      background: #fff;
     // border-color: #2dcc70;
      color: #2dcc70;
      width: 81px;
      height: 33px;
      line-height: 28px;
      border-radius: 20px;
      outline: none;
      border: 1px solid #a3eaa3;
      &.active{
        background: #3dca99;
        color: #fff;
      }
    }

  }


  }












