<!--<div class="ideasAdd">

    <div class="edit-box">
        <h3 class="text-center">添加创意</h3>
        <ul class="list-inline">
            &lt;!&ndash;<li>&ndash;&gt;
                &lt;!&ndash;<a class="btn btn-sm my-btn-add-tags "&ndash;&gt;
                   &lt;!&ndash;ng-init="pr=false"&ndash;&gt;
                   &lt;!&ndash;ng-click="pr=!pr;addTag('专利',pr)"&ndash;&gt;
                   &lt;!&ndash;ng-class="{true:'btn-active',false:''}[pr]">&ndash;&gt;
                    &lt;!&ndash;专利&ndash;&gt;
                &lt;!&ndash;</a>&ndash;&gt;
            &lt;!&ndash;</li>&ndash;&gt;
            &lt;!&ndash;<li>&ndash;&gt;
                &lt;!&ndash;<a class="btn btn-sm my-btn-add-tags"&ndash;&gt;
                   &lt;!&ndash;ng-init="cl=false"&ndash;&gt;
                   &lt;!&ndash;ng-click="cl=!cl;addTag('商标',cl)"&ndash;&gt;
                   &lt;!&ndash;ng-class="{true:'btn-active',false:''}[cl]">&ndash;&gt;
                    &lt;!&ndash;商标&ndash;&gt;
                &lt;!&ndash;</a>&ndash;&gt;
            &lt;!&ndash;</li>&ndash;&gt;
            &lt;!&ndash;<li>&ndash;&gt;
                &lt;!&ndash;<a class="btn btn-sm my-btn-add-tags"&ndash;&gt;
                   &lt;!&ndash;ng-init="cr=false"&ndash;&gt;
                   &lt;!&ndash;ng-click="cr=!cr;addTag('版权',cr)"&ndash;&gt;
                   &lt;!&ndash;ng-class="{true:'btn-active',false:''}[cr]"&ndash;&gt;
                &lt;!&ndash;版权</a></li>&ndash;&gt;
            &lt;!&ndash;<li><a class="btn btn-sm my-btn-add-tags"&ndash;&gt;
                   &lt;!&ndash;ng-init="dn=false"&ndash;&gt;
                   &lt;!&ndash;ng-click="dn=!dn;addTag('域名',dn)"&ndash;&gt;
                   &lt;!&ndash;ng-class="{true:'btn-active',false:''}[dn]"&ndash;&gt;
            &lt;!&ndash;域名</a></li> &ndash;&gt;
            <li>
                <a class="btn btn-sm my-btn-add-tags "
                   ng-init="pr=false"
                   ng-click="pr=!pr;cl=cr=dn=false;addTag('专利',pr)"
                   ng-class="{true:'btn-active',false:''}[pr]">
                    专利
                </a>
            </li>
            <li>
                <a class="btn btn-sm my-btn-add-tags"
                   ng-init="cl=false"
                   ng-click="cl=!cl;pr=cr=dn=false;addTag('商标',cl)"
                   ng-class="{true:'btn-active',false:''}[cl]">
                    商标
                </a>
            </li>
            <li>
                <a class="btn btn-sm my-btn-add-tags"
                   ng-init="cr=false"
                   ng-click="cr=!cr;pr=cl=dn=false;addTag('版权',cr)"
                   ng-class="{true:'btn-active',false:''}[cr]"
                        >版权</a></li>
            <li><a class="btn btn-sm my-btn-add-tags"
                   ng-init="dn=false"
                   ng-click="dn=!dn;pr=cl=cr=false;addTag('域名',dn)"
                   ng-class="{true:'btn-active',false:''}[dn]"
                    >域名</a></li>
        </ul>
        <form name="idea_info" novalidate>
            <input type="text" name="idea_title" autocomplete="off" required ng-minlength="5" ng-maxlength="20"
                   class="form-control my-panel-title" placeholder="创意标题" ng-model="ideas.name"/>
            <div>&lt;!&ndash;ng-messages="idea_info.idea_content.$error"&ndash;&gt;
                <p class="my-help-block"
                   ng-show="idea_info.idea_title.$error.minlength || idea_info.idea_title.$error.maxlength">
                    标题名5-20个字符</p>
                <p class="my-help-block" ng-show="idea_info.idea_title.$error.required && idea_info.$dirty">标题名必填</p>
                &lt;!&ndash;<div ng-messages-include="email-messages.html"></div>&ndash;&gt;
                &lt;!&ndash;<span class="help-block"  >请输入创意标题（2~30）个字符！</span>&ndash;&gt;
            </div>

            <textarea class="form-control new-basic-info" rows="3" name="idea_content" required ng-maxlength="300"
                      placeholder=" 创意基本信息" ng-model="ideas.basic_information"></textarea>
            <div>
                <p class="my-help-block" ng-show="idea_info.idea_content.$error.maxlength">创意内容描述不多于300字符</p>
                <p class="my-help-block" ng-show="idea_info.idea_content.$error.required && idea_info.$dirty">
                    创意内容描述必填</p>
            </div>

            &lt;!&ndash;附件&ndash;&gt;
            <myfileuploaderhorizontal
                id="horizontalid"
                filecount="3"
                filetype="pdf,doc,docx,ppt,pptx,wps"
                filesvalue="ideas.attachments"
                uploadcomplete="uploadcomplete_img(fileids)">
        </myfileuploaderhorizontal>
            <div class="next-processor">
                <h5><b>下一步处理人：</b></h5>
                <ul class="list-inline">
                    <li class="text-center" ng-repeat="sure_user in sure_user_list">&lt;!&ndash;ng-hide="hide_add_user"&ndash;&gt;
                        <div class="processor-content text-center can-delete">
                            <img ng-if="!sure_user.head_image" src="images/default-head.png" class="adder default-man-head-img" alt=""/>
                            <img ng-if="sure_user.head_image"   showimgcircle="sure_user.head_image" class="adder default-man-head-img" alt=""/>
                            <p class="official-name">{{sure_user.officialName}} </p>
                            <span class="shadow_box text-center glyphicon glyphicon-trash "
                                  ng-click="delete_user(sure_user.id)">
                                                     &lt;!&ndash;遮罩阴影层&ndash;&gt;
                                                 </span>
                        </div>
                        <h5>{{sure_user.name}}</h5>
                    </li>


                    &lt;!&ndash;<li class="text-center">&ndash;&gt;
                    &lt;!&ndash;<div class="processor-content text-center can-delete">&ndash;&gt;
                    &lt;!&ndash;<img src="images/ideas/add/adder_one.png" class="adder" alt=""/>&ndash;&gt;
                    &lt;!&ndash;<p class="official-name">创意管理员</p>&ndash;&gt;
                    &lt;!&ndash;<span class="shadow_box text-center glyphicon glyphicon-trash ">&ndash;&gt;
                    &lt;!&ndash;&lt;!&ndash;遮罩阴影层&ndash;&gt;&ndash;&gt;
                    &lt;!&ndash;</span>&ndash;&gt;
                    &lt;!&ndash;</div>&ndash;&gt;
                    &lt;!&ndash;<h5>陈咪咪</h5>&ndash;&gt;
                    &lt;!&ndash;</li>&ndash;&gt;
                    <li class="text-center" ng-click="add_user()">&lt;!&ndash;增加&ndash;&gt;
                        <div class="text-center">
                            <img src="images/ideas/add/add_processor_plus.png" class="adder" alt=""/>
                        </div>
                        <h5>&nbsp;</h5>
                    </li>
                </ul>
            </div>

            <p class="bottom-btn  text-center">
                <button type="submit" class=" my-btn-lg " ng-click="addIdeas()"
                        ng-class="{'active':!idea_info.$invalid}">保存
                </button>&lt;!&ndash; ng-disabled="idea_info.$invalid"&ndash;&gt;
                <button class=" my-btn-lg btn-outline-green" ng-click="cancel_save()">取消</button>
            </p>
        </form>
    </div>
    &lt;!&ndash;<div class="next-processor-add  active" ng-show="add_user_show">&lt;!&ndash;右边的添加用户弹出框添加active就可以显示-&ndash;&gt;&ndash;&gt;
    &lt;!&ndash;这是有右边 的添加用户导航&ndash;&gt;
    <div class="detail-add-next-processor-add" ng-class="{'show-box':add_user_show==true}"  >&lt;!&ndash;右边的添加用户弹出框添加active就可以显示-&ndash;&gt;
        &lt;!&ndash;这是有右边 的添加用户导航&ndash;&gt;
        <div class="my-list-header">
            <div class="adder-processor-header">
                <p>
                    <span class="choice-person-num">已经选择了{{length}}个联系人</span>
                    <a class="btn  btn-sm  btn-active" ng-click="sure_add_user();add_user()">确认</a>
                    <a class="btn btn-sm btn-default " ng-click="cancel_choice();add_user()">取消</a>
                </p>
                <ul class="list-inline user-list">
                    &lt;!&ndash;<li class="list-li-box text-center">&ndash;&gt;
                    &lt;!&ndash;<img src="images/ideas/add/adder_one.png" alt=""/>&ndash;&gt;
                    &lt;!&ndash;&lt;!&ndash;<i class="my-close active">x</i>&ndash;&gt;&ndash;&gt;
                    &lt;!&ndash;<p>陈默默</p>&ndash;&gt;
                    &lt;!&ndash;</li>&ndash;&gt;

                    <li class="list-li-box text-center" ng-repeat="pre_user in pre_user_list">
                        <img ng-if="!pre_user.head_image" src="images/default-head.png"   alt=""/>
                        <img ng-if="pre_user.head_image"   showimgcircle="pre_user.head_image" alt=""/>

                        &lt;!&ndash;<i class="my-close active" ng-click="choice_user(false,pre_user.name,pre_user.img,pre_user.id)">x</i>&ndash;&gt;
                        <p>{{pre_user.name}}</p>
                    </li>

                </ul>
            </div>
            <div class="next-processor-searcher">&lt;!&ndash;搜索框&ndash;&gt;
                <input type="text" class="get-search-keyWords" placeholder="请输入下一步审批人的名字" ng-model="name"/>
                <img src="images/ideas/search_icon.png" class="get-search-icon hand" ng-click="get_all_user(name)"
                     alt=""/>
            </div>
        </div>

        <ul class="processor-list list-unstyled"> &lt;!&ndash;人物列表&ndash;&gt;
            <li class="name-certify" ng-repeat="user in userList track by $index">
                &lt;!&ndash;<h4>A</h4>&ndash;&gt;
                <ul class="list-unstyled processor-icon-list">
                    <li>
                        <img class="man-header-icon"
                             ng-if="user.head_image"
                             showimgcircle="user.head_image"
                            alt=""/>
                        <img class="man-header-icon"
                             ng-if="!user.head_image"
                             src="images/default-head.png"
                             alt=""/>
                        &lt;!&ndash;src="images/ideas/add/adder_one.png"&ndash;&gt;
                        <div class="processor-name">
                            <span>{{user.name}}</span>
                            <i class="dot-circle"
                               ng-click="choiced_flag(user.id);choice_user(user.choice,user.name,user.head_image,user.id)"
                               ng-class="{active:user.choice}">

                                &lt;!&ndash;ng-init="chioce=false"&ndash;&gt;
                                &lt;!&ndash;ng-click="choice=!choice;choice_user(choice,user.name,user.head_image,user.id)"&ndash;&gt;
                                &lt;!&ndash;  ng-class="{active:choiced==$index}"&ndash;&gt;
                                &lt;!&ndash;ng-click="choice_user($index,user.name,user.head_image,user.id)"&ndash;&gt;
                            </i>
                        </div>
                    </li>

                </ul>
            </li>
        </ul>


    </div>
</div>-->


<div class="ideas-add">
    <div class="add-btn">
        <button type="submit" ng-click="addIdeas()"
                ng-class="{'active':!idea_info.$invalid}">
            发布
        </button>
    </div>
    <div class="add-content">
        <form name="idea_info" novalidate>
            <div class="add-head-title">
                <span>当前节点:</span>
                <span>发布创意</span>
                <span>处理人:</span>
                <span>普通用户</span>
            </div>
            <div class="add-details">
            <div class="add-details-content">
                <div class="add-details-list">
                    <span>创意类型</span>
                    <select name="ideasType" ng-model="ideas.tags" id="">
                        <option value="">选择类型</option>
                        <option value="专利">专利</option>
                        <option value="商标">商标</option>
                        <option value="版权">版权</option>
                        <option value="域名">域名</option>

                    </select>
                </div>
                <div class="add-details-list">
                   <span>创意标题</span>
                    <input type="text" placeholder="50字以内" name="idea_title" autocomplete="off" required ng-minlength="5" ng-maxlength="20"
                          ng-model="ideas.name"/>
                </div>
                <div class="add-details-list">
                    <div class="some-spe">创意内容</div>
                    <textarea rows="3" name="idea_content" required ng-maxlength="300"
                              ng-model="ideas.basic_information" placeholder="800字以内">
                    </textarea>
                </div>
                <div class="add-details-list">
                    <span class="span-style">上传文件</span>
                    <myfileuploaderhorizontal
                            id="horizontalids"
                            filecount="3"
                            filetype="pdf,doc,docx,ppt,pptx,wps,png,jpg"
                            filesvalue="ideas.attachments"
                            uploadcomplete="uploadcomplete(fileids)">
                    </myfileuploaderhorizontal>
                </div>
            </div>
            </div>
        </form>
    </div>


</div>



