
<!--<div class="content-header">-->
    <!--<div class="margin-right">-->
        <!--<span>关键字&nbsp;</span>-->
        <!--<input class="textStyle" type="text" ng-model="getIdeas.keyWord"/>-->
    <!--</div>-->
    <!--<div class="margin-right">-->
        <!--<span>部门&nbsp;</span>-->
        <!--<select class="textStyle" name="全部" ng-model="getIdeas.depart"  ng-option="depart.name for depart in departments">-->
            <!--<option value="">全部</option>-->
            <!--&lt;!&ndash;<option value="产品部">产品部门</option>&ndash;&gt;-->
            <!--&lt;!&ndash;<option value="业务部">业务部</option>&ndash;&gt;-->
            <!--&lt;!&ndash;<option value="研发部" ng-options="">研发部</option>&ndash;&gt;-->
        <!--</select>-->
    <!--</div>-->
    <!--<div class="margin-right">-->
        <!--<span>创意状态&nbsp;</span>-->
        <!--<select class="textStyle" name="全部" ng-model="getIdeas.iState">-->
            <!--<option value="">全部</option>-->
            <!--<option value="0">审核中</option>-->
            <!--<option value="1">未通过</option>-->
            <!--<option value="2">通过</option>-->
            <!--<option value="3">已转化</option>-->
        <!--</select>-->
    <!--</div>-->
    <!--<div class="margin-right">-->
        <!--<span>标签&nbsp;</span>-->
        <!--<select class="textStyle" name="全部" ng-model="getIdeas.label" >-->
            <!--<option value="">全部</option>-->
            <!--<option value="商标">商标</option>-->
            <!--<option value="版权">版权</option>-->
            <!--<option value="专利">专利</option>-->
            <!--<option value="域名">域名</option>-->
        <!--</select>-->
    <!--</div>-->
    <!--<button class="btn btn-sm btn-outline-green" ng-click="getAll_ideasList()">查询</button>-->
<!--</div>-->


<ideasearchinput data="search_input" inputmethods="getAll_ideasList()"  subdata="subdata" ></ideasearchinput>
<div><input type="button" ng-click="testSubData_click()" value="点一下"/></div>
<div class="detail-list">
    <!--<ul class="media-list">-->
        <!--<li class="media"  ng-show="hide_list==2"  ng-repeat="tmp in allList track by $index">-->
            <!--<div class="media-left">-->
                <!--<div>-->
                    <!--<img class="media-object default-man-head-img"-->
                         <!--ng-if="!tmp.user.head_image"  src="images/default-head.png" alt="...">-->

                    <!--<div class="media-object default-man-head-img" ng-if="tmp.user.head_image"-->
                         <!--showimgcircle="tmp.user.head_image" ></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="media-body">-->
                <!--<span class="media-heading">{{tmp.user.realname}}</span>-->
                <!--<p style="color:#999999">{{tmp.user.created_at |date:'yyyy-MM-dd HH:mm'}}</p>-->
            <!--</div>-->
            <!--<div class="word-des" >&lt;!&ndash;ui-sref="home.ideas.details({id:tmp.idea.id})"&ndash;&gt;-->
                <!--<div class="top-alert">-->
                    <!--<img  src="images/ideas/pass/testing.png" alt="" class="mark-icon my-img"  ng-show="tmp.idea.status==0"/>-->
                    <!--<img src="images/ideas/pass/fail.png"     alt="" class="mark-icon my-img" ng-show="tmp.idea.status==1"/>-->
                    <!--<img src="images/ideas/pass/passed.png"   alt="" class="mark-icon my-img" ng-show="tmp.idea.status==2"/>-->
                    <!--<div class="header-des">-->
                        <!--<span class="hand" ui-sref="home.ideas.details({id:tmp.idea.id})">{{tmp.idea.name}}   </span>-->
                        <!--&lt;!&ndash;<b class="primate-right">专利</b>&ndash;&gt;-->
                        <!--&lt;!&ndash;<b class="logo">商标</b>&ndash;&gt;-->
                        <!--&lt;!&ndash;<b ng-repeat="tag in tmp.idea.tags track by $index" class="logo" ng-bind="tag"> </b>&ndash;&gt;-->
                        <!--<span  class="logo" ng-repeat="tag in tmp.idea.tags" ng-bind="tag"></span>-->
                        <!--&lt;!&ndash;<span  class="logo"   ng-bind="tmp.idea.tags"></span>&ndash;&gt;-->
                        <!--<div class="pull-right">-->
                            <!--<button class="btn my-btn-lg"-->
                                    <!--ng-click="remove_ideas(tmp.idea.id)" ng-show="idea_right.del">删除</button>-->
                            <!--<button class="btn my-btn-lg btn-green"-->
                                    <!--ui-sref="home.ideas.edit({id:tmp.idea.id})"-->
                                    <!--ng-show="idea_right.edit"-->
                                    <!--编辑</button>&lt;!&ndash;ng-click="edit_ideas()"&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<p class="word text-justify hand" ui-sref="home.ideas.details({id:tmp.idea.id})">-->
                    <!--{{tmp.idea.basic_information}}-->
                <!--</p>-->
                <!--<div class="fix-file" ng-show="tmp.idea.attachments">-->
                    <!--<p style="margin-bottom:26px">附件</p>-->
                    <!--<ul class="list-inline">-->
                        <!--&lt;!&ndash;<li>-->
                            <!--<div class="thubmail text-center">-->
                                <!--<img src="images/ideas/sug_img_one.png" class="img-responsive" alt="...">-->
                            <!--</div>-->
                            <!--<div class="caption">-->
                                <!--<h5>阿凡达...</h5>-->
                            <!--</div>-->
                        <!--</li>-->


                        <!--<li class="">-->
                            <!--<div class="thubmail text-center">-->
                                <!--<img src="images/ideas/sug_xs_one.png"  class="img-responsive" alt="...">-->
                            <!--</div>-->
                            <!--<div class="caption">-->
                                <!--<h5>阿凡达...</h5>-->
                            <!--</div>ng-click="down_file(a_item.d_id)-->
                        <!--</li>&ndash;&gt;-->
                        <!--<li class="" ng-repeat="a_item in tmp.idea.attachments_array" ng-click="down_file(a_item.file_id)">-->
                            <!--<div class="thubmail text-center ">-->
                                <!--<img src="images/ideas/sug_wd_one.png" class="img-responsive hand"  title="{{a_item.name}}" alt="...">-->
                            <!--</div>-->
                            <!--<div class="caption">-->
                                <!--&lt;!&ndash;<h5>{{a_item.name|limitTo:3}}</h5>&ndash;&gt;-->
                                <!--<h5>{{a_item.name |limitTo:2}}<span ng-if="a_item.name.length>=2">...</span></h5>-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->
        <!--</li>-->
        <!--&lt;!&ndash;-分页&ndash;&gt;-->
        <!--<li ng-show="hide_list==2">-->
            <!--<div class="bottom-pagination">-->
                <!--<uib-pagination template-url="../js/directives/pagination/pagination.html"-->
                                <!--total-items="pageParam.totalItems"-->
                                <!--ng-model="pageParam.currentPage"-->
                                <!--max-size="pageParam.maxSize"-->
                                <!--boundary-links="false"-->
                                <!--ng-change="page_change()"-->
                                <!--items-per-page="pageParam.perPageItems"-->
                                <!--first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"-->
                                <!--boundary-links="true" boundary-link-numbers="true">-->
                <!--</uib-pagination>-->
            <!--</div>-->
        <!--</li>-->
        <!--&lt;!&ndash;<li class="media">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="media-left">&ndash;&gt;-->
        <!--&lt;!&ndash;<a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;<img class="media-object" src="images/ideas/man-one.png" alt="...">&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="media-body">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="media-heading">Media heading</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<p>2017-03-08</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="word-des">&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="top-alert">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="images/ideas/pass/testing.png" alt="" class="mark-icon my-img" />&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="header-des">&ndash;&gt;-->
        <!--&lt;!&ndash;<span >审核内容改版测试</span>&ndash;&gt;-->
        <!--&lt;!&ndash;<b class=" board-right">版权</b>&ndash;&gt;-->
        <!--&lt;!&ndash;<b class="sug">提案</b>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<p class="word text-justify">&ndash;&gt;-->
        <!--&lt;!&ndash;推进供给关系结构性改革，是党中央在全国范围内推进供给关系结构性改革，是党中央在全国范围内&ndash;&gt;-->
        <!--&lt;!&ndash;推进供给关系结构性改革，是党中央在全国范围内 推进供给关系结构性改革，是党中央在全国范围内&ndash;&gt;-->
        <!--&lt;!&ndash;推进供给关系结构性改革，是党中央在全国范围内   是党中央在全国范围内  推进供给关系结构性改革，&ndash;&gt;-->
        <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="fix-file" ng-show="true">&ndash;&gt;-->
        <!--&lt;!&ndash;<h4>附件</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;<ul class="list-inline">&ndash;&gt;-->
        <!--&lt;!&ndash;<li>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="thubmail text-center">&ndash;&gt;-->
        <!--&lt;!&ndash;<img src="images/ideas/sug_img_one.png" class="img-responsive" alt="...">&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;<div class="caption">&ndash;&gt;-->
        <!--&lt;!&ndash;<h5>阿凡达...</h5>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--&lt;!&ndash;</ul>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</li>&ndash;&gt;-->

        <!--&lt;!&ndash;当没有内容的时候，就显示此图片&ndash;&gt;-->
        <!--<li class="no-list-pic" ng-show="hide_list==1">-->
            <!--<img src="images/ideas/no-ideas-pic.png" class="img-responsive no-details-pic alt="/>-->
            <!--<h4 class="text-center text-success alert-word">还没有创意，您可以发布一条创意</h4>-->
        <!--</li>-->
    <!--</ul>-->


    <div style="background:#ffffff;">
        <dirtable datasource="asd" option="qwe"></dirtable>
    </div>
    <button class="btn add-idea" ui-sref="home.ideas.add">发布</button>
    <!--<button class="go-top glyphicon glyphicon-menu-up"></button>-->
</div>


