<!--创意已经审批-->
<div class="ideasApproval">
    <!--has approval-->
    <div class="hasApproval" ng-show="hide_list==2">



        <div style="background:#ffffff;">
            <dirtable datasource="asd" option="qwe"></dirtable>
        </div>


        <table class="table table-bordered table-responsive text-center ">
            <thead  class="list-header">
            <tr >
                <!--<td><input type="checkbox"/></td>-->
                <td class="text-left">创意名称</td>
                <td>创建人</td>
                <td>创建日期</td>
                <td>部门</td>
                <td>标签</td>
                <td>状态</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="tmp in approList track by $index">
                <!--<td><input type="checkbox"/></td>-->
                <td  class="text-left">{{tmp.idea.name}}</td>
                <td>{{tmp.user.realname}}</td>
                <td>{{tmp.idea.created_at |date:'yyyy-MM-dd'}}</td>
                <td>{{tmp.depart.name}}</td>
                <!--<td><span ng-repeat="ite in tmp.idea.tags">{{ite}}</span> </td>   -->
                <td><span>{{tmp.idea.tags}}</span> </td>

                <td ng-switch on="tmp.idea.status">
                   <span ng-switch-when="0">审核中</span>
                   <span ng-switch-when="1">未通过</span>
                   <span ng-switch-when="2">通过</span>
                   <span ng-switch-when="3">已转化</span>
                </td>


            </tr>

            </tbody>
            <!--<tfoot>-->
            <!--<tr class="list-footer">-->
                <!--<td colspan="6" class="text-right">-->
                    <!--<ul class="list-inline my-bottom-page">-->
                        <!--<li>-->
                            <!--<label>每页显示</label>-->
                            <!--<select name="pageNum" ng-model="get_list.pageSize">-->
                                <!--<option value="10">10</option>-->
                                <!--<option value="15">15</option>-->
                                <!--<option value="20">20</option>-->
                            <!--</select>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<label>共<span>20</span>件创意，<span>1</span>/<span>20</span></label>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<button class="btn btn-sm glyphicon glyphicon-menu-left"></button>-->
                            <!--<button class="btn btn-sm glyphicon glyphicon-menu-right"></button>-->
                        <!--</li>-->
                        <!--<li>-->
                            <!--<label>跳转到</label>-->
                            <!--<input type="text" class="my-input" ng-model="get_list.pageIndex"/>-->
                            <!--<button class="btn " ng-click="get_wait_list()">GO</button>-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
        </table>
        <!--分页-->
        <div class="bottom-pagination">
            <uib-pagination template-url="../js/directives/pagination/pagination.html"
                            total-items="pageParam.totalItems"
                            ng-model="pageParam.currentPage"
                            max-size="pageParam.maxSize"
                            boundary-links="false"
                            ng-change="page_change()"
                            items-per-page="pageParam.perPageItems"
                            first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"
                            boundary-links="true" boundary-link-numbers="true">
            </uib-pagination>
        </div>
    </div>
    <!--no list pic-->
    <div ng-show="hide_list==1">
        <div class="no-list-pic"><!--当没有内容的时候，就显示此图片-->
            <img src="images/ideas/no-ideas-pic.png" class="img-responsive no-details-pic alt="/>
            <h4 class="text-center text-success alert-word">你还未收到创意审批</h4>
        </div>

    </div>
</div>