  <div class="appr_list_detail">
    <!--普通用户角色-->
    <div class="list-content"><!--中间的主体内容--详情编辑-->
        <ul class="media-list">
            <li class="media">
                <div class="media-left">
                    <div>
                        <img ng-show="!appr_detail[0].company_user.head_image"  class="media-object default-man-head-img" src="images/default-head.png" alt="...">

                        <div ng-show="appr_detail[0].company_user.head_image"   class="media-object default-man-head-img"  showimgcircle="appr_detail[0].company_user.head_image" ></div>
                    </div>
                </div>
                <div class="media-body">
                    <span class="media-heading" ng-bind="appr_detail[0].company_user.realname"> </span>
                    <p ng-bind="appr_detail[0].company_user.created_at | date:'yyyy-MM-dd'"></p>
                </div>
                    <div class="word-des">
                        <div class="top-alert"
                             ng-class="{'waiting':appr_detail[0].idea.status==0,'agree':appr_detail[0].idea.status==1,'disagree':appr_detail[0].idea.status==2}">
                            <div class="header-des">
                                <span>{{appr_detail[0].idea.name}}</span><!--专利名-->

                                <!--<b class="primate-right">专利</b>&lt;!&ndash;专利logo&ndash;&gt;-->
                                <!--<b class="logo">商标</b>-->
                                <!--<b class="logo" ng-repeat="tag in appr_detail[0].idea.tags track by $index">{{tag}}</b>-->

                                <!--<span class="logo">{{appr_detail[0].idea.tags}}</span>-->
                                <span class="logo" ng-repeat="tag in appr_detail[0].idea.tags" ng-bind="tag"></span>

                                <!--<button class="btn btn-sm btn-outline-green  stay-right" >删除</button>-->
                                <!--<button class="btn btn-sm btn-active " ui-sref="home.ideas.edit" >编辑</button>-->
                            </div>
                        </div>
                        <p class="word text-justify"><!--专利的内容-->
                             {{appr_detail[0].idea.basic_information}}
                        </p>
                    </div>
                    <div class="deal-sug">
                        <p  class="history-sug"> 以下为历史处理意见： </p><!--评论意见--->
                        <ul class="my-list-unstyled">
                            <li ng-repeat="app in appr_detail[0].idea_approval track by $index" ng-if="app.approval.approvalsts!=0"><!--过滤掉待审核的用户-->
                                <div class="media">
                                    <div class="media-left">
                                        <span></span>
                                        <a ng-switch on="app.approval.approvalsts" >
                                            <img  ng-switch-when="1"  class="media-object"  src="images/ideas/agree.png" alt="..."><!--1同意-->
                                            <!--<img  ng-switch-when="0"   class="media-object" src="images/ideas/wating-testing.png" alt="...">   &lt;!&ndash;0待审核&ndash;&gt;-->
                                            <img  ng-switch-when="2"  class="media-object" src="images/ideas/disagree.png" alt="..."><!--2不同意-->
                                            <!--<img  ng-switch-default=""  class="media-object" src="images/ideas/disagree.png" alt="...">-->
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <p>
                                            <b>{{app.user.realname}}：</b>
                                            <span>{{app.remark}}</span>
                                        </p>
                                        <p>
                                            <span>{{app.approval.created_at | date:"yyyy-MM-dd h:mm:ss a"}}</span>
                                            &nbsp;&nbsp;
                                            <b class="text-success" ng-if="app.approval.approvalsts=='1'">同意</b>
                                            <b class="text-danger" ng-if="app.approval.approvalsts=='2'">不同意</b>
                                            <!--<b class="text-info"   ng-if="app.approval.approvalsts=='0'">待审核</b>-->
                                        </p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="next-processor-sug">
                            <div class="alert-no-info"  ng-class="{'show-alert':alert_no_info==true}">请填写处理意见</div>
                            <h5 style="margin-bottom:20px">处理动作：
                                <i class="agree-btn active"  ng-click="agree_tab()" ng-class="{active:agreeTab==true}"></i>同意
                                <i class="agree-btn" ng-click="dis_agree_tab()"      ng-class="{active:agreeTab==false}"></i>不同意
                            </h5>
                            <!--<textarea class="getWords">请输入你的处理意见</textarea>-->
                            <!--<textarea name="" id="" cols="80" rows="3" class="getWords" placeholder="请输入你的处理意见"  ng-model="addComment.remark"></textarea>-->
                            <textarea name="" id="" cols="80" rows="3" class="getWords" placeholder="请输入你的处理意见"
                                      ng-model="mock_current_approval.remark"
                                      ng-focus="get_focus()"
                                    ></textarea>
                            <div class="next-processor" ng-class="{'hide-next-processor':mock_current_approval.approvalsts==2}">
                                <p style="font-size:16px">下一步处理人：</p>
                                <ul class="list-inline">
                                    <!--<li class="text-center" >-->
                                    <!--<div class="processor-content text-center can-delete">-->
                                    <!--<img src="images/ideas/add/adder_one.png" class="adder" alt=""/>-->
                                    <!--<p class="official-name">创意管理员</p>-->
                                    <!--<span class="shadow_box text-center glyphicon glyphicon-trash "  >-->
                                    <!--&lt;!&ndash;遮罩阴影层&ndash;&gt;-->
                                    <!--</span>-->
                                    <!--</div>-->
                                    <!--<h5>陈咪咪</h5>-->
                                    <!--</li>-->
                                    <li class="text-center"  ng-repeat="sure_user in sure_user_list track by $index"><!--ng-hide="hide_add_user"-->
                                        <div class="processor-content text-center can-delete">
                                            <img  ng-if="!sure_user.head_image"  src="images/default-head.png"   class="adder" alt=""/>
                                            <img    ng-if="sure_user.head_image"    showimgcircle="sure_user.head_image" class="adder" alt=""/>
                                            <p class="official-name" ng-show="sure_user.rolename">{{sure_user.rolename}} </p>
                                             <span class="shadow_box text-center glyphicon glyphicon-trash "
                                                   ng-click="delete_user(sure_user.id)">
                                                 <!--遮罩阴影层-->
                                             </span>
                                        </div>
                                        <h5>{{sure_user.realname}}</h5>
                                    </li>

                                    <!--<li class="text-center">-->
                                    <!--<div class="processor-content text-center can-delete">-->
                                    <!--<img src="images/ideas/add/adder_one.png" class="adder" alt=""/>-->
                                    <!--<p class="official-name">创意管理员</p>-->
                                    <!--<span class="shadow_box text-center glyphicon glyphicon-trash ">-->
                                    <!--&lt;!&ndash;遮罩阴影层&ndash;&gt;-->
                                    <!--</span>-->
                                    <!--</div>-->
                                    <!--<h5>陈咪咪</h5>-->
                                    <!--</li>-->
                                    <li class="text-center" ng-click="add_user()"><!--增加-->
                                        <div class="text-center">
                                            <img src="images/ideas/add/add_processor_plus.png" class="adder" alt=""/>
                                        </div>
                                        <h5>&nbsp;</h5>
                                    </li>
                                </ul>
                            </div>
                            <p class="bottom-btn text-center">
                                <button type="submit" class="my-btn-lg" ng-class="{'btn-active':alert_no_info==false}" ng-click="finished_edit()" ng-disabled="alert_no_info" >保存</button>
                                <button class="  my-btn-lg btn-outline-green" ng-click="cancel_save()">不保存</button>
                            </p>
                        </div>

                    </div>

            </li>
        </ul>
        <!--ng-show="add_user_show"-->
        <!--ng-class="{'fadeInRight':,'animated': }-->
        <!--这是有右边 的添加用户导航-->
        <div class="next-processor-add  active"  ng-class="{'show-box':add_user_show}" ><!--右边的添加用户弹出框添加active就可以显示--->
            <!--这是有右边 的添加用户导航-->
            <div class="my-list-header">
                <div class="adder-processor-header">
                    <p>
                        <span class="choice-person-num">已经选择了{{length}}个联系人</span>
                        <a class="btn  btn-sm  btn-active" ng-click="sure_add_user();add_user()">确认</a>
                        <a  class="btn btn-sm btn-default " ng-click="cancel_choice();add_user()">取消</a>
                    </p>
                    <ul class="list-inline user-list" >
                        <!--<li class="list-li-box text-center">-->
                        <!--<img src="images/ideas/add/adder_one.png" alt=""/>-->
                        <!--&lt;!&ndash;<i class="my-close active">x</i>&ndash;&gt;-->
                        <!--<p>陈默默</p>-->
                        <!--</li>-->

                        <li class="list-li-box text-center" ng-repeat="pre_user in pre_user_list">
                            <img ng-if="!pre_user.head_image" src="images/default-head.png"   alt=""/>

                            <img   ng-if="pre_user.head_image"  showimgcircle="pre_user.head_image" alt=""/>
                            <!--<i class="my-close active" ng-click="choice_user(false,pre_user.name,pre_user.img,pre_user.id)">x</i>-->
                            <p>{{pre_user.name}}</p>
                        </li>

                    </ul>
                </div>
                <div class="next-processor-searcher"><!--搜索框-->
                    <input type="text" class="get-search-keyWords" placeholder="请输入关键字" ng-model="name"/>
                    <img src="images/ideas/search_icon.png" class="get-search-icon hand" ng-click="get_exact_user(name)"  alt=""/>
                </div>
            </div>

            <ul class="processor-list list-unstyled"> <!--人物列表-->
                <li class="name-certify" ng-repeat="user in userList track by user.id">
                    <!--<h4>A</h4>-->
                    <ul class="list-unstyled processor-icon-list">
                        <li>
                            <img    class="man-header-icon" ng-if="!user.head_image" src="images/default-head.png"  alt=""/><!--src="images/ideas/add/adder_one.png"-->
                            <img    class="man-header-icon"  ng-if="user.head_image"  showimgcircle="user.head_image" alt=""/><!--src="images/ideas/add/adder_one.png"-->

                            <div class="processor-name">
                                <span >{{user.name}}</span>
                                <i class="dot-circle"

                                   ng-click="choiced_flag_changed(user.id);choice_user(user.choice,user.name,user.head_image,user.id)"
                                   ng-class="{active:user.choice}">

                                </i>
                            </div>
                        </li>

                    </ul>
                </li>
            </ul>


        </div>
    </div>

  </div>


