<div class="ideas-detail">
        <div class="list-content">
            <ul class="media-list">
                <li class="media">
                    <div class="media-left">
                        <a href="#">
                            <img  ng-show="detailIdeas.company_user.head_image" class="media-object" ng-src="{{detailIdeas.company_user.head_image}}" alt="...">
                            <img  ng-show="!detailIdeas.company_user.head_image" class="media-object default-man-head-img" src="images/default-head.png" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <span class="media-heading">{{detailIdeas.company_user.realname}}</span>
                        <p>{{detailIdeas.company_user.updated_at | date:"yyyy-MM-dd"}}</p>
                    </div>
                    <div class="word-des">
                        <div class="top-alert"><!--通过，不通过，审核中 三种状态的图片不同-->
                            <img  src="images/ideas/pass/testing.png" alt="" class="mark-icon my-img"  ng-show="detailIdeas.idea.status==0"/>
                            <img src="images/ideas/pass/fail.png"     alt="" class="mark-icon my-img" ng-show="detailIdeas.idea.status==1"/>
                            <img src="images/ideas/pass/passed.png"   alt="" class="mark-icon my-img" ng-show="detailIdeas.idea.status==2"/>
                            <div class="header-des">
                                <span >{{detailIdeas.idea.name}}</span>
                                <!--<b class="primate-right">专利</b>-->
                                <!--<b class="logo" ng-repeat="tag in detailIdeas[0].idea.tags track by $index" >{{tag}} </b>-->

                                <!--<b class="logo">{{detailIdeas.idea.tags}} </b>-->
                                <b class="logo" ng-repeat="tag in detailIdeas.idea.tags" ng-bind="tag"></b>



                                <!--<div class="pull-right">-->
                                    <!--<button class="btn-outline-green"    ng-click="remove_ideas()">删除</button>-->
                                    <!--<button class="btn-outline-green active"-->
                                            <!--ui-sref="home.ideas.edit({id:detailIdeas[0].idea.id})"-->
                                            <!--编辑</button>&lt;!&ndash;ng-click="edit_ideas()"&ndash;&gt;-->
                                <!--</div>-->
                            </div>
                        </div>
                        <p class="text-justify word">
                           {{detailIdeas.idea.basic_information}}
                        </p>
                    </div>
                    <div ng-show="hide_next_sug==1"> <!--ng-init="hdie_tag=false"  ng-hide="hide_tag"--><!--点击收藏--->
                        <div class="deal-sug" >
                            <h4  class="my-title"> <b>以下为历史处理意见：</b> </h4>
                            <ul class="my-list-unstyled">
                                <li ng-repeat="comment in detailIdeas.idea_approval" ng-if="comment.approval.approvalsts!=0">
                                    <div class="media">
                                        <div class="media-left">
                                            <a href="#"><!--src="images/ideas/agree.png"-->
                                                <img class="media-object"  ng-src="images/ideas/agree.png"
                                                     ng-show="comment.approval.approvalsts==1">
                                                <img class="media-object"  ng-src='images/ideas/disagree.png'
                                                     ng-show="comment.approval.approvalsts==2">
                                                <img class="media-object"  ng-src='images/ideas/wating-testing.png'
                                                     ng-show="comment.approval.approvalsts==0">
                                            </a>
                                        </div>
                                        <div class="media-body">
                                            <p>
                                                <b>{{comment.user.realname}}：</b>
                                                <span>{{comment.approval.remark}}</span>
                                            </p>
                                            <p>
                                                <span>{{comment.approval.created_at |date:'yyyy-MM-dd HH:mm:ss'}}</span>&nbsp;&nbsp;
                                                <b class="text-success"
                                                   ng-show="comment.approval.approvalsts==1">同意</b>
                                                <b class="text-info" ng-show="comment.approval.approvalsts==0">待审批</b>
                                                <b class="text-danger"  ng-show="comment.approval.approvalsts==2">不同意</b>

                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <!--<li >-->
                                    <!--<div class="media">-->
                                        <!--<div class="media-left">-->
                                            <!--<a href="#">-->
                                                <!--<img class="media-object" src="images/ideas/wating-testing.png" alt="...">-->
                                            <!--</a>-->
                                        <!--</div>-->
                                        <!--<div class="media-body">-->
                                            <!--<p><b>张总：</b><b class="text-info">待审核</b></p>-->
                                        <!--</div>-->
                                    <!--</div>-->
                                <!--</li>-->
                            </ul>
                        </div>
                        <!--<div class="up-down text-center"  ng-click="hide_tag=!hide_tag">&lt;!&ndash;点击收藏-&ndash;&gt;-->
                            <!--<span>收起处理意见</span>-->
                            <!--<p>-->
                                <!--<img src="images/ideas/down.png" alt=""/>-->
                            <!--</p>-->
                        <!--</div>-->
                    </div>
             </li>
            </ul>
        </div>
</div>



