<!--创意的编辑页面-->
<!--<div class="ideas-edit">
    <div class="edit-box">
        <h3 class="text-center my-title">编辑创意</h3>
         <ul class=" list-inline text-center">
             &lt;!&ndash;<li><a href=""  class="btn-logo"&ndash;&gt;

                    &lt;!&ndash;ng-click="pr=!pr;addTag('专利',pr)"&ndash;&gt;
                    &lt;!&ndash;ng-class="{true:'active',false:''}[pr]"&ndash;&gt;
                     &lt;!&ndash;专利</a></li>&ndash;&gt;

             &lt;!&ndash;<li >&ndash;&gt;
                 &lt;!&ndash;<a   class="btn-logo"&ndash;&gt;
                      &lt;!&ndash;ng-click="cl=!cl;addTag('商标',cl)"&ndash;&gt;
                      &lt;!&ndash;ng-class="{true:'active',false:''}[cl]">&ndash;&gt;
                     &lt;!&ndash;商标&ndash;&gt;
                 &lt;!&ndash;</a>&ndash;&gt;
             &lt;!&ndash;</li>&ndash;&gt;
             &lt;!&ndash;<li><a href="" class="btn-logo"&ndash;&gt;
                    &lt;!&ndash;ng-click="cr=!cr;addTag('版权',cr)"&ndash;&gt;
                    &lt;!&ndash;ng-class="{true:'active',false:''}[cr]"&ndash;&gt;
                     &lt;!&ndash;版权</a></li>&ndash;&gt;
             &lt;!&ndash;<li><a href="" class="btn-logo"&ndash;&gt;

                    &lt;!&ndash;ng-click="dn=!dn;addTag('域名',dn)"&ndash;&gt;
                    &lt;!&ndash;ng-class="{true:'active',false:''}[dn]"&ndash;&gt;
                     &lt;!&ndash;域名</a></li>&ndash;&gt;
             <li class="hand">
                 <a class="btn-logo"
                    ng-init="pr=false"
                    ng-click="pr=!pr;cl=cr=dn=false;addTag('专利',pr)"
                    ng-class="{true:'active',false:''}[pr]">
                     专利
                 </a>
             </li>
             <li class="hand">
                 <a class="btn-logo"
                    ng-init="cl=false"
                    ng-click="cl=!cl;pr=cr=dn=false;addTag('商标',cl)"
                    ng-class="{true:'active',false:''}[cl]">
                     商标
                 </a>
             </li>
             <li class="hand">
                 <a class="btn-logo"
                    ng-init="cr=false"
                    ng-click="cr=!cr;pr=cl=dn=false;addTag('版权',cr)"
                    ng-class="{true:'active',false:''}[cr]"
                         >版权</a></li>
             <li class="hand"><a class="btn-logo"
                    ng-init="dn=false"
                    ng-click="dn=!dn;pr=cl=cr=false;addTag('域名',dn)"
                    ng-class="{true:'active',false:''}[dn]"
                     >域名</a></li>
         </ul>
        <form name="idea_info">
            <input type="text" name="idea_title" autocomplete="off" required ng-minlength="5" ng-maxlength="20"  class="form-control my-panel-title" placeholder="创意标题"
                   ng-model="Ideas_wait_edit[0].idea.name">
            <div>&lt;!&ndash;ng-messages="idea_info.idea_content.$error"&ndash;&gt;
                <p class="my-help-block" ng-show="idea_info.idea_title.$error.minlength || idea_info.idea_title.$error.maxlength">标题名5-20个字符</p>
                <p class="my-help-block" ng-show="idea_info.idea_title.$error.required && idea_info.$dirty">标题名必填</p>
                &lt;!&ndash;<div ng-messages-include="email-messages.html"></div>&ndash;&gt;
                &lt;!&ndash;<span class="help-block"  >请输入创意标题（2~30）个字符！</span>&ndash;&gt;
            </div>
            <textarea class="form-control new-basic-info" rows="3" placeholder=" 创意基本信息" name="idea_content"  required ng-maxlength="500"
                      ng-model="Ideas_wait_edit[0].idea.basic_information">
            </textarea>
            <div>
                <p class="my-help-block" ng-show="idea_info.idea_content.$error.maxlength">创意内容描述不多余于300字符</p>
                <p class="my-help-block" ng-show="idea_info.idea_content.$error.required && idea_info.$dirty">创意内容描述必填</p>
            </div>
        &lt;!&ndash;<input class="my-panel-title" type="text"/>&ndash;&gt;
        &lt;!&ndash;<div class="new-basic-info">&ndash;&gt;
          &lt;!&ndash;创意基本信息&ndash;&gt;
        &lt;!&ndash;</div>&ndash;&gt;
            <div>
                <ul class="list-inline">
                    &lt;!&ndash;<li>&ndash;&gt;
                        &lt;!&ndash;<div class="thubmail text-center">&ndash;&gt;
                            &lt;!&ndash;<img src="images/ideas/sug_xs_one.png"  class="img-responsive" alt="...">&ndash;&gt;
                        &lt;!&ndash;</div>&ndash;&gt;
                        &lt;!&ndash;<div class="caption">&ndash;&gt;
                            &lt;!&ndash;<h5>阿凡达...</h5>&ndash;&gt;
                        &lt;!&ndash;</div>&ndash;&gt;
                    &lt;!&ndash;</li>&ndash;&gt;
                   &lt;!&ndash; <li class="" ng-repeat="a_item in Ideas_wait_edit[0].idea.attachments_array">
                        <div class="thubmail text-center t">
                            <img style="margin: 0 auto" src="images/ideas/sug_wd_one.png" class="img-responsive" alt="{{a_item.name}}">
                        </div>
                        <div class="caption">
                            <h5>{{a_item.name|limitTo:10}}</h5>
                        </div>
                    </li>&ndash;&gt;
                     <li class="plus-fix">
                         <div class="thubmail text-center">
                             &lt;!&ndash;<img src="images/ideas/addPlus.png"  class="img-responsive" alt="...">&ndash;&gt;
                             <myfileuploaderhorizontal
                                     id="horizontalid"
                                     filecount="3"
                                     filetype="pdf,doc,docx,ppt,pptx,wps"
                                     filesvalue="Ideas_wait_edit[0].idea.attachments"
                                     uploadcomplete="uploadcomplete_img(fileids)">
                             </myfileuploaderhorizontal>
                         </div>
                         <div class="caption">
                             <h5></h5>
                         </div>
                     </li>
                </ul>
            </div>
            <p class="bottom-btn text-center">
                <button type="submit" class=" my-btn-lg btn-outline-green" ng-click="edit_ideas_finish()" ng-class="{'btn-active':!idea_info.$invalid}" ng-disabled="idea_info.$invalid">保存</button>
                <button class="my-btn-lg btn-outline-green" ng-click="cancel_edit()">取消</button>
            </p>
        </form>
    </div>
</div>-->

<div class="ideas-edit-new">
    <div class="add-btn">
        <button type="submit" ng-click="edit_ideas_finish()" ng-class="{'btn-active':!idea_info.$invalid}" ng-disabled="idea_info.$invalid">
            发布
        </button>
    </div>
    <div class="add-content">
        <form name="idea_info" novalidate>
            <div class="add-head-title">
                <span>当前节点:</span>
                <span>编辑创意</span>
                <span>处理人:</span>
                <span>普通用户</span>
            </div>
            <div class="add-details">
                <div class="add-details-content">
                    <div class="add-details-list">
                        <span>创意类型</span>
                        <select name="ideasType" ng-model="ideas.tags" id="">
                            <option value="">选择类型</option>
                            <option value="专利">专利</option>
                            <option value="商标">商标</option>
                            <option value="版权">版权</option>
                            <option value="域名">域名</option>

                        </select>
                    </div>
                    <div class="add-details-list">
                        <span>创意标题</span>
                        <input  type="text" name="idea_title" autocomplete="off" required ng-minlength="5" ng-maxlength="20"  class="my-panel-title" placeholder="创意标题"
                                ng-model="Ideas_wait_edit[0].idea.name"/>
                    </div>
                    <div class="add-details-list">
                        <div class="some-spe">创意内容</div>
                    <textarea rows="3" name="idea_content" required ng-maxlength="300"
                              ng-model="Ideas_wait_edit[0].idea.basic_information">
                    </textarea>
                    </div>
                    <div class="add-details-list">
                        <span class="span-style">上传文件</span>
                        <myfileuploaderhorizontal
                                id="horizontalids"
                                filecount="3"
                                filetype="pdf,doc,docx,ppt,pptx,wps"
                                filesvalue="Ideas_wait_edit[0].idea.attachments"
                                uploadcomplete="uploadcomplete(fileids)">
                        </myfileuploaderhorizontal>
                    </div>
                </div>
            </div>
        </form>
    </div>


</div>



