<div class="my-ideas-list">
    <div class="detail-list">


        <div style="background:#ffffff;">
            <dirtable datasource="asd" option="qwe"></dirtable>
        </div>
        <!--<ul class="media-list">-->
            <!--<li class="media" ng-repeat="tmp in myIdeasList track by $index" ng-show="hide_list==2">-->
                <!--<div class="media-left" >-->
                    <!--<div>-->
                        <!--<img class="media-object default-man-head-img" ng-if="!tmp.user.head_image" src="images/default-head.png" alt="...">&lt;!&ndash;人物的图想&ndash;&gt;-->
                        <!--<div class="media-object default-man-head-img"  ng-if="tmp.user.head_image"  showimgcircle="tmp.user.head_image">-->
                        <!--</div>-->
                            <!--&lt;!&ndash;人物的图想&ndash;&gt;-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="media-body">-->
                    <!--<span class="media-heading">{{tmp.user.realname}}</span>&lt;!&ndash;人物的名字&ndash;&gt;-->
                    <!--<p>{{tmp.user.updated_at | date:'yyyy-MM-dd HH:mm:ss'}}</p>&lt;!&ndash;时间&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="word-des">-->
                    <!--&lt;!&ndash;ui-sref="home.ideas.details({id:tmp.idea.id})"&ndash;&gt;-->
                    <!--<div class="top-alert">-->
                        <!--<img src="images/ideas/pass/testing.png" alt="" class="mark-icon my-img"  ng-show="tmp.idea.status==0"/>-->
                        <!--<img src="images/ideas/pass/fail.png" alt="" class="mark-icon my-img" ng-show="tmp.idea.status==1"/>-->
                        <!--<img src="images/ideas/pass/passed.png" alt="" class="mark-icon my-img" ng-show="tmp.idea.status==2"/>-->
                        <!--<div class="header-des">-->
                            <!--<span class="hand"  ui-sref="home.ideas.details({id:tmp.idea.id})">{{tmp.idea.name}}</span>&lt;!&ndash;标题名&ndash;&gt;-->
                            <!--&lt;!&ndash;<b class=" board-right" ng-repeat="tag in tmp.idea.tags track by $index" ng-bind="tag"></b>&ndash;&gt;-->

                            <!--&lt;!&ndash;<span class="logo"   ng-bind="tmp.idea.tags"></span>&ndash;&gt;-->
                            <!--<span class="logo" ng-repeat="tag in tmp.idea.tags"  ng-bind="tag"></span>-->

                            <!--&lt;!&ndash;<b class="sug">提案</b>&ndash;&gt;-->
                            <!--<div class="pull-right">-->
                                <!--<button class="my-btn  stay-right"  ng-click="remove_ideas(tmp.idea.id)" ng-show="idea_right.del">删除</button>-->
                                <!--<button class="my-btn active"-->
                                        <!--ui-sref="home.ideas.edit({id:tmp.idea.id})" ng-show="idea_right.edit">编辑-->
                                <!--</button>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<p class="word text-justify hand"  ui-sref="home.ideas.details({id:tmp.idea.id})">&lt;!&ndash;内容&ndash;&gt;-->
                        <!--{{tmp.idea.basic_information}}-->
                    <!--</p>-->
                    <!--&lt;!&ndash;接口没有&ndash;&gt;-->
                    <!--<div  class="fix-file" ng-show="tmp.idea.attachments">-->
                        <!--<h4>附件</h4>-->
                        <!--<ul class="list-inline">-->
                            <!--&lt;!&ndash;<li>-->
                                <!--<div class="thubmail text-center">-->
                                    <!--<img src="images/ideas/sug_img_one.png" class="img-responsive" alt="...">-->
                                <!--</div>-->
                                <!--<div class="caption">-->
                                    <!--<h5>阿凡达...</h5>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<div class="thubmail text-center">-->
                                    <!--<img src="images/ideas/sug_pdf_one.png" class="img-responsive" alt="...">-->
                                <!--</div>-->
                                <!--<div class="caption">-->
                                    <!--<h5>阿凡达...</h5>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<div class="thubmail text-center">-->
                                    <!--<img src="images/ideas/sug_ppt_one.png" class="img-responsive" alt="...">-->
                                <!--</div>-->
                                <!--<div class="caption">-->
                                    <!--<h5>阿凡达...</h5>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="">-->
                                <!--<div class="thubmail text-center t">-->
                                    <!--<img src="images/ideas/sug_wd_one.png" class="img-responsive" alt="...">-->
                                <!--</div>-->
                                <!--<div class="caption">-->
                                    <!--<h5>阿凡达...</h5>-->
                                <!--</div>-->
                            <!--</li>-->
                            <!--<li class="">-->
                                <!--<div class="thubmail text-center">-->
                                    <!--<img src="images/ideas/sug_xs_one.png"  class="img-responsive" alt="...">-->
                                <!--</div>-->
                                <!--<div class="caption">-->
                                    <!--<h5>阿凡达...</h5>-->
                                <!--</div>-->
                            <!--</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="" ng-repeat="a_item in tmp.ideas.attachments_array">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="thubmail text-center t">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<img src="images/ideas/sug_wd_one.png" class="img-responsive" alt="...">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="caption">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<h5>{{a_item.name|limitTo:10}}</h5>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--&lt;!&ndash;<div>{{"测试附件 "+temp.idea.attachments_array[0].name}}</div>&ndash;&gt;-->
                            <!--<li class="" ng-repeat="a_item in tmp.idea.attachments_array" ng-click="down_file(a_item.file_id)">-->
                                <!--<div class="thubmail text-center ">-->
                                    <!--<img style="margin:0 auto" src="images/ideas/sug_wd_one.png" class="img-responsive hand" alt="{{a_item.name}}">-->
                                <!--</div>-->
                                <!--<div class="caption">-->
                                    <!--<h5>{{a_item.name|limitTo:10}}</h5>-->
                                <!--</div>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</li>-->

            <!--&lt;!&ndash;分页&ndash;&gt;-->
            <!--<li ng-show="hide_list==2">-->
                <!--<div class="bottom-pagination">-->
                    <!--<uib-pagination template-url="../js/directives/pagination/pagination.html"-->
                                    <!--total-items="pageParam.totalItems"-->
                                    <!--ng-model="pageParam.currentPage"-->
                                    <!--max-size="pageParam.maxSize"-->
                                    <!--boundary-links="false"-->
                                    <!--ng-change="page_change()"-->
                                    <!--items-per-page="pageParam.perPageItems"-->
                                    <!--first-text="第一页" previous-text="上一页" next-text="下一页" last-text="最后页"-->
                                    <!--boundary-links="true" boundary-link-numbers="true">-->
                    <!--</uib-pagination>-->
                <!--</div>-->
            <!--</li>-->

            <!--<li class="no-list-pic" ng-show="hide_list==1">&lt;!&ndash;当没有内容的时候，就显示此图片&ndash;&gt;-->
                <!--<img src="images/ideas/no-ideas-pic.png" class="img-responsive no-details-pic alt="/>-->
                <!--<h4 class="text-center text-success alert-word">还没有创意，您可以发布一条</h4>-->
            <!--</li>-->
        <!--</ul>-->
    </div>
    <button class="btn add-idea" ui-sref="home.ideas.add">发布</button>
</div>
