<div class="scene_choice">
    <div class="choice-content">
        <div class="top">
        </div>
        <div class="content">
            <div class="choice_box">
                <!--当前用户没有加入或者创建过企业-->
                <div class="no_in" ng-if="company_count==0">
                    <div class="set_tri"></div>
                    <div class="back hand" ui-sref="account.login"><img src="../images/scene/back.png" alt=""/></div>
                    <div class="choice">选择场景</div>
                    <div class="active ask_in hand" ui-sref="scene.apply">申请加入企业</div>
                    <div class="new hand" ui-sref="scene.new">创建新企业</div>
                    <div class="personal_manage hand">管理个人知识产权</div>
                </div>
                <!--当前用户有加入或者创建过企业-->
                <div class="had_in hand" ng-if="company_count>0">
                    <div class="choice">选择场景</div>
                    <div class="set_scroll">
                        <div  ng-repeat="item in companys" class="ask_in hand" ng-bind="item.name"
                              ng-click="choice(item)">深圳峰创智诚科技有限公司
                        </div>
                    </div>
                    <!-- <div class="active ask_in hand">深圳峰创智诚科技有限公司</div>
                     <div class="ask_in hand">深圳市华第时代科技有限公司</div>-->
                    <div style="overflow:hidden">
                        <div class="create_in hand" ui-sref="scene.edit"><span>创建 | 加入新企业</span><img
                                src="../images/scene/goto.png" alt=""/></div>
                    </div>
                    <div class="personal_manage hand">管理个人知识产权</div>
                </div>
            </div>
            <div class="bottom" style="display:none">
                <p>联系客服：400-884-0588</p>

                <p>深圳市华第时代科技有限公司</p>
            </div>
        </div>
    </div>
</div>