<div class="scene_new">
    <div class="new-content">
        <div class="top">
        </div>
        <div class="content">
            <form>
                <div class="new_box">
                    <!--没加入过任何企业-->
                    <div class="no_in">
                        <div class="set_tri"></div>
                        <div class="back hand"  ui-sref="scene.edit"><img src="../images/scene/back.png" alt=""/></div>
                        <div class="create_epr">创建企业</div>
                        <div class="active in_epr">
                            <input class="active" ng-click="get_input()" autofocus="autofocus" ng-model="name" type="text" placeholder="|请输入企业全称"/>
                        </div>
                        <div class="set_height">
                            <p ng-if="isWrong" class="set_red">{{massage}}</p>
                        </div>
                        <select  name='ctype' class="active choose_epr"  ng-model="ctype">
                            <option value="{{x}}" ng-repeat="x in names">{{x}}</option>
                        </select>
                    </div>
                    <!--已加入-->
                    <!-- <div class="had_in">
                         <div class="set_tri"></div>
                         <div class="back hand"  ui-sref="scene.edit"><img src="../images/scene/back.png" /></div>
                         <div class="create_epr">创建企业</div>
                         <div class="in_epr set_border"><input type="text"  ng-click="get_input()" ng-model="name" placeholder="|请输入企业全称"/>
                         </div>
                         <div class="set_height">
                             <p ng-if="isWrong" class="set_red">{{massage}}</p>
                         </div>
                         <select  name='ctype' class="active choose_epr"  ng-model="ctype">
                             <option value="{{x}}" ng-repeat="x in names">{{x}}</option>
                         </select>
                     </div>-->
                    <button ng-click="createCompany()" class="create">立即创建</button>
                </div>
            </form>
        </div>
        <div class="bottom"  style="display:none">
            <p>联系客服：400-884-0588</p>
            <p>深圳市华第时代科技有限公司</p>
        </div>

    </div>
</div>
