//基本参数
$m-color:#0050a3;
$m-font-color:#707070;
$m-highlight-color:#f48a36;
$m-font-size:12px;
$f-font-size:13px;
$s-font-size:12px;

$mc:#0050a3;

$mfc:#707070;

$mhc:#f48a36;

$mfz:12px;

$ffz:13px;

$sfz:12px;


$btn-height:18px;
$btn-font-size:12px;
$btn-top-padding:4px;
$btn-bottom-padding:4px;
$btn-back-color:#f48a36;
$btn-font-color:#ffffff;
$h-font-color:#707070;
$btn-left-right-padding:12px;
$btnlrp:12px;
$bh:18px;
$bfs:12px;
$btp:4px;
$bbp:4px;
$bbc:#f48a36;
$bfc:#ffffff;
$bhfc:#707070;
$table-head-back:#0050a3;
$table-head-height:34px;
$table-content-height:35px;
$table-head-font-color:#ffffff;
$table-content-font-color:#707070;
$thb:#0050a3;
$thh:34px;
$tch:35px;
$thfc:#ffffff;
$tcdc:#707070;
//输入
$input-border-color:#bfbfbf;
$input-highlight-border-color:#0050a3;
$input-font-color:#525252;
$input-height:24px;
$input-font-size:12px;
$input-left-padding:6px;
$text-min-height:72px;



$ibc:#bfbfbf;

$ihbc:#0050a3;

$ifc:#525252;

$ih:24px;

$ifs:12px;

$ilp:6px;

$tmh:72px;



